<header id="ids-hero">
  <img src="/img/ids/bg-hero.svg" class="d-none d-sm-block bg-hero" />
  <img src="/img/ids/hero-vector.svg" class="img-vector" />
  <!-- <img src="/img/creators/creators-header-mobile.svg" class="d-sm-none bg-hero" /> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="header-content">
          <div class="header-title text-lighter-green">Koii IDs</div>
          <h3 class="header-description text-white">
            Link your identity across blockchains & easily manage your keys and
            NFTs—
            <br /><b class="text-orange">Completely decentralized.</b>
          </h3>
          <p class="text-white">
            Using the Finnie Wallet from Koii Network you can:
          </p>
          <ul class="text-white">
            <li>
              Keep all your cross-chain keys and NFTs in one easy-to-use place
            </li>
            <li>
              Create a decentralized profile with the links you want to share
            </li>
            <li>
              Easily share your contact info with a simple link instead of a
              32-character wallet address
            </li>
          </ul>
          <a
            class="btn btn-greenLightest"
            target="_blank"
            href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj"
            >Set Up My Decentralized ID</a
          >
        </div>
      </div>
      <div class="col-sm-6">
        <div class="video-item">
          <div class="video-title text-white mb-2">It’s quick and easy:</div>
          <iframe
            class="lazy"
            src="https://www.youtube.com/embed/hdA1qVPZjiA"
            width="501"
            height="266"
            frameborder="0"
            allowtransparency="true"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
          <div class="video-description text-white mt-3">
            Need help getting Finnie set up? Check out the tutorial.
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
