<header id="ids-hero">
  <img src="/img/ids/bg-hero.svg" class="d-none d-sm-block bg-hero" />
  <img src="/img/ids/bg-hero-mobile.svg" class="d-sm-none bg-hero-mobile" />
  <img src="/img/ids/hero-vector.svg" class="img-vector d-none d-sm-block" />
  <img src="/img/ids/hero-vector-mobile.svg" class="img-vector d-sm-none" />
  <!-- <img src="/img/creators/creators-header-mobile.svg" class="d-sm-none bg-hero" /> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="header-content">
          <div class="header-title text-light-green">Koii IDs</div>
          <h3 class="header-description text-white">
            Link your identity across blockchains & easily manage your keys and
            NFTs—
            <br /><b class="text-orange">Completely decentralized.</b>
          </h3>
          <div class="video-item-mobile d-sm-none">
            <div class="video-title text-white mb-2">It’s quick and easy:</div>
            <iframe
              class="lazy d-sm-none"
              src="https://www.youtube.com/embed/hdA1qVPZjiA"
              width="100%"
              height="194"
              frameborder="0"
              allowtransparency="true"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            ></iframe>
            <div class="video-description text-white mt-0 mt-sm-3">
              Need help getting Finnie set up?
              <a href="#" class="text-white">Check out the tutorial.</a>
            </div>
          </div>
          <a
            tabindex="0"
            class="btn btn-greenLightest d-sm-none"
            role="button"
            data-html="true"
            data-placement="top"
            data-toggle="popover"
            data-trigger='focus'
            data-container='#ids-hero'
            data-content="<div>The mobile version of the Finnie wallet is still in progress. To get a Koii ID, visit <a href='#' class='text-light-green'>koii.id</a> from a computer.</div>"
            >Set Up My Decentralized ID</a
          >
          <h6 class="text-white">
            Using the Finnie Wallet from Koii Network you can:
          </h6>
          <ul class="text-white">
            <li>
              Keep all your
              <b class="text-orange">cross-chain keys and NFTs</b> in one
              easy-to-use place
            </li>
            <li>
              Create a decentralized profile with the links you want to share
            </li>
            <li>
              Easily share your contact info with a simple link instead of a
              32-character wallet address
            </li>
          </ul>
          <a class="btn btn-greenLightest d-none d-sm-flex" href="#"
            >Set Up My Decentralized ID</a
          >
        </div>
      </div>
      <div class="col-sm-6">
        <div class="video-item d-none d-sm-flex">
          <div class="video-title text-white mb-2">It’s quick and easy:</div>
          <iframe
            class="lazy d-none d-sm-block"
            src="https://www.youtube.com/embed/hdA1qVPZjiA"
            width="501"
            height="266"
            frameborder="0"
            allowtransparency="true"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
          <div class="video-description text-white mt-3">
            Need help getting Finnie set up? Check out the tutorial.
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
