<header id="ids-options">
  <img src="/img/ids/bg-options.svg" class="bg-options d-none d-sm-block" />
  <img src="/img/ids/bg-options-mobile.svg" class="bg-options d-sm-none" />
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-6">
        <div class="option-wrapper">
          <img src="/img/ids/options1.svg" />
          <h6>Cross-chain wallet</h6>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="option-wrapper">
          <img src="/img/ids/options2.svg" />
          <h6>One-click NFT<br /> Bridging</h6>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="option-wrapper">
          <img src="/img/ids/options3.svg" />
          <h6>Personalized<br /> Profile Page</h6>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="option-wrapper">
          <img src="/img/ids/options4.svg" />
          <h6>NFT Gallery</h6>
        </div>
      </div>
    </div>
  </div>
</header>
