<header id="ids-options">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-12">
        <div class="option-wrapper">
          <img src="/img/ids/options1.svg" />
          <h6>Cross-chain wallet</h6>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="option-wrapper">
          <img src="/img/ids/options1.svg" />
          <h6>Cross-chain wallet</h6>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="option-wrapper">
          <img src="/img/ids/options1.svg" />
          <h6>Cross-chain wallet</h6>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="option-wrapper">
          <img src="/img/ids/options1.svg" />
          <h6>Cross-chain wallet</h6>
        </div>
      </div>
    </div>
  </div>
</header>
