---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #BCF3EF;
$theme-red: red;
$theme-dark: #171753;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
html, body {
        height: 100%;
        width: 100vw;
        overflow-x: hidden;
}
body {
        font-family: 'Catamaran';
}
.row.container {
        max-width: 1280px;
    }
// .navbar-header {
//         background: $theme-dark;
// }
body, nav {
        width: 100vw !important;
        max-width: 100vw !important;
        overflow-x: hidden !important;
    }
img {
        max-height: 100%;
}

a.page-scroll.bg-button {
        background: white;
        margin-right: 4rem;
        margin-top: calc(50% - 4.05rem);
        min-height: fit-content;
        padding: 0.05rem 0.5rem 0.20rem 0.5rem;
        color: $theme-dark !important;
        border-radius: 5px;
}
nav#mainNav {
        background: $theme-dark;
        border-color: $theme-dark;
}

header {
        min-height: 70vh;
        background: white;
}
.header-content h1, .header-content p, .header-content a {
        color: $theme-dark;
        text-align: left;
        float: left;
}

.header-content h1 {
        margin-top: 4rem;
        font-weight: 700;
        font-family: 'Catamaran';
}

a.btn.btn-primary.btn-xl.page-scroll {
        padding: 0.25rem 0.75rem 0.45rem 0.75rem;
        border-radius: 0.25rem;
        color: white;
        margin-right: 1rem;
}

.blue {
        background-color: $theme-dark;
}
.red {
        background-color: $theme-red;
}

.bg-primary {
        background: $theme-primary;
        color: $theme-dark;
        text-align: center;
}
.row.container {
        width: calc(100% - 10rem);
        margin: auto;
        display: block;
        min-height: 33vh;
    }
img.headerImage {
        float: right;
}
.col-sm-4.callout {
        border: 1px solid #ffffff70;
        margin: 3rem;
        max-width: calc(33% - 6rem);
        border-radius: 1rem;
        color: white;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
}
.callout h3 {
        font-weight: 700;
        font-size: 2.15rem;
        padding-bottom: 1rem;
        text-transform: capitalize;
    }
h1 {
        font-weight: 700;
}
h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
}
p {
    display: block;
    width: 100%;
}
.peer-power .col-sm-4.callout {
    margin-left: 1rem;
    margin-right: 1rem;
    width: -webkit-fill-available;
}
a.callToActionButton {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $theme-red;
    font-weight: 900;
    letter-spacing: 0.09rem;
    background: white;
    border-radius: 0.85rem;
    border: 1px solid #ff00002e;
    margin: auto;
}
.peer-power img.icon {
    float: left;
    display: block;
    margin-bottom: 4rem;
    margin-right: 3rem;
}
.peer-power {
    background:  $theme-dark;
    color: white !important;
}
    .bg-primary h1, .bg-primary span, .bg-primary h2, .bg-primary p, .bg-primary h3 {
    text-align: left;
}

.whitelist h1 {
    text-align: center;
    font-size: 4.5rem !important;
}
.whitelist h2, .whitelist h3, .whitelist p {
    text-align: center;
}
#about a.callToActionButton {
    background: $theme-dark;
    color: white;
    text-decoration: none;
}

.callout h3, .callout span {
    text-align: left;
    float: left;
}
.callout.blue h3, .callout.blue span {
    text-align: center;
    float: unset;
}
.whitelist span {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: left;
}

section#whitelist {
    background: white;
}

.whitelist h2, .whitelist span {
    text-align: left;
    float: left;
}
.whitelist .col-sm-4 {
    padding: 2rem;
}
.whitelist h2 {
    font-size: 2.25rem;
    font-weight: 600;
    padding-left: 2.85rem;
}

.whitelist h1, .whitelist h2, .whitelist p {
    text-align: center !important;
    display: block !important;
}
.whitelist a.callToActionButton {
    background: $theme-red;
    color: white;
    text-decoration: none;
}
.partners h2 {
    color: $theme-dark;
}
aside.bg-dark.partners {
    background: $theme-primary;
}
.partners img {
    padding: 1rem;
}

// Footer
footer {
    background: $theme-dark;
    color: white;
}
img.koi {
    float: right;
    margin-top: 5rem;
}
footer .col-sm-10 {
    margin-top: 5rem;
}
footer h1 {
    font-size: 4.5rem !important;
}
footer span.subheader {
    padding-top: 0.5rem !important;
    display: block;
    font-size: 1.75rem;
    padding-bottom: 3rem;
}
footer h2 {
    margin-top: 0;
}
.mcform input {
    font-size: 1.75rem;
    float: left;
    color: $theme-dark;
    border-radius: 0.25rem;
    border: none;
    background: #ffffffbf;
    padding: 0.5rem;
    text-align: center;
}
.mcform button {
    font-size: 1.75rem;
    margin-top: -0.1rem;
    margin-left: 1rem;
    color: #171753;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -2rem;
}    
footer li.nav-item {
    list-style-type: none;
    color: white;
    padding-top: 0.1rem;
}
footer ul {
    padding: 0;
}
footer hr {
    border: solid 0.1px #ffffff14;
    max-width: calc(100% - 3rem);
}
.row.container.menu {
    float: left;
}
footer a {
    color: white;
}
.row.container.menu {
    width: 100%;
    font-size: 1.75rem;
    margin-bottom: 10rem !important;
}
footer .col-sm-10 {
    margin-top: 5rem;
    padding-right: 10rem;
}
footer .row.container {
    padding-top: 3rem;
}

footer h3 {
    font-size: 2.05rem;
    font-weight: 600;
}

a.nav-link.child::before {
    content: "- ";
}
#howItWorks img.headerImage {
    display: none;
}
.whitelist .col-sm-4 span {
    font-weight: 600;
    letter-spacing: 0.03rem;
    font-size: 1.5rem;
    color: $theme-dark;
}
a.callToActionButton.blue {
    background: $theme-dark;
    border: 1px solid white;
    color: white;
}

// fixing homepage how it works
.whitelist .col-sm-4 h2 {
    font-size: 2.5rem;
}
.whitelist .col-sm-4 span {
    font-size: 1.2em;
}

.whitelist .col-sm-4 {
    border: 1px solid red;
    border-radius: 1rem;
    padding: 0.05rem !important;
    padding-bottom: 3.5rem !important;
    padding-top: 2rem !important;
    margin: 1rem;
    max-width: calc(33% - 2rem);
}
.whitelist .col-sm-12 h1 {
    font-size: 3.28rem !important;
}

.whitelist .col-sm-12 span {
    font-size: 1.75rem !important;
    font-weight: 600;
    color: gray;
    letter-spacing: 0.10rem;
}

.whitelist .col-sm-12 h2 {
    text-align: center !important;
    float: unset;
    margin: unset;
    padding: unset;
    font-weight: 600;
}
.whitelist .col-sm-12 h1 {
    font-size: 3.48rem !important;
    font-weight: 500;
}
.partners img {
    max-width: 16rem;
}


.col-sm-4 span {
    font-size: 1.2em;
}
.header-content p {
    font-size: 2.16rem !important;
}
h1 strong {
    display: block;
    font-size: 3.25rem;
    color: #a94442;
}
.header-content h1, .header-content h1 strong {
    font-size: 5.5rem !important;
}

// hover animations
a.btn.btn-primary.btn-xl.page-scroll:hover {
    text-decoration: underline;
    background: #f0a24b;
}
a.page-scroll:hover {
    color: #f0a24b !important;
    text-decoration: underline;
}
a.page-scroll.bg-button:hover {
    background: white !important;
    text-decoration: underline;
}
a.callToActionButton:hover {
    color: #f0a24b !important;
    text-decoration: underline;
}
.whitelist span.seat {
    width: 100%;
    text-align: center;
}




/* Tablet */
@media screen and (max-width: 700px ) {

    .header-content h1 {
        font-size: 6.5rem;
    }
    .row.container {
        min-height: fit-content;
        min-width:100%;
    }
    .whitelist .col-sm-4 {
        max-width: unset;
        border: unset;
        margin-bottom: 10rem !important;
    }
    a.btn.btn-primary.btn-xl.page-scroll.blue {
        margin-left: -2.5rem;
    }
    a.btn.btn-primary.btn-xl.page-scroll {
        float: right;
        position: absolute;
        bottom: calc(30rem - 100vh);
        z-index: 9999;
    }
    a.btn.btn-primary.btn-xl.page-scroll.red {
        right: -2.5rem;
    }
    #about img.headerImage {
        display: none;
    }
    a.callToActionButton {
        width: calc(100% - 10rem);
        display: block;
        margin-bottom: 1rem;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    header a.btn.btn-primary.btn-xl.page-scroll {
        font-size: 2.25rem;
        display: block;
    }
    a.page-scroll.bg-button {
        background: white !important;
        text-align: center;
        font-size: 1.75rem !important;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
    .col-sm-4.callout.blue {
        width: 100% !important;
        max-width: calc(100% - 6rem);
    }

    // footer
    .col-sm-2 {
        float: left;
    }
    
    .row.container {
        padding-bottom: 2rem;
    }
    .col-sm-4.callout.blue {
        max-width: calc(100% - 6rem) !important;
    }
    .callout h3, .callout span {
        display: block !important;
        position: relative !important;
    }
    .col-sm-4.callout {
        width: calc(100% - 6rem) !important;
        max-width: unset !important;
        max-height: unset !important;
        height: fit-content !important;
        display: block !important;
        position: relative !important;
        min-height: fit-content !important;
        border: none;
    }
    .callout span {
        padding-bottom: 1rem;
    }
    .mcform button {
        width: 100%;
        margin: 0;
    }
    footer h1 {
        display: block;
        margin-top: 4rem;
    }
    .peer-power h1 {
        float: left;
    }
    .peer-power h2, .peer-power h1, .peer-power p {
        float: left;
    }
    .whitelist span, .whitelist h1, .whitelist h2 {
        text-align: center !important;
    }
    
    nav a {
        color: white !important;
        z-index: 999;
        font-size: 2.5rem;
    }
    img.headerImage {
        float: unset !important;
    }
    a.btn.btn-primary.btn-xl.page-scroll {
        font-size: 3.5rem !important;
    }
    .whitelist h2 {
        text-align: center;
        width: 100%;
        margin-left: -1.5rem;
    }

    // temp hide footer menu 
    footer .row.container.menu {
        display: none;
    }
    
    
    footer .col-sm-10 {
        width: 100%;
        padding-right: 1.5rem;
    }
    footer {
        padding-bottom: 5rem;
    }
    .header-content h1 strong {
        font-size: 2.25rem !important;
    }
}


