---
---

@charset "utf-8";

@import "mixins", "base", "variables";

html,
body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    // scroll-behavior: smooth;
}
body {
    font-family: "Catamaran";
}
.row.container {
    max-width: 1280px;
}
body,
nav {
    width: 100vw !important;
    max-width: 100vw !important;
    overflow-x: hidden !important;
}

/* Tablet */
@media screen and (max-width: 700px) {
}

h1 {
    font-size: 40px !important;
    font-weight: 600;
}
h2 {
    font-size: 32px !important;
}
h3 {
    font-size: 24px !important;
    font-weight: 600;
}
h4 {
    font-size: 22px !important;
}
h6 {
    font-size: 18px !important;
}
p {
    font-size: 16px !important;
    line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: $catamaran;
    letter-spacing: 0.03em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    font-weight: 600 !important;
    transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1), transform 0.45s cubic-bezier(0.25, 1, 0.33, 1),
        border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
        background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
    &:hover {
        /* box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16); */
        box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.16);
        transform: translateY(-3px);
    }
}
.btn-blueDark {
    background: $blueDark;
    color: $white;
    &:hover {
        color: $white;
    }
}
.btn-white {
    background: $white;
    color: $blueDark;
    border: solid 1.5px $blueDark;
}
.btn-orange {
    background: $orange;
    color: $blueDark;
}
.btn-white {
    background: $white;
    color: $blueDark;
}
.fade-1 {
    animation: slideInLeft;
    animation-duration: 0s;
}
.fade-2 {
    animation: slideInLeft;
    animation-duration: 0.5s;
}
.fade-3 {
    animation: slideInLeft;
    animation-duration: 1s;
}
.hover-card {
    transition: transform 0.45s cubic-bezier(0.25, 1, 0.33, 1);
    &:hover {
        transform: scale(1.05);
    }
}
.text-bold {
    font-weight: bold;
}
@media (min-width: $xl) {
    body::-webkit-scrollbar {
        width: 6px;
    }
    body::-webkit-scrollbar-track {
        width: 6px;
        box-shadow: inset 0 0 5px #fff2ee;
        background: $white;
        border-radius: 30px;
    }
    body::-webkit-scrollbar-thumb {
        background: $blueDark;
        border-radius: 10px;
    }
    // body::-webkit-scrollbar-thumb:hover {
    //     background: #b30000;
    // }
}
@media (max-width: $sm) {
    header {
        min-height: calc(100vh) !important;
    }
}
