<div id="explore">
    <section class="section-header">
        <div class="container text-center">
            <div class="font-cap1 text-blue mt40">See just how easy it is to build dApps with Koii</div>
            <div class="font-cap2 text-blue mt15">Check out some of the projects running on Koii.</div>
        </div>
    </section>
    <section class="section-ct">
        <a href="https://koi.rocks" target="_blank">
            <div class="container">
                <div class="font-cap2"><b>koi.rocks</b></div>
                <div class="font-cap2">The Attention Leaderboard</div>
            </div>
            <img src="/img/explore/website-koi.svg" class="full-img mt20">
            <div class="container mt40">
                <div class="font-cap3">
                    Get rewarded whenever someone views your content and make your way up the leaderboard.
    Attention tracking comes by default with any Koii dApp. Earn for creating the best apps, or registering the best content on a Koii app.
                </div>
            </div>
        </a>
    </section>
    <section class="section-ct">
        <a href="https://opensea.io/collection/1111-by-kevin-abosch" target="_blank">
            <div class="container">
                <div class="font-cap2"><b>1111 Collection by Kevin Abosch</b></div>
                <div class="font-cap2">Custom art gallery</div>
            </div>
            <img src="/img/explore/website-kevin.png" class="full-img mt20">
            <div class="container mt40">
                <div class="font-cap3">
                    Make a custom gallery for your collection, quickly and easily. Design it in line with your art style and earn attention rewards when you share your work with others.
                </div>
            </div>
        </a>
    </section>
    <section class="section-ct">
        <a href="https://getstorecat.com/" target="_blank">
            <div class="container">
                <div class="font-cap2"><b>StoreCat: GET, Store, Catalogue</b></div>
                <div class="font-cap2">Systematic Web Crawling</div>
            </div>
            <img src="/img/explore/website-storecat.png" class="full-img mt20">
            <div class="container mt40">
                <div class="font-cap3">
                    Collect data from your competitors, your suppliers, and anywhere else. Set Tasks to have a standardized, reliable source of data at all times.
                </div>
            </div>
        </a>
    </section>
</div>