---
layout: front
---

{% include home/header.html %}

{% include home/bubble.html %}
{% include home/whynode.html %}
{% include home/spread.html %}
{% include home/world_go_round.html %}
{% include home/partner.html %}
<!-- {% include home/stop.html %} -->
<!-- {% include home/run_a_node.html %} -->
<!-- {% include home/node.html %} -->
{% include home/community.html %}
{% include home/revolution.html %}
<!-- {% include home/team.html %} -->
{% include home/roadmap.html %}
{% include home/investor.html %}
{% include home/section7.html %}
