---
layout: front
permalink: /news/
stylesheet: koi.css
---

{% include news/header.html %}

{%- assign sorted = site.news | sort: 'tag' -%}

<section id="topnews">
    <div class="row">
        {% for news in sorted %}

        {%- if news.tag contains "top" -%}    
        {% include news/topnews.html 
                        title=news.title
                        subtitle=news.describe
                        image=news.image
                        link=news.permalink 
                    %}
        {%- endif -%}

        {% endfor %}        
    </div>
</section>

<section id="allnews">
    <div class="container>">
        <h1>Koi in the News 
            <!-- <a href="link" class="smallbtn">See all</a> -->
        </h1>
        <p>
            See what everyone else is saying about Koi.
        </p>
        <div class="row">
            {% include news/allnews.html %}
        </div>
    </div>
</section>

{% include news/nodenews.html %}