@import "variables";

#learn {
    position: relative;
    background: $blueLight;
    color: $blueDark;
    padding: 58px 0 125px 0;
    .container {
        // display: flex;
        // align-items: flex-start;
        .learn-left {
            // flex: 3;
            margin-top: 50px;
            h1 {
                margin-bottom: 35px;
            }
            h3 {
                margin-bottom: 15px;
                font-weight: normal;
            }
            .btn-wrapper {
                margin-top: 45px;
                .btn {
                    width: 200px;
                    height: 48px;
                }
            }
        }
        .learn-right {
            // flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            .learn-card {
                background: $white;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
                border-radius: 8px;
                max-width: 352px;
                min-width: 352px;
                text-align: center;
                padding: 24px 10px;
                margin: 24px 0;
                h3 {
                    font-weight: bold;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .clip-path {
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 300px;
        background: $blueDarkBg;
        clip-path: polygon(0% 13%, 0 100%, 101% 100%);
    }
    @media (max-width: $md) {
        padding: 80px 0;
        .clip-path {
            display: none;
        }
        .container {
            flex-direction: column;
            .learn-right {
                .btn-wrapper {
                    .btn {
                        min-width: 255px;
                        height: 44px;
                        font-size: 18px;
                        margin-top: 44px;
                    }
                }
            }
        }
    }
    @media (max-width: $sm) {
        padding: 80px 0 100px;
        .container {
            flex-direction: column;
            .learn-left {
                width: 100%;
                margin-top: 0;
                margin-bottom: 45px;
                h1 {
                    font-size: 32px !important;
                    text-align: center;
                }
                .btn-wrapper {
                    display: flex;
                    justify-content: center;
                    .btn {
                        min-width: 255px;
                        height: 44px;
                        font-size: 18px;
                    }
                }
                h3 {
                    font-size: 20px !important;
                    margin-bottom: 20px;
                    line-height: 32px;
                }
            }
            .learn-right {
                width: 100%;
                .learn-card {
                    width: 100%;
                    max-width: 100%;
                    margin: 18px 0;
                    h3 {
                        font-size: 24px !important;
                    }
                }
            }
        }
    }
}
