@import "variables";

#attention {
  background: $grayLight;
  color: $blueDark;
  padding: 80px 0;

  .attention-container{
    display: flex;
    align-items: center;
    .descr-area{ flex: 1; }
    .img-area{ 
      flex: 1;
      text-align: right;
      img{
        max-width: 100%;
        padding-left: 10px;
      }
    }
    .btn-blue{
      color: $white;
      background: $blueDark;
    }
    .btn{
      width: fit-content;
      padding: 8px 70px;
      line-height: 24px;
      border: 0px solid transparent;
      border-radius: 4px;
    }
  }
  
}