@import "variables";

#attention {
  background: $grayLight;
  color: $blueDark;
  padding: 80px 0;

  .attention-container{
    display: flex;
    align-items: center;
    .descr-area{ flex: 1; }
    .img-area{ 
      flex: 1;
      text-align: right;
      img{
        max-width: 100%;
        padding-left: 10px;
      }
    }
    .img-area-mobile{ display: none; }
    .btn-blue{
      color: $white;
      background: $blueDark;
    }
    .btn{
      width: fit-content;
      padding: 8px 70px;
      line-height: 24px;
      border: 0px solid transparent;
      border-radius: 4px;
    }
    a.btn.btn-blue {
      display: inline-block;
      float: left;
      margin-right: 1rem;
    }
    a.btn.btn-red {
      display: inline-block;
      float: left;
      background: #237b75;
      font-weight: 700 !important;
      color: white;
    }
    .font-cap1{
      font-weight: normal;
      font-size: 24px;
      line-height: 40px;
      letter-spacing: 0.03em;
      color: $blueDark;
    }
    .mt30{ margin-top: 30px; }
    .mt25{ margin-top: 25px; }
    @media (max-width: $sm){
      flex-direction: column-reverse;
      .img-area{ display: none; }
      .img-area-mobile{ 
        display: flex; 
        flex: 1; 
        img{
          max-width: 100%;
        }
      }
      .descr-area{ margin-top: 50px; }
      .font-cap1{
        font-size: 18px;
        line-height: 32px;
      }
      .btn{
        font-size: 16px;
        margin: 0 auto;
      }
      #attention .attention-container a.btn.btn-red {
        min-width: 13.85rem !important;
        margin-top: 0.5rem;
      }
    }
  }
  
}