@import "variables";

#whynode {
    background: linear-gradient(90deg, #171753 0%, #030332 100%);
    font-family: $sora;
    padding: 90px 0px;
    .font1{
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .font2 {
        margin-top: 20px;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: -0.02em;
        color: #ECFFFE;
        font-weight: 300;
        .orange {
            color: #FFA54B;
            font-weight: 600;
        }
        .hint {
            color: #5ED9D1;
            font-weight: 600;
        }
    }
}