@import "variables";

#bubble {
    background: url(/img/homepage/bubble/node-star.png), linear-gradient(90deg, #171753 0%, #030332 100%);
    font-family: $sora;
    padding: 90px 0px;
    .bubble-area{
        position: relative;
        img{ width: 100%; }
    }
    .cap-area {
        max-width: 500px;
        margin-bottom: -170px;
    }
    .font1{
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        position: relative;
        border-left: 13px solid #5ed9d1;
        padding-left: 25px;
        left: -40px;
    }
    .orange {
        color: #FFA54B;
    }
    .font2 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: #9be7c4;
        font-weight: 400;
    }
    .bubble-area-mobile{
        display: none;
    }
    .bbl-btn:hover{
        transition: all .1s;
    }
    .bk-blue{
        background: linear-gradient(133.01deg, #5ED9D1 20.04%, #376D8B 83.27%);
        box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.24);
    }
    .bk-green{
        background: linear-gradient(133.01deg, #99E4C1 20.04%, #48AF80 83.27%);
        box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.24);
    }
    .bk-orange{
        background: linear-gradient(133.01deg, #FFE5CA 20.04%, #FFA54B 83.27%);
        box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.24);
    }
    .vector-img{
        position: absolute;
        left: -40px;
        top: 190px;
    }
    .bbl-btn{
        position: absolute;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        font-family: $sora;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #171753;
    }
    .bbl-btn-active{
        position: absolute;
        border-radius: 50%;
        text-align: center;
        display: flex;
        // display: none; 
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        cursor: pointer;
        z-index: 9;
        width: 326px;
        height: 326px;
        font-family: $sora;
        letter-spacing: -0.5px;
        color: #171753;
        &.bk-blue{
            background: linear-gradient(133.01deg, #5ED9D1 20.04%, #376D8B 83.27%);
            box-shadow: 0px 0px 12px 8px rgba(255, 255, 255, 0.25), inset 0px -4px 8px rgba(0, 0, 0, 0.24);
        }
        &.bk-green{
            background: linear-gradient(133.01deg, #99E4C1 20.04%, #48AF80 83.27%);
            box-shadow: 0px 0px 12px 8px rgba(255, 255, 255, 0.25), inset 0px -4px 8px rgba(0, 0, 0, 0.24);
        }
        .hv-cap{
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            margin-top: 10px;
        }
        .hv-title{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
        .hv-description{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
    }
    .btn1{ width: 118px;height: 118px;left: 638px;top: 10px; }
    .btn2{ width: 127px;height: 127px;left: 853px;top: 100px; }
    .btn3{ width: 107px;height: 107px;left: 8px;top: 321px; }
    .btn4{ width: 130px;height: 130px;left: 220px;top: 246px; }
    .btn5{ width: 157px;height: 157px;left: 504px;top: 248px; }
    .btn6{ width: 139px;height: 139px;right: 9px;top: 313px; }
    .btn7{ width: 143px;height: 143px;left: 160px;bottom: 111px; }
    .btn8{ width: 127px;height: 127px;right: 290px;bottom: 120px; }
    .btn9{ width: 107px;height: 107px;left: 5px;bottom: 20px; }
    .btn10{ width: 143px;height: 143px;left: 410px;bottom: 0px; }
    .btn11{ width: 127px;height: 127px;right: 46px;bottom: 8px; }
    .btn1-hover{ left: 538px;top: -100px; }
    .btn2-hover{ right: 25px;top: 0px; }
    .btn3-hover{ left: -130px;top: 191px; }
    .btn4-hover{ left: 150px;top: 100px; }
    .btn5-hover{ left: 400px;top: 180px; }
    .btn6-hover{ right: -70px;top: 210px; }
    .btn7-hover{ left: 100px;bottom: 0px; }
    .btn8-hover{ right: 190px;bottom: 0px; }
    .btn9-hover{ left: -100px;bottom: -100px; }
    .btn10-hover{ left: 310px;bottom: -100px; }
    .btn11-hover{ right: 46px;bottom: 8px; }

    @media (max-width: 1195px) {
        .cap-area {
            margin-bottom: -150px;
        }
    }
    @media (max-width: 992px) {
        .cap-area {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 767px) {
        padding-top: 0px;
        .bubble-area{
            display: none;
        }
        .bubble-area-mobile{
            display: flex;
            flex: 1;
            justify-content: center;
        }
        .cap-area{
            margin-top: 20px;
            margin-left: 50px;
            max-width: calc(100% - 65px);
        }
        .font1{
            font-size: 28px;
            line-height: 34px;
            padding-left: 18px;
            left: -33px;
        }
        .font2{
            margin-top: 10px;;
            font-size: 14px;
            line-height: 22px;
        }
    }
}