@import "variables";

#bubble {
    background: linear-gradient(90deg, #171753 0%, #030332 100%);
    font-family: $sora;
    padding: 90px 0px;
    .bubble-area{
        img{ width: 100%; }
    }
    .cap-area {
        max-width: 500px;
        margin-bottom: -170px;
    }
    .font1{
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        position: relative;
        border-left: 13px solid #5ed9d1;
        padding-left: 25px;
        left: -40px;
    }
    .orange {
        color: #FFA54B;
    }
    .font2 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: #9be7c4;
        font-weight: 400;
    }
    .bubble-area-mobile{
        display: none;
    }
    @media (max-width: 1195px) {
        .cap-area {
            margin-bottom: -150px;
        }
    }
    @media (max-width: 992px) {
        .cap-area {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 767px) {
        padding-top: 0px;
        .bubble-area{
            display: none;
        }
        .bubble-area-mobile{
            display: flex;
            flex: 1;
            justify-content: center;
        }
        .cap-area{
            margin-top: 20px;
            margin-left: 50px;
            max-width: calc(100% - 65px);
        }
        .font1{
            font-size: 28px;
            line-height: 34px;
            padding-left: 18px;
            left: -33px;
        }
        .font2{
            margin-top: 10px;;
            font-size: 14px;
            line-height: 22px;
        }
    }
}