@import "variables";

#koii_framework {
  background: $blueDark;
  padding: 182px 0;
  color: $blueDark;
  font-family: $sora;
  .build_better-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    .build_better-dots {
      position: absolute;
      bottom: 18px;
      left: 347px;
    }
    .build_better-content {
      width: 100%;
      height: 495px;
      background-color: $lightestBlue;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 110px;
      h1 {
        font-family: $sora !important;
        font-weight: 600;
        font-size: 44px !important;
        letter-spacing: -0.02em;
      }

      p {
        margin-bottom: 36px;
        font-family: $sora !important;
        font-weight: 400;
        letter-spacing: -0.01em;
        max-width: 330px;
      }
      a {
        font-family: $sora !important;
        font-weight: 600;
      }
    }
    .build_better-cards {
      position: absolute;
      right: 57px;
      max-width: 700px;

      .build_better-card {
        height: 296px;
        background: #ffffff;
        box-shadow: 2px 9px 12px rgba(0, 0, 0, 0.15);
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px 30px;
        h3 {
          font-family: $sora !important;
          font-weight: 400;
          letter-spacing: -0.02em;
        }
        p {
          font-family: $sora !important;
          font-weight: 400;
          letter-spacing: -0.01em;
        }
        img {
          margin-bottom: 27px;
        }
        a {
          text-decoration: underline;
          line-height: 32px;
          font-family: $sora !important;
          font-weight: 400;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 53px 0;
    .build_better-wrapper {
      .build_better-content {
        max-height: 319px;
        padding: 0 18px;
        p {
          max-width: 100%;
        }
      }
      .build_better-cards {
        position: relative;
        right: unset;
        margin: 15px 16px;
        top: -45px;
        .build_better-card {
          height: unset;
        }
      }
      .build_better-dots {
        bottom: 50%;
        left: 0px;
      }
    }
  }
  @media (max-width: 768px) {
    .build_better-wrapper {
      .build_better-content {
        h1 {
          font-size: 36px !important;
        }
      }
    }
  }
  @media (max-width: $sm) {
  }
}
