@import "variables";

#community {
    background: linear-gradient(270deg, #030332 0%, #171753 100%);
    font-family: $sora;
    padding: 90px 0px 0px;
    .font1{
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #BEF0ED;
    }
    .font2 {
        margin: 25px 0;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #F5F5F5;
    }
    #box {
        align-items: flex-end;
        text-align: -webkit-center;
    }
    .text-box1 {
        margin-top:30px;
        width: 235px;
        text-align: left;
        .number {
            color: #F5F5F5;
            font-weight: 500;
            font-size: 35px;
            line-height: 23px;
        }
        .text {
            margin-top: 15px;
            color: #FFA54B;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .text-box2 {
        width: 235px;
        margin-top:30px;
        text-align: left;
        .number {
            color: #F5F5F5;
            font-weight: 500;
            font-size: 35px;
            line-height: 23px;
        }
        .text {
            margin-top: 15px;
            color: #FFA54B;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .text-box3 {
        margin-top:30px;
        width: 235px;
        text-align: left;
        .number {
            color: #F5F5F5;
            font-weight: 500;
            font-size: 35px;
            line-height: 23px;
        }
        .text {
            margin-top: 15px;
            color: #FFA54B;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .worldmap-desktop {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .worldmap-mobile{
        display:none;
    }
    @media (max-width: 450px) {
        .font1 {
            font-size: 30px;
            line-height: 48px;
            text-align: center;
            letter-spacing: -0.04em;
        }
        .font2{
            margin: 25px 0 130px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            padding: 0 50px;
        }
        .worldmap-desktop {
            display: none;
        }
        .worldmap-mobile{
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .text-box1{
            position: absolute;
            left: 60px;
            top: -100px;
        }
        .text-box2{
            position: absolute;
            right: 10px;
        }
        .text-box3 {
            position: absolute;
            right: -21px;
            top: 245px;
        }
        .number {
            font-size: 35px;
        }
        .text{
            font-size: 20px;
        }
      }
}