@import "variables";

#garden_party {
  // background: $blueDark;
  background: conic-gradient(from 175.17deg at 43.54% 59.1%, #1F5368 -20.14deg, #1C3E61 46.42deg, #1D4162 156.8deg, #205569 200.91deg, #1F5368 242.98deg, #1F5368 339.86deg, #1C3E61 406.42deg);
  padding: 92px 0;
  color: white;
  font-family: $sora;
  position: relative;
  
  .lbl-cap1{ 
    font-size: 40px !important;
    line-height: 48px;
    color: #fcfefe;
  }
  .lbl-font1{ 
    font-size: 18px;
    line-height: 32px;
    color: #f8f7fc;
  }
  .lbl-font2{ 
    font-size: 24px;
    line-height: 32px;
    color: #5ed9d1;
  }
  .party-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    background: #181854c2;
    // mix-blend-mode: overlay;
    padding: 80px 85px;
  }
  .party-img{
    position: absolute;
    left: 0;
    top: -80px;
    img{ width: 120%; }
  }
  @media (max-width: 768px) {
    
   
  }
  @media (max-width: $sm) {
  }
}
