@import "variables";

#home-header {
  position: relative;
  background: #171753;
  color: $white;
  padding: 80px 0;
  display: flex;
  align-items: center;
  margin-top: 48px;
  font-family: $sora;

  &::before {
    background-image: url(/img/homepage/hero_bk.svg);
    background-repeat: no-repeat;
    background-size: 3000px auto;
    background-position-y: -1800px;
    background-position-x: right;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    opacity: 50%;
    @media (max-width: 768px) {
      background-size: 1000px auto;
      background-position-y: -450px;
      opacity: 80%;
    }
  }
  &::after {
    background-image: url(/img/homepage/hero_bk_after.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 40px;
    width: 100%;
    @media (max-width: 768px) {
      background-size: 100px;
    }
  }
  .container {
    padding: 75px 0;
    z-index: 9;
  }
  a.button {
    font-family: $sora !important;
    text-decoration: none;
    font-weight: 500;
  }
  .font-cap1 {
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #ffffff;
  }
  .font-cap3 {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -2%;
    color: #ffffff;
    font-weight: 400;
    a {
      font-size: 24px;
      line-height: 40px;
      letter-spacing: -2%;
      color: #ffc78f;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .header-description {
    max-width: 800px;
  }
  .join-area {
    padding-top: 20px;
    width: 500px;
    flex: 1;
    .lbl-descr {
      font-family: $sora;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #bef0ed;
      margin-left: 30px;
      &.company-lbl {
        color: #bcb8d0;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  .submit-area {
    margin-bottom: 20px;
    input#mc-embedded-subscribe {
      margin-top: 1em;
      background: #237b75;
      border: solid #237b75;
      color: #fff !important;
      text-align: inherit;
      padding: 5px 25px 5px 25px !important;
      width: fit-content;
      height: 56px;
      border-radius: 30px;
    }
    input#mce-EMAIL {
      padding: 5px 25px 5px 25px;
      height: 56px;
      border-radius: 30px;
      min-width: 400px;
      border: 1px solid #ffffff;
      outline: none;
    }
    #mc_embed_signup div.mce_inline_error {
      margin: 0.5em 0 0 0.5em;
      padding: 5px 10px;
      background-color: #6b0505;
      font-weight: bold;
      z-index: 1;
      color: #fff;
      border-radius: 30px;
      max-width: fit-content;
      border-radius: 30px;
    }
    div#mce-success-response {
      margin: 0.5em 0 0 0.5em;
    }
    .clear {
      position: relative;
    }
    button {
      position: absolute;
      right: 5px;
      top: -13px;
      width: 205px;
      height: 48px;
      border-radius: 24px;
      background-color: #237b75;
      font-family: "Sora", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: #ffffff;
      border: 0px solid #237b75;
    }
  }
  form#mc-embedded-subscribe-form {
    display: flex;
  }

  div#showconfirm {
    display: none;
  }

  .social-area {
    width: 262px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .social-item {
      padding: 0;
    }
  }
  @media (max-width: 1200px) {
  }
  @media (max-width: 1000px) {
  }
  @media (max-width: 768px) {
    .container {
      padding: 0 0 100px 0;
    }
    .join-area {
      margin-bottom: 20px;
      width: 100%;
    }
    .submit-area {
      input#mce-EMAIL {
        padding: 5px 25px 5px 25px;
        min-width: 300px;
      }
      button {
        width: 100px;
      }
    }
    .social-area {
      padding-left: 0;
      margin: 0 auto;
    }
    .font-cap1 {
      font-size: 36px;
      line-height: 72px;
    }
    .font-cap3 {
      font-size: 20px;
      line-height: 40px;
    }
  }
  @media (max-width: 572px) {
    .submit-area {
      input#mce-EMAIL {
        padding: 5px 25px 5px 25px;
        min-width: 300px;
      }
      button {
        width: 100px;
      }
    }
  }
  @media (max-width: 450px) {
  }
}
