@import "variables";

#home-header {
  position: relative;
  background: $blueDarkBg;
  color: $white;
  height: 450px;
  display: flex;
  align-items: center;
  margin-top: 48px;

  &::before {
    background-image: url("/img/homepage/vector.svg");
    // background-image: url("/img/homepage/vector.png");
    background-repeat: no-repeat;
    // background-size: 839px auto;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 35%;
  }
  .font-cap1{
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .font-cap2{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .join-area{ padding-top: 40px; width:300px; }
  .input-group{
    width: 300px;
    .form-control{
      height: 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      background: #171753;
      border: 1px solid white;
      cursor: pointer;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }
    }
    .btn{
      height: 32px;
      font-size: 15px;
      border-radius: 0 4px 4px 0;
      transform: unset;
      background: #FFF;
      color: #171753;
      border: 1px solid white;
    }
  }
  .social-area{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
  }
  @media (max-width: 1200px) {
    
  }
  @media (max-width: 1000px) {
    
  }
  @media (max-width: $sm) {
    padding: 30px 0;
    background-image: url("/img/homepage/vector-mobile.svg"), linear-gradient(90.16deg, #030332 0.14%, #171753 99.87%);
    background-repeat: no-repeat;
    // min-height: unset;
    // min-height: calc(100vh - 75px) !important;
    &::before {
      display: none;
    }
  }

  @media (max-width: $sm) {
    
  }
  @media (max-width: 572px) {
    
  }
  @media (max-width: 450px) {
    
  }
}
