@import "variables";

#home-header {
  position: relative;
  background: #171753;
  color: $white;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  font-family: $sora;
  background-image: url(/img/homepage/FULL_HERO.svg);
  // background: linear-gradient(180deg, #48a0ac 0.14%, #171753 99.87%);
  background-size: 100% auto;
  background-repeat: no-repeat;

  .container {
    padding: 75px 0;
    z-index: 9;
    display: flex;
  }
  .bar-chart {
    flex: 1;
    align-items: center;
    display: flex;
    padding: 0 15px;
  }
  .finnieButton {
    margin-top: 36px;
    color: #171753 !important;
    padding: 5px 25px 5px 25px !important;
    width: fit-content;
    border: 1px solid #bef0ed;
    background: #bef0ed;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
  }
  .koii-logo-hero {
    margin-top: 55px;
  }
  a.button {
    font-family: $sora !important;
    text-decoration: none;
    font-weight: 500;
  }
  .font-cap1 {
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #ffffff;
  }
  .font-cap3 {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -2%;
    color: #ffffff;
    font-weight: 400;
    a {
      font-size: 24px;
      line-height: 40px;
      letter-spacing: -2%;
      color: #ffc78f;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .header-description {
    max-width: 510px;
  }
  .join-area {
    padding-top: 20px;
    width: 500px;
    flex: 1;
    .lbl-descr {
      font-family: $sora;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #bef0ed;
      margin-left: 30px;
      &.company-lbl {
        color: #bcb8d0;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  .submit-area {
    margin-bottom: 20px;
    input#mc-embedded-subscribe {
      margin-top: 1em;
      background: #237b75;
      border: solid #237b75;
      color: #fff !important;
      text-align: inherit;
      padding: 5px 25px 5px 25px !important;
      width: fit-content;
      height: 56px;
      border-radius: 30px;
    }
    input#mce-EMAIL {
      padding: 5px 25px 5px 25px;
      height: 56px;
      border-radius: 30px;
      min-width: 400px;
      border: 1px solid #ffffff;
      outline: none;
    }
    #mc_embed_signup div.mce_inline_error {
      margin: 0.5em 0 0 0.5em;
      padding: 12px 10px;
      background-color: #6b0505;
      font-weight: bold;
      z-index: 1;
      color: #fff;
      border-radius: 30px;
      max-width: fit-content;
      min-width: fit-content;
      border-radius: 30px;
    }
    div#mce-success-response {
      margin: 0.5em 0 0 0.5em;
    }
    .clear {
      position: relative;
    }
    button {
      position: absolute;
      right: 5px;
      top: -13px;
      width: 205px;
      height: 48px;
      border-radius: 24px;
      background-color: #237b75;
      font-family: "Sora", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: #ffffff;
      border: 0px solid #237b75;
    }
  }
  form#mc-embedded-subscribe-form {
    display: flex;
  }

  div#showconfirm {
    display: none;
  }

  .social-area {
    width: 236px;
    // padding-left: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .social-item {
      padding: 0;
    }
  }
  .numerial-item{
    display: none;
    &.active{
      display: block;
    }
  }

  .vl1 {
    border-left: 3px solid #5ed9d1;
    height: 400px;
    position: relative;
    right: -139px;
    top: 50px;
    animation: line1 2.5s;
  }

  @keyframes line1 {
    from {
      top: 410px;
      height: 40px;
    }
    to {
      top: 50px;
      height: 400px;
    }
  }
  .vl2 {
    border-left: 3px solid #5ed9d1;
    height: 483px;
    position: relative;
    right: -163px;
    top: 12px;
    animation: line2 2.5s;
  }

  @keyframes line2 {
    from {
      top: 470px;
      height: 20px;
    }
    to {
      top: 12px;
      height: 483px;
    }
  }
  .vl3 {
    border-left: 3px solid #5ed9d1;
    height: 384px;
    position: relative;
    right: -178px;
    top: 87px;
    animation: line3 2.5s;
  }

  @keyframes line3 {
    from {
      top: 450px;
      height: 20px;
    }
    to {
      top: 87px;
      height: 384px;
    }
  }
  .first {
    position: relative;
    right: 80px;
    top: -92px;
    width: 159px;
    text-align: center;
  }
  .second {
    position: relative;
    right: 80px;
    top: -108px;
    width: 159px;
    text-align: center;
  }
  .third {
    position: relative;
    right: 90px;
    top: -92px;
    width: 173px;
    text-align: center;
  }
  .num {
    font-family: $sora;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #171753;
  }

  @media (min-width: 960px) {
    .mc-field-group {
      display: flex;
    }
    input#mce-EMAIL {
      padding: 5px 85px 5px 25px !important;
    }
    input#mc-embedded-subscribe {
      margin-top: 0em !important;
    }
    #join-button {
      right: 80px;
    }
    .mce_inline_error {
      right: 80px;
    }
  }
  @media (min-width: 1449.98px) {
    padding: 150px 0 350px;
  }
  @media (max-width: 1199.98px) {
    // .container {
    //   flex-direction: column;
    // }
    .vl1 {
      border-left: 3px solid #5ed9d1;
      height: 400px;
      position: relative;
      right: -39px;
      top: -51px;
    }
    .vl2 {
      border-left: 3px solid #5ed9d1;
      height: 483px;
      position: relative;
      right: -52px;
      top: -72px;
    }
    .vl3 {
      border-left: 3px solid #5ed9d1;
      height: 384px;
      position: relative;
      right: -76px;
      top: -47px;
    }
  }
  @media (max-width: 1000px) {
  }
  @media (max-width: 768px) {
    padding: 100px 0;
    background-image: url(/img/homepage/hero_bk_mobile.svg);
    .container {
      padding: 0 0 100px 0;
      flex-direction: column;
    }
    .join-area {
      margin-bottom: 20px;
      width: 100%;
    }
    .submit-area {
      input#mce-EMAIL {
        padding: 5px 25px 5px 25px;
        min-width: 300px;
      }
      button {
        width: 100px;
      }
    }
    .social-area {
      padding-left: 0;
      margin: 0 auto;
    }
    .font-cap1 {
      font-size: 36px;
      line-height: 72px;
    }
    .font-cap3 {
      font-size: 20px;
      line-height: 40px;
    }
    .vl1 {
      border-left: 6px solid #5ed9d1;
      height: 82px;
      position: relative;
      right: -79px;
      top: 13px;
      animation: none;
    }
    .vl2 {
      border-left: 6px solid #5ed9d1;
      height: 52px;
      position: relative;
      right: -180px;
      top: 12px;
      animation: none;
    }
    .vl3 {
      border-left: 6px solid #5ed9d1;
      height: 121px;
      position: relative;
      right: -305px;
      top: -193px;
      animation: none;
    }
    .num {
      font-size: 32px;
      color: white;
    }
    .second {
      position: relative;
      right: 80px;
      top: -77px;
      width: 159px;
      text-align: center;
    }
    .third {
      position: relative;
      right: 90px;
      top: -92px;
      width: 172px;
      text-align: center;
    }
  }
  @media (max-width: 572px) {
    .submit-area {
      input#mce-EMAIL {
        padding: 5px 25px 5px 25px;
        min-width: 300px;
      }
      button {
        width: 100px;
      }
    }
  }
  @media (max-width: 450px) {
    padding: 100px 0;
    background-image: url(/img/homepage/hero_bk_mobile.svg);
    .header-description {
      max-width: 510px;
      margin-top: 85px;
    }
    .vl1 {
      border-left: 3px solid #5ed9d1;
      height: 82px;
      position: relative;
      right: -79px;
      top: 13px;
    }
    .vl2 {
      border-left: 3px solid #5ed9d1;
      height: 52px;
      position: relative;
      right: -180px;
      top: 12px;
    }
    .vl3 {
      border-left: 3px solid #5ed9d1;
      height: 83px;
      position: relative;
      right: -305px;
      top: -100px;
    }
    .num {
      font-size: 32px;
      color: white;
    }
    .second {
      position: relative;
      right: 80px;
      top: -77px;
      width: 159px;
      text-align: center;
    }
    .third {
      position: relative;
      right: 90px;
      top: -92px;
      width: 172px;
      text-align: center;
    }
  }
}
.bar-chart {
  dl {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    position: relative;
    padding: 20px;
  }

  dt {
    align-self: flex-start;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 130px;
  }

  .text-description {
    height: 40px;
    position: absolute;
    left: 0;
    top: 15px;
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  .text-result {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: #fff;
    // color: #171753;
    text-align: center;
    position: absolute;
    top: -30px;
  }

  .percentage {
    font-size: 20px;
    line-height: 1;
    width: 100%;
    height: 10px;
    margin-bottom: 60px;
    background: transparent;
    position: relative;

    &:after {
      content: "";
      display: block;
      background-color: #3d9970;
      width: 50px;
      border-radius: 5px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 0.3s ease;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      &:after {
        background-color: #fff;
      }
    }
  }

  @for $i from 1 through 100 {
    .percentage-#{$i} {
      &:after {
        $value: ($i * 1%);
        width: $value;
      }
      .text-result {
        $x-width: ($i - 15%);
        left: $x-width;
      }
    }
  }
}
.hero-build-better {
  width: 100%;
  padding-top: 180px;
  color: $blueDark;
  font-family: $sora;
  .build_better-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    .build_better-dots {
      position: absolute;
      bottom: 18px;
      left: 347px;
    }
    .build_better-content {
      width: 100%;
      height: 495px;
      background-color: $lightestBlue;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 110px;
      h1 {
        font-family: $sora !important;
        font-weight: 600;
        font-size: 44px !important;
        letter-spacing: -0.02em;
      }

      p {
        margin-bottom: 36px;
        font-family: $sora !important;
        font-weight: 400;
        letter-spacing: -0.01em;
        max-width: 330px;
      }
      a {
        font-family: $sora !important;
        font-weight: 600;
      }
    }
    .build_better-cards {
      position: absolute;
      right: 57px;
      max-width: 700px;

      .build_better-card {
        height: 296px;
        background: #ffffff;
        box-shadow: 2px 9px 12px rgba(0, 0, 0, 0.15);
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px 30px;
        h3 {
          font-family: $sora !important;
          font-weight: 400;
          letter-spacing: -0.02em;
        }
        p {
          font-family: $sora !important;
          font-weight: 400;
          letter-spacing: -0.01em;
        }
        img {
          margin-bottom: 27px;
        }
        a {
          text-decoration: underline;
          line-height: 32px;
          font-family: $sora !important;
          font-weight: 400;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 53px 0;
    .build_better-wrapper {
      .build_better-content {
        max-height: 319px;
        padding: 0 18px;
        p {
          max-width: 100%;
        }
      }
      .build_better-cards {
        position: relative;
        right: unset;
        margin: 15px 16px;
        top: -45px;
        .build_better-card {
          height: unset;
        }
      }
      .build_better-dots {
        bottom: 50%;
        left: 0px;
      }
    }
  }
  @media (max-width: 768px) {
    .build_better-wrapper {
      .build_better-content {
        h1 {
          font-size: 36px !important;
        }
      }
    }
  }
  @media (max-width: $sm) {
  }
}