@import "variables";

#home-header {
  position: relative;
  background: #171753;
  color: $white;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  font-family: $sora;
  // background-color: radial-gradient(95.69% 140% at 93.33% 54.79%, #237B75 0%, #171753 60.3%);
  background-image: url(/img/homepage/home-bk.svg), radial-gradient(95.69% 140% at 93.33% 54.79%, #237B75 0%, #171753 60.3%);
  // background: linear-gradient(180deg, #48a0ac 0.14%, #171753 99.87%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;

  .container {
    padding: 75px 0;
    z-index: 9;
  }
  .koii-flower-area{
    position: absolute;
    top: 260px;
    right: 280px;
  }
  .finnieButton {
    margin-top: 36px;
    color: #171753 !important;
    padding: 5px 25px 5px 25px !important;
    width: 220px;
    border: 1px solid #bef0ed;
    background: #bef0ed;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    font-weight: 600;
  }
  .tutorialButton {
    margin-left: 50px;
    margin-top: 36px;
    color: #237b75 !important;
    padding: 5px 25px 5px 25px !important;
    width: 220px;
    border: 1px solid #ecfffe;
    background: #ecfffe;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    font-weight: 600;
  }
  .koii-logo-hero {
    margin-top: 55px;
  }
  a.button {
    font-family: $sora !important;
    text-decoration: none;
    font-weight: 500;
  }
  .font-cap1 {
    font-size: 52px;
    line-height: 72px;
    letter-spacing: 0em;
    color: #ffffff;
  }
  .font-cap3 {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0px;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 400;
    a {
      font-size: 24px;
      line-height: 40px;
      letter-spacing: -2%;
      color: #ffc78f;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .header-description {
    max-width: 610px;
  }
  @media (min-width: 960px) {
    #join-button {
      right: 80px;
    }
  }
  @media (min-width: 1449.98px) {
    padding: 150px 0 350px;
  }
  @media (max-width: 1000px) {
  }
  @media (max-width: 768px) {
    padding: 100px 0;
    background-image: url(/img/homepage/home-bk-mobile.svg);
    .container {
      padding: 0 0 100px 0;
      flex-direction: column;
    }
    .join-area {
      margin-bottom: 20px;
      width: 100%;
    }
    .submit-area {
      button {
        width: 100px;
      }
    }
    .font-cap1 {
      font-size: 36px;
      line-height: 72px;
    }
    .font-cap3 {
      font-size: 20px;
      line-height: 40px;
    }
  }
  @media (max-width: 572px) {
    .submit-area {
      button {
        width: 100px;
      }
    }
  }
  @media (max-width: 450px) {
    padding: 100px 0;
    // background-image: url(/img/homepage/home-bk-mobile.svg);
    .header-description {
      max-width: 510px;
      margin-top: 85px;
    }
    .tutorialButton {
      margin-left: 0px;
    }
  }
}
.hero-second {
  width: 100%;
  padding-top: 270px !important;
  color: white;
  font-family: $sora;
  .living-nft-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    h1{
      color: #5ED9D1;
      font-size: 56px;
      line-height: 72px;
      // letter-spacing: 0px;
      font-weight: bold;
    }
    .btn-get{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #171753;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.01em;
      padding: 8px 24px;
      border-radius: 24px;
      background: #BEF0ED;
    }
  }
  .flower-wrapper {
    position: relative;
    width: 100%;
    .flower-dots {
      position: absolute;
      bottom: 18px;
      left: -150px;
    }
  }
  .flower-content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .flower-item{
      flex: 1;
      position: relative;
      p{
        font-weight: 400;
        font-size: 20px !important;
        line-height: 32px;
        padding-right: 25px;
        a{
          color: #5ED9D1;
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 53px 0;
    .flower-wrapper {
      .flower-dots {
        bottom: 50%;
        left: 0px;
      }
    }
  }
  @media (max-width: 768px) {
    .flower-wrapper {
    }
  }
  @media (max-width: $sm) {
  }
}
