@import "variables";

#join {
    background: $blueDark;
    color: $white;
    padding: 88px 0;
    .container {
        h1 {
            margin-bottom: 38px;
        }
        h3 {
            margin-bottom: 60px;
        }
        .row {
            padding: 0 100px;
            margin-bottom: 77px;
            .join-option {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .join-btn-wrapper {
            .btn {
                width: 200px;
            }
        }
    }
    @media (max-width: $sm) {
        padding: 50px 0 25px;
        .container {
            h1 {
                font-size: 32px !important;
                margin-bottom: 18px;
            }
            h3 {
                font-size: 20px !important;
                margin-bottom: 30px;
            }
            .row {
                padding: 0;
                .join-option {
                    img {
                        width: 60px;
                    }
                    b {
                        font-size: 12px !important;
                    }
                }
            }
            .join-btn-wrapper {
                .btn {
                    width: 100%;
                }
            }
        }
    }
}
