@import "variables";

#publish_content {
  background: $blueDark;
  padding: 122px 0;
  color: white;
  font-family: $sora;
  a {
    text-decoration: none;
  }
  .publish_content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    .publish_content-dots {
      position: absolute;
      bottom: 18px;
      left: 347px;
    }
    .publish_content-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0;
      max-width: 1070px;
      padding-bottom: 66px;
      .content-part {
        h6 {
          font-size: 14px !important;
          line-height: 24px;
          color: #bef0ed;
          margin-bottom: 0;
          text-transform: uppercase;
        }
        h1 {
          font-size: 48px !important;
          margin-bottom: 0;
        }
        p {
          font-size: 18px !important;
        }
        .btn-get {
          background: #bef0ed;
          border-radius: 24px;
          width: 212px;
          height: 40px;
          font-size: 16px !important;
          line-height: 24px;
          color: $blueDark;
        }
      }
    }
    .publish_content-cards-wrapper {
      position: relative;
      background-color: $lightestBlue;
      max-width: 1280px;
      height: 388px;
      width: 100%;
      display: flex;
      justify-content: center;
      .publish_content-cards {
        position: absolute;
        max-width: 1070px;
        top: -40px;
        .publish_content-card {
          min-height: 364px;
          color: $blueDark;
          background: #ffffff;
          box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.15);
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          padding: 20px 30px;
          img {
            margin-bottom: 27px;
          }
          a {
            text-decoration: underline;
            line-height: 32px;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 53px 0;
    .publish_content-wrapper {
      .publish_content-content {
        max-height: 319px;
        padding-left: 18px;
        flex-direction: column;
        margin-bottom: 64px;
        padding-bottom: 0;
        .content-part {
          h6 {
            font-size: 14px !important;
            margin-bottom: 13px;
          }
          h1 {
            font-size: 32px !important;
            font-weight: normal;
          }
          p {
            font-size: 16px !important;
            line-height: 32px;
            margin-bottom: 32px;
          }
          .btn-get {
            font-size: 16px !important;
            width: 280px;
          }
        }
      }
      .publish_content-cards-wrapper {
        margin-right: -100px;
        height: unset;
        padding-top: 30px;
        .publish_content-cards {
          position: relative;
          right: 48px;
          margin: 15px 16px;
          top: unset;
          .publish_content-card {
            background-color: white;
            height: unset;
            min-height: unset;
            width: 100%;
          }
        }
      }
      .publish_content-dots {
        bottom: 50%;
        left: 0px;
      }
    }
  }
  @media (max-width: 400px) {
  }
  @media (max-width: $sm) {
  }
}
