@import "variables";

#roadmap {
    font-family: $sora;
    padding-bottom: 80px;
    // background-image: url(/img/homepage/roadmap/roadmap_background.svg);
    // background: linear-gradient(0deg, #ECFFFE 0%, #171753 21.23%);
    background: url(/img/homepage/roadmap/roadmap_background.svg), linear-gradient(0deg, #ECFFFE 0%, #171753 21.23%);
    .road-map-body {
        .arrow-area{
            img {width: 100%;}
        }
        .space-between{
            justify-content: space-between;
        }
        .space-around{
            justify-content: space-around;
        }
        .item-step {
            width: 185px;
            .item-title{
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: #5ED9D1;
            }
            .item-description{
                margin-top: 10px;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: #fff;
                word-break: break-word
            }
        }
    }

    .cap-area {
        text-align: center;
        padding-top: 85px;
    }

    .font1 {
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        color: #BEF0ED;
        position: relative;
    }

    .font2 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: #9be7c4;
        font-weight: 400;
    }

    .roadmap-area-mobile {
        display: none;
    }

    .cbp-fwslider {
        position: relative;
        margin: 0 0 10px;
        overflow: hidden;
        padding: 40px 0 60px;
    }
    
    .cbp-fwslider ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        list-style-type: none;
    }
    
    .cbp-fwslider ul li {
        transform: translateZ(0);
        float: left;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .cbp-fwslider ul li > a,
    .cbp-fwslider ul li > div {
        display: block;
        text-align: center;
        outline: none;
    }
    
    .cbp-fwslider ul li > a img {
        border: none;
        display: block;
        margin: 0 auto;
        max-width: 75%;
    }
    
    .cbp-fwslider nav span {
        position: absolute;
        // bottom: 50px;
        width: 115px;
        color: #ffc78f;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin-top: -50px;
        cursor: pointer;
        z-index: 9999;
    }
    
    .cbp-fwslider nav span:hover {
        color: #f4c89c;
    }
    
    .cbp-fwslider nav span.cbp-fwnext {
        right: 0px;
    }
    
    .cbp-fwslider nav span.cbp-fwprev {
        left: 0px;
    }
    
    .cbp-fwdots {
        position: absolute;
        bottom: 0px;
        white-space: nowrap;
        text-align: center;
        width: 100%;
        display: none;
    }
    
    .cbp-fwdots span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: #ddd;
        margin: 4px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .cbp-fwdots span:hover {
        background: #999;
    }
    
    .cbp-fwdots span.cbp-fwcurrent {
        background: #47a3da;
        box-shadow: 0 0 0 2px #47a3da;
        transition: box-shadow 0.2s ease-in-out;
    }

}