@import "variables";

#run_a_node {
  position: relative;
  background: $blueDark;
  padding: 122px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $sora !important;
  .run_node_img {
    position: absolute;
    right: 0;
    top: 27%;
  }
  a {
    text-decoration: none;
    font-family: $sora !important;
  }
  .run_a_node-wrapper {
    position: relative;
    .run_a_node-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
        font-family: $sora !important;
      }
      p.description {
        text-align: center;
        max-width: 62%;
        margin-bottom: 79px;
        font-family: $sora !important;
      }
      .run_a_node-cards {
        position: relative;
        max-width: 950px;
        margin: 0 auto;
        margin-bottom: 51px;
        .run_node_dots {
          position: absolute;
          right: -85px;
          bottom: -20px;
        }
        .run_a_node-card {
          width: 290px;
          height: 352px;
          background: #f5f5f5;
          box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.25);
          color: $blueDark;
          font-family: $sora !important;
          text-align: left;
          padding: 24px;
          .card-top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          h2 {
            font-size: 56px !important;
            font-family: $sora !important;
          }
          h6 {
            font-size: 24px !important;
            min-height: 60px;
            font-family: $sora !important;
          }
          p {
            font-size: 16px !important;
            line-height: 32px;
            font-family: $sora !important;
          }
        }
      }
      .btn-get {
        background: #bef0ed;
        border-radius: 24px;
        width: 262px;
        height: 40px;
        font-size: 16px !important;
        line-height: 24px;
        color: $blueDark;
        font-family: $sora !important;
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 53px 0;
    .run_node_img {
      right: -55px;
      top: 57%;
    }
    .run_a_node-wrapper {
      .run_a_node-content {
        padding: 0 16px;
        h1 {
          width: 100%;
          text-align: left;
          font-size: 32px !important;
        }
        p.description {
          width: 100%;
          text-align: left;
          max-width: unset;
          line-height: 32px;
          font-size: 16px !important;
        }
        .run_a_node-cards {
          max-width: 950px;
          margin: 0 auto;
          margin-bottom: 30px;
          .run_node_dots {
            right: unset;
            bottom: unset;
            top: -40px;
            left: -7px;
          }
          .run_a_node-card {
            width: 100%;
            margin-bottom: 30px;
            height: unset;
            .card-top {
              flex-direction: row;
              align-items: center;
            }
            h2 {
              margin-bottom: 0;
            }
            h6 {
              min-height: unset;
              margin-left: 18px;
              margin-bottom: 0;
            }
            p {
              font-size: 14px !important;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 400px) {
  }
  @media (max-width: $sm) {
  }
}
