@import "variables";

#save-web {
    .save-web-head{
        height: 120px;
        background: linear-gradient(0deg, #EEEEEE 0%, #FFFFFF 100%);
    }
    .save-web-footer{
        height: 120px;
        background: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
    }
    .save-web-body{
        display: flex;
        background: #EEEEEE;
        color: $blueDark;
        padding-bottom: 50px;
        background-image: url('/img/homepage/agent.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: bottom;
        background-size: contain;
    }
    .save-web-body2{
        display: flex;
        background: #EEEEEE;
        color: $blueDark;
        padding: 50px 0;
        .font-cap1{ margin-bottom: 30px;}
        .step-wrapper{
            img{ max-width: 100%;}
        }
        .step-wrapper-mobile{
            display: none;
        }
    }
    .font-cap1{
        font-weight: 600;
        font-size: 40px;
        line-height: 56px;
    }
    .font-cap2{
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
    }
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        .icon-wrapper {
            margin-bottom: 10px;
        }
        .btn {
            margin-top: 50px;
            height: 40px;
            font-size: 18px;
            padding: 0 30px;
        }
    }
    @media (max-width: $sm) {
        padding: 0px 0 20px;
        .save-web-head, .save-web-footer{
            height: 80px;
        }
        .font-cap1{
            font-size: 32px;
            line-height: 40px;
        }
        .font-cap2{
            font-size: 18px;
            line-height: 32px;
        }
        .save-web-body{
            padding-bottom: 0px;
            background-size: 25%;
        }
        .container {
            .icon-wrapper {
                display: flex;
                justify-content: center;
                margin-bottom: 25px;
            }
            .btn {
                height: 40px;
                font-size: 18px;
                padding: 0 30px;
            }
        }
        .save-web-body2{
            .step-wrapper{
                display: none;
            }
            .step-wrapper-mobile{
                display: block;
                img{max-width: 100%;}
            }
        }
    }
}
