@import "variables";

#save-web {
    .save-web-head{
        height: 160px;
        background: linear-gradient(0deg, #EEEEEE 0%, #FFFFFF 100%);
    }
    // .save-web-footer{
    //     height: 120px;
    //     background: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
    // }
    .save-web-body{
        display: flex;
        background: #EEEEEE;
        color: $blueDark;
        padding-bottom: 50px;
        background-image: url('/img/homepage/agent.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: bottom;
        background-size: contain;
    }
    .font-cap1{
        font-weight: 600;
        font-size: 40px;
        line-height: 56px;
    }
    .font-cap2{
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
    }
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        .icon-wrapper {
            margin-bottom: 10px;
        }
        .btn {
            margin-top: 50px;
            height: 40px;
            font-size: 18px;
            padding: 0 30px;
        }
        .share-options {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: auto;
            flex-wrap: wrap;
            .share-option {
                margin: 0 10px;
                img {
                    width: 150px;
                }
            }
        }
    }
    @media (max-width: $sm) {
        padding: 0px 0 20px;
        .font-cap1{
            font-size: 32px;
            line-height: 40px;
        }
        .font-cap2{
            font-size: 18px;
            line-height: 32px;
        }
        .save-web-body{
            padding-bottom: 0px;
            background-size: 25%;
        }
        .container {
            .icon-wrapper {
                display: flex;
                justify-content: center;
                margin-bottom: 25px;
            }
            .btn {
                height: 40px;
                font-size: 18px;
                padding: 0 30px;
            }
            .share-options {
                .share-option {
                    margin: 0 10px;
                    img {
                        width: 100px;
                    }
                }
            }
        }
    }
}
