@import "variables";

#home-team {
  background: linear-gradient(360deg, #171753 0%, #030332 68.53%);
  color: $white;
  padding-top: 5rem;
  
  .bg-star {
    position: absolute;
    right: 0;
}
  .font-cap1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFA54B;

  }
  .font-cap2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    display: flex;
    justify-content: center;
    width: 205px;
  }
  .font-cap3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $white;
    width: 150%;
  }
  .last {
    display: flex;
    justify-content: center;
}
  .users-area {
    color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
    .user {
      min-width: 150px;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      float: left;
      width: 8%;
      padding-bottom: 20px;
      text-align: center;
      .info-area {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      img {
        width: 100px;
        border-radius: 50%;
        height: 100px;
        margin-bottom: 12px;
        object-fit: cover;
      }
      @media (max-width: 1300px) {
        width: 25%;
      }
      @media (max-width: 1024px) {
        width: 33.33%;
      }
      @media (max-width: 575px) {
        width: 50%;
      }
      @media (max-width: 450px) {
        width: 40%;
        .user {
          padding-bottom: 0px;
        }
      }
    }
  }

  @media (max-width: $sm) {
    .font-cap1 {
      font-size: 24px;
      line-height: 32px;
    }
    .font-cap2 {
      font-size: 16px;
      line-height: 18px;
    }
    .font-cap3 {
      font-size: 15px;
      line-height: 20px;
    }
    .bg-star {
      top: 383rem;
  }
  .last {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  }
}
