@import "variables";

.system-card-wrapper {
    .system-card {
        width: 100%;
        max-width: 256px;
        // min-width: 256px;
        height: 150px;
        background: $orange;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $blueDark;
        text-decoration: none;

        cursor: pointer;
        .img-wrapper {
            flex: 1;
            img {
                margin-bottom: 10px;
            }
        }
        h4 {
            flex: 1;
            margin-bottom: 0;
        }
        p {
            text-align: center;
            margin-bottom: 0;
        }
    }
    @media (max-width: $sm) {
        .system-card {
            max-width: 216px;
            min-width: 216px;
            height: 72px;
            flex-direction: row;
            margin-top: 40px;
            .img-wrapper {
                text-align: center;
                img {
                    width: auto;
                    height: 45px;
                    margin-bottom: 0px;
                }
            }
            h4 {
                font-size: 17px !important;
            }
        }
    }
}
