<section id="dapps">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="running-node-right">
                    <h3>Koi apps can log information to any blockchain</h3>
                    <h6>Like Wordpress for websites or Ruby on Rails for centralized web apps, Koi makes it fast and easy to build a decentralized app.
                    </h6>
                    <p>The Koi-X framework will soon make it possible to seamlessly integrate decentralized web services with React and React Native applications.
                    </p>
                    <div class="btn-wrapper d-none d-md-flex justify-content-center">
                        <a href="https://docs.openkoi.com/" target="_blank" class="btn btn-orange">Go to the SDK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="running-node-left">
                    <img src="/img/framework/dapps.png">
                </div>
            </div>
        </div>
    </div>
</section>
