<section id="dapp-cli">
    <div class="container">
        <div class="row developers">
            <div class="col-md-2 col-12">
                <div class="avatar-developers">
                    <img src="/img/framework/avatarDeveloper.png">
                    <h6>Developers</h6>
                    <p>Create dApps</p>
                </div>
            </div>
            <div class="col-md-10 col-12">
                <div class="cli-part">
                    <div class="cli-input">
                        <b>$</b> koix create-new-dapp
                    </div>
                    <div class="cli-imgs">
                        <div class="cli-imgs-left">
                            <div class="cli-imgs-row">
                                <div class="cli-img">
                                    <img src="/img/framework/icon-storecat.png">
                                    <p>StoreCat</p>
                                </div>
                                <div class="cli-img">
                                    <img src="/img/framework/icon-attention.png">
                                    <p>Attention Tracking</p>
                                </div>
                                <div class="cli-img">
                                    <img src="/img/framework/icon-twitter.png">
                                    <p>TwittAr</p>
                                </div>
                            </div>
                            <div class="cli-imgs-row">
                                <div class="cli-img">
                                    <img src="/img/framework/icon-survey.png">
                                    <p>Survey Swap</p>
                                </div>
                                <div class="cli-img">
                                    <img src="/img/framework/icon-arlens.png">
                                    <p>ArLens</p>
                                </div>
                                <div class="cli-img">
                                    <img src="/img/framework/icon-ardrive.png">
                                    <p>ArDrive</p>
                                </div>
                            </div>
                        </div>
                        <div class="cli-imgs-part d-flex justify-space-around align-items-center">
                            <img src="/img/framework/arrowRight.png">
                            <img src="/img/framework/koi-contract.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row users-interact">
            <div class="col-md-5 col-12">

            </div>
        </div>
    </div>
</section>