<section id="dapps">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="running-node-right">
                    <h3>dApps run on Koii are compatible with any blockchain</h3>
                    <h6>
                        Like Wordpress for websites or Ruby on Rails for centralized web apps, Koii makes it fast and easy to build a decentralized app.
                    </h6>
                    <p>
                        You can create an app with just a few commands in a CLI or visit our Developer’s SDK to start working with our dApp templates.
                    </p>
                    <div class="btn-wrapper d-none d-md-flex">
                        <a href="https://docs.koii.network/" target="_blank" class="btn btn-white">Go to the SDK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="running-node-left">
                    <img src="/img/framework/dapps.png">
                </div>
            </div>
        </div>
    </div>
</section>
