<section id="dapp-cli">
    <div class="container">
        <div class="create-dapp">
            <h4 class="mt20">Create a dApp using the CLI running on<br /> existing Koii Task contracts</h4>
            <div class="img-wrapper">
                <img class="developers full-img" src="/img/framework/developers.svg">
                <img class="mobile-developers full-img" src="/img/framework/mobile-developers.svg">
            </div>
        </div>
        <div class="">
            <h4 class="mt20">Users interact with the dApp and Koii<br /> Nodes verify the contracts</h4>
            <div class="img-wrapper">
                <img class="users-interact full-img" src="/img/framework/dapp-users.svg">
                <img class="mobile-users full-img" src="/img/framework/mobile-dapp-users.svg">
            </div>
        </div>
    </div>
</section>