<section id="developer-docs">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="running-node-left">
                    <img src="/img/framework/sdk-code.png">
                </div>
            </div>
            <div class="col-md-7 col-12">
                <div class="running-node-right">
                    <h3>Check out the Koi Developer Docs</h3>
                    <p>All of the developer documentation is in the docs portal.</p>
                    <p>The Koi Web Fund is live! If you have a great idea for a new decentralized app to build on Koi, apply for a KOI grant to help fund your project.
                    </p>
                    <div class="btn-wrapper">
                        <a href="/downloads/" class="btn btn-orange">Check out the SDK</a>
                        <a href="/downloads/" class="btn btn-white ml-4">Apply for a Grant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>