<section id="developer-docs">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="running-node-left">
                    <img src="/img/framework/sdk-code.png">
                </div>
            </div>
            <div class="col-md-7 col-12">
                <div class="running-node-right mt20">
                    <h3>Change the world, build on Koi</h3>
                    <p>All of the developer documentation is in the docs portal.</p>
                    <p>The Koi Web Fund is live! If you have a great idea for a new decentralized app to build on Koi,
                        apply for a KOI grant to help fund your project.
                    </p>
                    <div class="btn-wrapper">
                        <a href="https://docs.openkoi.com/" target="_blank" class="btn btn-blue">Check out the SDK</a>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeC9Qyc4lQrKSW6_92knIE_Ko7Kd_z5g1thT0FFD0qsD7HwVw/viewform"
                            target="_blank" class="btn btn-white ml-4">Apply for a Grant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>