<header id="creators-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-content">
          <img
            src="/img/creators/creators-header-mobile.svg"
            class="d-md-none"
          />
          <div class="header-title">Create,<br />Publish,<br />& Earn</div>
          <div class="header-description">
            For the first time, it’s possible to own your content- forever. Plus, you'll earn KOII for every view. 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
