<header id="mission-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="font-cap1 font-blue s-title">About Koi</div>
                <div class="image-area mt40">
                    <img src="/img/learn/mission.svg" class="full-img">
                </div>
                <div class="font-cap2 font-blue mt15">Create and ensure universal, equitable access to quality information</div>
                <div class="image-area mt40">
                    <img src="/img/learn/salary.svg" class="full-img">
                </div>
                <div class="font-cap2 font-blue mt15">Reward creators directly for the content they produce</div>
            </div>
        </div>
        <div class="row mt50">
            <div class="col-md-12">
                <div class="font-cap4 font-blue mt50">
                    When people have access to resources, they can create, innovate, and change the world. This kind of transformation should be available to more than just those who can afford to pay for it, unfairly skewing progress towards the wealthy. 
                </div>
                <div class="text-center mt30">
                    <img src="/img/learn/agency.svg" alt="">
                </div>
                <div class="font-cap4 font-blue mt25">To keep the ecosystem thriving, KOI tokens are systematically
                    exchanged between different participants.</div>
                <div class="font-cap4 font-blue mt60">The future of the internet is quality content freely available to
                    anyone, not stuck behind paywalls or unskippable ads, and where already-wealthy companies aren’t
                    profiting from your personal data.</div>
            </div>
            <div class="col-md-12 text-center mt40">
                <div class="font-cap5 font-blue s-sub-title2">Attention is valuable,<br>let’s treat it that way.</div>
                <div class="mt50">
                    <a class="btn" href="/learn/mission">Mission & Values</a>
                </div>
            </div>
        </div>
    </div>
</header>