<header id="mission-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="font-cap1 font-blue s-title">About Koi</div>
                <div class="image-area mt40">
                    <img src="/img/learn/mission.svg" class="full-img">
                </div>
                <div class="font-cap2 font-blue mt15">Create and ensure universal, equitable access to quality information</div>
                <div class="image-area mt40">
                    <img src="/img/learn/salary.svg" class="full-img">
                </div>
                <div class="font-cap2 font-blue mt15">Reward creators directly for the content they produce</div>
            </div>
        </div>
        <div class="row mt50">
            <div class="col-md-12">
                <div class="font-cap4 font-blue mt40">
                    When people have access to resources, they can create, innovate, and change the world. This kind of transformation should be available to more than just those who can afford to pay for it, unfairly skewing progress towards the wealthy. 
                </div>
                <div class="font-cap-mb font-blue mt25">
                    Koi was founded on fairness, trust, and one immense objective: to give creators a space where they permanently own and earn the value they deserve from their content.
                </div>
                <div class="font-cap4 font-blue">
                    This lack of access to resources is amplified in the creator space too. When you take a beautiful photo and it goes viral on social media, the platform makes money off your work, not you— and they own it, too. 
Artists and other creators are exploited because they love what they do. You should earn the rewards for all your hard work and creativity.
                </div>
            </div>
        </div>
    </div>
</header>