<section id="mission_section2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="font-cap1 font-blue s-title">We Value...</div>
            </div>
        </div>
        <div class="tap-area">

        </div>
        <div class="row mt50">
            <div class="col-md-12">
                <div class="font-cap4 font-blue">
                    We’ve become so used to “free” stuff on the internet that we (our data) have become the product. In
                    this model creators lose out, sometimes pursuing other careers because creating is not sustainable
                    in the long term.
                    We want to help creators get paid for their work, and allow them to keep making more work that
                    people love.
                </div>
            </div>
        </div>
    </div>
</section>