<section id="mission_section2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="font-cap1 font-blue s-title">We Value...</div>
            </div>
        </div>
        <div class="tap-area mt40">
            <div class="tap-section" id="tap1">
                <div class="image-area">
                    <img src="/img/learn/tap1.svg" class="full-img">
                </div>
                <div class="font-cap2">Openness</div>
                <div class="font-cap4">tap for more details</div>
            </div>
            <div class="mobile-tap-descrs">
                <div class="tap1-content content-detail">
                    <div class="font-cap4">
                        For us, being “open” encompasses several concepts and summarizes a few core values including Transparency and <b>Honesty</b>.
                        <br><br>As an organization in the blockchain space, we aim to be open in all aspects. Our products are all open-source (check out our Github) and we have a largely horizontal team structure. 
                        <br><br>We firmly believe that game-changing ideas can come from anywhere, and anyone can schedule a meeting to bring ideas for improving the company, products, or ecosystem.                
                    </div>
                    <div class="icon-close"><img src="/img/learn/close.svg" class="full-width"></div>
                </div>
            </div>
            <div class="tap-section" id="tap2">
                <div class="image-area">
                    <img src="/img/learn/tap2.svg" class="full-img">
                </div>
                <div class="font-cap2">Accessibility</div>
                <div class="font-cap4">tap for more details</div>
            </div>
            <div class="mobile-tap-descrs">
                <div class="tap2-content content-detail">
                    <div class="font-cap4">
                        Accessibility is often used as a catch-all for “We care about people!” While we definitely do care about people, we see accessibility in a bigger scope. Yes, we are actively and constantly working to make our products more usable for people of all abilities. <b>But we are also focusing on how Koii can empower equitable access to information around the world.</b> 
                        <br><br>We also started the Koii Foundation to help people with great ideas build innovative new projects on Koii, regardless of access to other funding.
                        <div class="apply">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeC9Qyc4lQrKSW6_92knIE_Ko7Kd_z5g1thT0FFD0qsD7HwVw/viewform"  class="btn btn-blue">Apply for a Koii Foundation Grant</a>
                        </div>
                        
                    </div>
                    <div class="icon-close"><img src="/img/learn/close.svg" class="full-width"></div>
                </div>
            </div>
            <div class="tap-section" id="tap3">
                <div class="image-area">
                    <img src="/img/learn/tap3.svg" class="full-img">
                </div>
                <div class="font-cap2">Sustainability</div>
                <div class="font-cap4">tap for more details</div>
            </div>
            <div class="mobile-tap-descrs">
                <div class="tap3-content content-detail">
                    <div class="font-cap4">
                        One big criticism of popular blockchains is that they are terrible for the environment. Proof of Work  requires an enormous amount of energy. At Koii, we developed a new verification method, <span class="underline">Proof of Real Traffic</span>, to engage all the benefits of blockchain without such environmental harm. 
                        <br><br>The current ad economy is unsustainable, getting more annoying and paywalls more frustrating.
                        We are creating an ecosystem where creators are compensated fairly as a sustainable solution.
                    </div>
                    <div class="icon-close"><img src="/img/learn/close.svg" class="full-width"></div>
                </div>
            </div>
        </div>
        <div class="tap-descrs mt20">
            <div class="tap1-content content-detail">
                <div class="font-cap4">
                    For us, being “open” encompasses several concepts and summarizes a few core values including <b>Transparency</b> and <b>Honesty</b>. 
                    <br><br>As an organization in the blockchain space, we aim to be open in all aspects. Our products are all open-source (check out our Github) and we have a largely horizontal team structure. 
                    <br><br>We firmly believe that game-changing ideas can come from anywhere, and anyone can schedule a meeting to bring ideas for improving the company, products, or ecosystem.        
                           
                </div>
                <div class="icon-close"><img src="/img/learn/close.svg" class="full-width"></div>
            </div>
            <div class="tap2-content content-detail">
                <div class="font-cap4">
                    Accessibility is often used as a catch-all for “We care about people!” While we definitely do care about people, we see accessibility in a bigger scope. Yes, we are actively and constantly working to make our products more usable for people of all abilities. <b>But we are also focusing on how Koii can empower equitable access to information around the world.</b> 
                    <br><br>We also started the Koii Foundation to help people with great ideas build innovative new projects on Koii, regardless of access to other funding.
                    <div class="apply">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeC9Qyc4lQrKSW6_92knIE_Ko7Kd_z5g1thT0FFD0qsD7HwVw/viewform"  class="btn btn-blue">Apply for a Koii Foundation Grant</a>
                    </div>
                    
                </div>
                <div class="icon-close"><img src="/img/learn/close.svg" class="full-width"></div>
            </div>
            <div class="tap3-content content-detail">
                <div class="font-cap4">
                    One big criticism of popular blockchains is that they are terrible for the environment. Proof of Work  requires an enormous amount of energy. At Koii, we developed a new verification method, <span class="underline">Proof of Real Traffic</span>, to engage all the benefits of blockchain without such environmental harm. 
                    <br><br>The current ad economy is unsustainable, getting more annoying and paywalls more frustrating.
                    We are creating an ecosystem where creators are compensated fairly as a sustainable solution.
                </div>
                <div class="icon-close"><img src="/img/learn/close.svg" class="full-width"></div>
            </div>
        </div>
        <div class="row mt50">
            <div class="col-md-12">
                <div class="font-cap4 font-blue">
                    We’ve become so used to “free” stuff on the internet that we (our data) have become the product. In
                    this model creators lose out, sometimes pursuing other careers because creating is not sustainable
                    in the long term.
                    <b>We want to help creators get paid for their work, and allow them to keep making more work that
                    people love.</b>
                </div>
            </div>
        </div>
    </div>
</section>