<section id="mission_touch">
    <div class="touch-area">
        <div class="container text-center">
            <div class="font-cap1 mt25">If you notice a way we could better embody and promote these values, please reach out to us. </div>
            <div class="font-cap1 mt15">We are always looking for feedback on our blindspots.</div>
            <div class="flex1 mt70">
                <a href="mailto:support@koii.network" class="btn btn-blue">Get in Touch</a>
            </div>
            <div class="mt40"></div>
        </div>
    </div>
</section>