@import "variables";

#jobfooter {
    .footer-body {
        height: 232px;
        background: #FFC78F;
        margin-bottom: 75px;
    }
    .row {
        padding: 45px 0 35px 0;

        h6 {
            font-weight: 700;
            font-size: 20px !important;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #171753;
        }

        h5 {
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #171753;
        }
    }

    @media (max-width: $md) {
        .footer-body {
            height: 300px;
            background: #FFC78F;
            margin-bottom: 75px;
        }
    }

    @media (max-width:$sm) {
        .footer-body {
            height: 300px;
            background: #FFC78F;
            margin-bottom: 75px;
        }
        
    }

    @media (max-width: $xs) {
        .footer-body {
            height: 400px;
            background: #FFC78F;
            margin-bottom: 75px;
        }
    }
}
