<section id="publish_content">
  <div class="publish_content-wrapper">
    <div class="publish_content-content">
      <div class="content-part">
        <h6>原子NFTs</h6>
        <h1>发布的内容可以如此持久。</h1>
        <p>挖掘KOII的唯一方法是发布引起人么关注的内容。</p>
      </div>
      <div class="content-part d-flex align-items-center">
        <a href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank"><div class="btn btn-get">获取Finnie钱包</div></a>
      </div>
    </div>
    <img src="/img/homepage/Dots.svg" class="publish_content-dots" />
    <div class="publish_content-cards-wrapper">
      <div class="publish_content-cards">
        <div class="row">
          {% for item in site.data.zh.home_publish_content %}
          
          <div class="col-md-4">
          <a href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank">
            <div class="publish_content-card">
              <img src="/img/homepage/{{item.img}}"/>
              <h3>{{item.title}}</h3>
              <p>{{item.subtitle}}</p>  
            </div>
          </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
