<section id="run_a_node">
  <img src="/img/homepage/run_node_img.svg" class="run_node_img" />
  <div class="run_a_node-wrapper">
    <div class="run_a_node-content">
      <h1>运行节点</h1>
      <p class="description">
        点对点技术使构建更加透明和承担责任的信息网络成为可能，但我们需要您运行一个节点才能使其成为现实。
      </p>
      <div class="run_a_node-cards">
        <img src="/img/homepage/Dots.svg" class="run_node_dots" />
        <div class="row">
          {% for item in site.data.zh.home_run_a_node %}
          <div class="col-md-4">
            <div class="run_a_node-card">
              <div class="card-top">
              <h2>0{{item.order}}</h2>
              <h6>{{item.title}}</h6>
            </div>
              <p>{{item.subtitle}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <a href="https://bit.ly/2SYFtBd" target="_blank">
        <div class="btn btn-get">预约注册运行节点</div>
      </a>
    </div>
  </div>
</section>
