<section id="stop">
  <img src="/img/homepage/stop_vector_left.svg" class="img-left" />
  <img src="/img/homepage/stop_vector_right.svg" class="img-right" />
  <div class="stop-wrapper">
    <div class="stop-content">
      <div class="content-part">
        <h6>开发者</h6>
        <h1>去中心化并不复杂</h1>
        <p>
          Koii协议是为人和媒体构建的，而不是为货币构建的，因此规模更加庞大。
        </p>
      </div>
      <div class="content-part btns-wrapper">
        <a href="https://docs.koii.network/"><div class="btn btn-tool">开发者工具</div></a>
        <a href="https://docs.google.com/forms/d/1E-DBTtEYQ_qZtAUDcimmO4dGYfSyE-xMVH39K_WSOQU/edit">
          <div class="btn btn-get">注册黑客松</div>
        </a>
      </div>
    </div>
    <div class="stop-cards-wrapper">
      <div class="stop-cards">
        <div class="row">
          {% for item in site.data.zh.home_stop %}
          <div class="col-md-3">
            <a href="{{ item.link }}" target="_blank">
              <div class="stop-card">
                <h3>{{item.title}}</h3>
                <p>{{item.subtitle}}</p>
              </div>
          </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <h3 class="level-title">不是所有的应用都需要图灵机-尝试次世代速度。</h3>
    <div class="stop-level-cards-wrapper">
      <div class="stop-level-card">
        <div class="img-wrapper">
          <img src="/img/homepage/icon_level1.svg" width="57" />
        </div>
        <h6>Koii Tasks 可以用任何语言编写，并且只在您需要的节点上运行。</h6>
      </div>
      <div class="stop-level-card">
        <div class="img-wrapper">
          <img src="/img/homepage/icon_level2.svg" width="57" />
        </div>
        <h6>懒惰执行和渐进共识效率更高。节约能源，降低成本。</h6>
      </div>
      <div class="stop-level-card">
        <div class="img-wrapper">
          <img src="/img/homepage/icon_level3.svg" width="57" />
        </div>
        <h6>我们致力于使其尽可能简单，打造更美好的未来。</h6>
      </div>
    </div>
  </div>
</section>
