<section id="investors">
  <div class="touch-area">
      <div class="container text-center">
          <div class="font-cap1 mt25">行动起来</div>
          <div class="font-cap2 mt15">相信 Koii 的使命和执行力</div>
          <div class="flex1 mt50">
              <a href="https://docs.google.com/forms/d/1sKvsAdLS12FTB65afdIee6YtgjmEjK6Fr07P1E1HHK0/viewform?edit_requested=true" target="_blank" class="btn btn-white">加入白名单</a>
          </div>
          <div class="mt40"></div>
      </div>
  </div>
</section>
<aside class="investors-partners">
  <div class="container text-center">
      <div class="call-to-action">
        <!-- <h2>Our Partners</h2> -->   
        <a href="https://www.fenbushicapital.vc/index_en.html">
          <img src="/img/investors/fenbushi.svg"  style="max-width: 150px;">
        </a>
        <a href="https://www.sanctor.com/" class="partner" target="_blank">
          <img src="/img/partners/src-logo.jpg" style="max-width: 150px;">
        </a>
        <a href="https://outlierventures.io" class="partner" target="_blank">
          <img src="/img/partners/ov-logo.svg">
        </a>
        <a href="https://www.maven11.com/" class="partner" target="_blank">
          <img style="max-width: 105px;" src="/img/partners/maven.svg">
        </a>
        <a href="https://provalidator.com/" class="partner" target="_blank">
          <img src="/img/investors/prov.svg">
        </a>
        <a href="https://www.iconomy.partners/" class="partner" target="_blank">
          <img src="/img/investors/iconomy.svg">
        </a>
        <a href="https://mask.io/" class="partner" target="_blank">
          <img src="/img/investors/mask.svg">
        </a>
        <a href="http://portico.vc/" class="partner" target="_blank">
          <img src="/img/investors/port.svg">
        </a>
        <a href="https://twitter.com/maxstealth5" class="partner" target="_blank">
          <img src="/img/investors/tw.svg">
        </a>
        <a href="https://ldcap.com/" class="partner" target="_blank">
          <img style= "max-width: 200px" src="/img/investors/ldcapital.png">
        </a>
        <a href="https://www.gate.io/" class="partner" target="_blank">
          <img style= "max-width: 200px" src="/img/partners/gateio.jpeg">
        </a>
        <!-- <a href="https://www.bitmart.com/" class="partner" target="_blank">
          <img style= "max-width: 150px" src="/img/partners/bitmart.png">
        </a> -->
        <a href="https://cyberight.capital/" class="partner" target="_blank">
          <img style= "max-width: 220px" src="/img/investors/cyberight.png " >
        </a>
        <a href="https://www.tessventures.com/" class="partner" target="_blank">
          <img style= "max-width: 220px" src="/img/investors/Tess.jpeg " >
        </a>
        <a href="https://www.arweave.org/" class="partner" target="_blank">
          <img style= "max-width: 250px" src="/img/investors/arweave.svg " >
        </a>
        <a href="http://www.7xvc.com/" class="partner" target="_blank">
          <img style= "max-width: 250px" src="/img/investors/sevenx.jpeg" >
        </a>
        <a href="https://www.drf.ee/" class="partner" target="_blank">
          <img style= "max-width: 230px" src="/img/investors/Drf.jpeg" >
        </a>
        <a href="http://waterdrip.io/" class="partner" target="_blank">
          <img style= "max-width: 280px" src="/img/investors/waterdrip.png" >
        </a>
        <a href="https://doublepeak.io/" class="partner" target="_blank">
          <img style= "max-width: 150px" src="/img/investors/Double_Peak.png" >
        </a>
        <a href="https://www.qwerty.fund/index.php" class="partner" target="_blank">
          <img style= "max-width: 50px" src="/img/investors/qwerty.png" >
        </a>
        <a href="https://ellipti.io/" class="partner" target="_blank">
          <img style= "max-width: 200px" src="/img/investors/ellipti-og.png" >
        </a>
        <a href="https://www.meter.io/" class="partner" target="_blank">
          <img style= "max-width: 70px" src="/img/investors/dfinlab.png" >
        </a>
        <a href="https://blockdaemon.com/" class="partner" target="_blank">
          <img style= "max-width: 230px" src="/img/investors/blockdaemon.png" >
        </a>
        <a href="https://d1.ventures/" class="partner" target="_blank">
          <img style= "max-width: 200px" src="/img/investors/d1-logo.jpeg" >
        </a>
        <a href="https://zmtcapital.com/" class="partner" target="_blank">
          <img style= "max-width: 200px" src="/img/investors/zmt.png" >
        </a>
        <a href="https://coinlist.co/" class="partner" target="_blank">
          <img style= "max-width: 130px" src="/img/investors/coinlist.png" >
        </a>
      </div>
  </div>
</aside>