<section id="mission">
    <div class="container">
	<div class="row">
        <div class="col-md-2"></div>
		<div class="col-md-8 justify-content-center">
            <h6 class="top1">The future of the internet is quality content freely available to anyone, not stuck behind paywalls or unskippable ads, and where already-wealthy companies aren’t profiting from your personal data.
            </h6>
            <h5 class="top2">Attention is valuable, we have to treat it that way.
            </h5>
		</div>
        <div class="col-md-2"></div>
	</div>
	<div class="row ">
		<div class="col-md-12 column">
        <h2>Our Mission</h2>
        <h6>Our mission is two-fold:</h6>
			<div class="row ">
				<div class="col-md-6 column">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                    <div class="circle1"></div>
                    <h3>Create and ensure universal, equitable access to quality information</h3>
                    </div>
                    <div class="col-md-1"></div>
                </div>
				<div class="col-md-6 column">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                    <div class="circle2"></div>
                    <h3>Reward creators directly for the content they produce</h3>
                    </div>
                    <div class="col-md-1"></div>
                </div>
			</div>
			<div class="row">
				<div class="col-md-8 column">
                    <h6 class="info1">When people have access to resources, they can create, innovate, and change the world. This kind of transformation should be available to more than just those who can afford to pay for it, unfairly skewing progress towards wealthy countries. 
                    </h6>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
			<div class="row ">
				<div class="col-md-4 column">
                    <h5 class="sign">“Koi is making a better world and I love being a part of that [temporary].”</h5>
				</div>
				<div class="col-md-8 column">
                    <h6 class="info2">This lack of access to resources is amplified in the creator space too. When you take a beautiful photo and it goes viral on social media, the platform makes money off your work, not you— and they own it, too. Artists and other creators are criminally taken advantage of because they love what they do. You should earn the rewards for all your hard work and creativity.
                    </h6>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-2"></div>
		        <div class="col-md-8 justify-content-center">
                    <h5 class="bottom1">We Value...
                    </h5>
                    <h6 class="bottom2">At Koi, we strive to embody our values and build products around them.
                    </h6>
                </div>
                <div class="col-md-2"></div>
            </div>
		</div>
	</div>
</div>
<div class="backgroundbottom"></div>
</section>