<section id="value">
    <div class="container">
        <div class="row ">
				<div class="col-md-2"></div>
                    <div class="col-md-8 justify-content-center">
                        <h5 class="top1">We Value...
                        </h5>
                        <h6 class="top2">At Koi, we strive to embody our values and build products around them.
                        </h6>
                    </div>
                <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="circle1"></div>
                <h3>Openness</h3>
            </div>
            <div class="col-md-4">
                <div class="circle2"></div>
                <h3>Accessibility</h3>
            </div>
            <div class="col-md-4">
                <div class="circle3"></div>
                <h3>Sustainability</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="10000">
                            
                                <div class="card1">
                                <div class="d-block w-100" alt="...">
                                    <h6 class="part1">For us, being “open” encompasses several concepts and summarizes a few core values including Transparency and Honesty. As an organization in the blockchain space, we aim to be open in all aspects. Our products are all open-source (check out our Github) and we have a largely horizontal team structure. 
                                    </h6>
                                    <h6 class="part1">We firmly believe that game-changing ideas can come from anywhere, and anyone can schedule a meeting with our leadership with ideas for improving the company, products, or ecosystem.
                                    </h6>
                                </div>
                                </div>

                        </div>
                        <div class="carousel-item" data-interval="2000">

                                <div class="card1">
                                <div class="d-block w-100" alt="...">
                                    <h6 class="part1">For us, being “open” encompasses several concepts and summarizes a few core values including Transparency and Honesty. As an organization in the blockchain space, we aim to be open in all aspects. Our products are all open-source (check out our Github) and we have a largely horizontal team structure. 
                                    </h6>
                                    <h6 class="part1">We firmly believe that game-changing ideas can come from anywhere, and anyone can schedule a meeting with our leadership with ideas for improving the company, products, or ecosystem.
                                    </h6>
                                </div>
                                </div>

                        </div>
                        <div class="carousel-item">
                        
                                <div class="card1">
                                <div class="d-block w-100" alt="...">
                                    <h6 class="part1">For us, being “open” encompasses several concepts and summarizes a few core values including Transparency and Honesty. As an organization in the blockchain space, we aim to be open in all aspects. Our products are all open-source (check out our Github) and we have a largely horizontal team structure. 
                                    </h6>
                                    <h6 class="part1">We firmly believe that game-changing ideas can come from anywhere, and anyone can schedule a meeting with our leadership with ideas for improving the company, products, or ecosystem.
                                    </h6>
                                </div>
                                </div>

                        </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            <div class="col-md-1"></div>   
            </div> 
    </div>
</section>