<section id="whatiskoi">
    <div class="container">
        <div class="row">
            <div class="col-md-6 column">
                <h3>What is Koi?</h3>
                <h7>Koi is a new ecosystem and economy based on attention. The ecosystem comprises three main parts: </h6>
                <div class="row">
                    <div class="col-md-4 column">
                        <div class="circle1">
                            <h6>Creators</h6>
                        </div>           
                    </div>
                    <div class="col-md-4 column">
                        <div class="circle2">
                            <h6>Developers</h6>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="circle3">
                            <h6>Node Agents</h6>
                        </div>
                    </div>
                </div>
                <h7>To keep the ecosystem thriving, KOI tokens are systematically exchanged between different participants.</h7>
            </div>
            <div class="col-md-6 column">
                <div class="row">
                    <div class="col-md-8">
                    
                        <div class="d-flex justify-content-center">
                            <div class="NFT-btn-wrapper">
                                <img src="/img/icons/Creative_052521.png" class="creative">
                                <a class="btn btn-white" href="https://koi.rocks/contents" target="_blank">Register an NFT</a>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="node-btn-wrapper">
                                <img src="/img/icons/NodeAgent_052521.png" class="node">
                                <a class="btn btn-white" href="https://openkoi.com/run-a-node/" target="_blank">Run a Node</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 column">
                 
                        <div class="d-flex justify-content-center">
                            <div class="SDK-btn-wrapper">
                                <img src="/img/icons/Developer_0052521.png" class="developer">
                                <a class="btn btn-white" href="https://docs.openkoi.com/#tools-for-easy-protocolization" target="_blank">Use the SDK</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>