<section id="atomic">
  <img src="/img/homepage/node_net.svg" class="node-net" />
  <div class="node-wrapper">
    <div class="node-content">
      <div class="node-left">
        <h3>特殊节点任务 <br /> 减少复杂工作</h3>
        <p>Koii 旨在在全球范围内扩展并征集新用户。</p>
      </div>
      <div class="node-right">
        <a href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank">
          <div class="node-card">
            <p class="text-uppercase node-card-title">还没安装Finnie钱包？</p>
            <p>
              免费上传5个NFT，利用关注度吸引用户来收获更多KOII
              <u style="color: 
              #237B75;">了解更多</u>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
