<section id="extension">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-tag">原子NFTs</div>
                <div class="font-cap1">永久存储您的内容</div>
                <div class="font-cap3">Koii的浏览器插件（Finnie）是您创建 NFT 的一站式平台，让您可以廉价且轻松地创造NFT，然后将它们列出到任何市场，甚至将它们导出到传统网络平台以找到更广泛的受众。</div>
            </div>
            <div class="col-12 gallery-part">
                <img src="/img/creators/Gallery_chrome-store.png" class="gallery" />
                <img src="/img/homepage/Dots.svg" class="gallery-dots" />
            </div>
            
            <div class="extension-cards-wrapper">
                <div class="extension-cards">
                  <div class="row">
                        {% for item in site.data.zh.creators_extension %}
                        <div class="col-xl-4 col-md-12">
                            <a href="{{item.link}}" target="_blank" style="text-decoration: none;">
                            <div class="extension-card">
                                <img src="/img/creators/{{item.img}}.svg" width="57" />
                                <h3>{{item.title}}</h3>
                            </div>
                            </a>
                        </div>
                        {% endfor %}
                  </div>
                </div>
            </div>
            <img src="/img/homepage/Dots.svg" class="wallet-dots-left" />
            <img src="/img/homepage/Dots.svg" class="wallet-dots-right" />
            <div class="col-12 getwallet">
                <div class="font-cap5">安装Finnie Wallet，开始点对点发布并且永久拥有您的作品。</div>
                <div class="btnwallet"><a href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank"><div class="btn btn-get">获取Finnie Wallet</div></a></div>
            </div>
        </div>
    </div>
</section>