<section id="publish">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="font-cap1">
          一经发布,<br />终身拥有
        </div>
        <div class="font-cap3">
          初期，首5个NFT我们提供免费上传
        </div>
      </div>
      <div class="col-12">
        <div class="plus-card-wrapper">
          <div class="plus-card">
            <div class="img-plus">
              <img src="/img/creators/plus-circle.svg" width="132px" />
            </div>
            <div class="text-plus">
              <p>另外</p>
              <h6>
                您的作品将会展示在 <a href="https://koi.rocks/contents" target="_blank">koi.rocks</a>, 每有用户查看你的作品便会提升关注度并获得KOII。
                如果您上传了非常引人注目的作品，您的收益或许会超过您接下来要上传的所有NFT的费用！
              </h6>
            </div>
          </div>
          <div class="dots-plus">
            <img src="/img/homepage/Dots.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
