<section id="registration">
  <div class="registration-wrapper">
    <div class="registration-content">
      <h1>注册<br />原子NFT</h1>
      <div class="d-flex align-items-center">
        <a href="https://koi.rocks" class="text-green text-bold" target="_blank">查看原子NFT</a>
        <img src="/img/homepage/arrow-right.svg" class="ml-2" />
      </div>
    </div>
    <img src="/img/homepage/Dots.svg" class="registration-dots" />
    <div class="registration-cards">
      <div class="row">
        {% for item in site.data.zh.creators_registration %}
        <div class="col-md-6">
          <div class="registration-card">
            <h3>{{item.title}}</h3>
            <p>{{item.subtitle}}</p>
            <p class="hint">{{item.hint}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
