<header id="koi-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>KOI is a Network Dedicated to Truth</h1>
                <p>Install our node software to join the network and begin helping us keep the internet accountable.</p>
                <div class="header-btn-wrapper">
                    <a href="/downloads/" class="btn btn-orange">Join Now</a>
                    <a href="#howItWorks" class="btn btn-blueDark btn-join">How it works</a>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/koinet.png">
            </div>
        </div>
    </div>
</header>