<header id="koi-header">
    <div class="header-content">
        <div class="row container">
            <div class="col-sm-6">
                <h1>KOI is a Network Dedicated to Truth</h1>
                <p>Install our node software to join the network and begin helping us keep the internet accountable.</p>
                <a href="/downloads/" class="btn btn-primary btn-xl page-scroll red">Join Now</a>
                <a href="#howItWorks" class="btn btn-primary btn-xl page-scroll blue">How it works</a>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/koinet.png">
            </div>
        </div>
    </div>
</header>