<section id="how-it-works-koi">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>What is KOII?</h1>
                <h3>We are a community of curators.</h3>
                <p>By installing the node app, you'll be contributing your device to our network. As a member,
                    you'll be eligible to earn KOII for performing computational tasks, and you'll also contribute
                    towards our effort to create a historical archive of the internet.</p>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <img class="headerImage" src="/img/koi.png">
            </div>
        </div>
        <div class="row koi-card-wrapper">
            <div class="col-sm-4">
                <div class="koi-card">
                    <h3>1. Install the App</h3>
                    <span>KOII runs in the background, and runs computation tasks such as data mining. </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="koi-card">
                    <h3>2. Help the Network</h3>
                    <span>Your device will gather information from the internet, and you'll get credit.
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="koi-card">
                    <h3>3. Save or Sell</h3>
                    <span>
                        Invest your rewards to secure the network, or use it to buy gift cards and other swag!
                    </span>
                </div>
            </div>
        </div>
        <div class="btn-get-app">
            <a href="/downloads/" class="btn btn-orange">Get the app</a>
        </div>
    </div>
</section>