<section class="bg-primary" id="about">
    <div class="row container">
        <div class="row container">
            <div class="col-sm-6">
                <h1>KOI is a Public Map of the Web</h1>
                <h2>We are building a network of witnesses to history.</h2>
                <p>Join our network, and help us scan the web for useful data.
                    Your personal information will never be exposed, and you’ll
                    even earn a share of the network in exchange for your help! </p>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/phonewithkoi.png">
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 callout blue">
            <h3>Leave Your Mark</h3>
            <span>We’re building the permenant
                record. Not only can we track
                websites, but you can
                contribute as well!</span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>Track Changes</h3>
            <span>Our network watches websites
                for changes, and identify when
                the content is updated.
            </span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>Verify and Audit</h3>
            <span>When our network archives a site’s
                content, hundreds of nodes
                independently verify it.</span>
        </div>
    </div>
    <a href="#whitelist" class="callToActionButton">Join the Network</a>
</section>