<section class="bg-primary" id="about">
    <div class="row container">
        <div class="row container">
            <div class="col-sm-6">
                <h1>We are the Witness</h1>
                <h2>Join the Network</h2>
                <p>The KOI Network provides a layer of trust and accountability for the internet. We're in this to keep the web accountable, and ensure censorship-free speech for all.</p>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/eye.png">
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 callout blue">
            <h3>Leave Your Mark</h3>
            <span>We’re building the permenant
                record. Not only can we track
                websites, but you can
                contribute as well!</span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>Track Changes</h3>
            <span>Our network watches websites
                for changes, and identifies when
                the content is updated.
            </span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>Verify and Audit</h3>
            <span>When our network archives a site’s
                content, hundreds of nodes
                independently verify it.</span>
        </div>
    </div>
    <a href="/koi/" class="callToActionButton">Learn More</a>
</section>