<section class="bg-primary" id="about">
    <div class="row container">
        <div class="col-sm-6">
            <h1>Trust in Technology</h1>
            <h2>Our network is open, and so is the code.</h2>
            <p>Koi is a prediction market that rewards accuracy and transparency.</p>
        </div>
        <div class="col-sm-6">
            <img class="headerImage" src="/img/eye.png">
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 callout blue">
            <h3>Permanent History</h3>
            <span>The KOI Archive will include all top rated content, forever.</span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>Improved Accountability</h3>
            <span>Don't just trust the robots to vet the source- trust us to vet the robots!
            </span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>Distributed Verification</h3>
            <span>When our network archives a site’s
                content, hundreds of nodes
                independently verify it.</span>
        </div>
    </div>
    <a href="/koi/" class="callToActionButton">Learn More</a>
</section>