<footer>
    <div class="row container">
        <div class="col-sm-2">
            <img class="koi" src="/img/fish.png">
        </div>
        <div class="col-sm-10">
            <div class="row container">
                <div class="col-sm-12">
                    <h1>Put your machines to good use.</h1>
                    <span class="subheader">
                        Once you install the KOI App, your computer or mobile device will help us map the internet.
                    </span>
                </div>
                <div class="col-sm-6">
                    <h2>Get updates to your inbox</h2>
                </div>
                <div class="col-sm-6 mcform" id="mcform">
                    <input type="text" placeholder="name@example.com"><button>Subscribe</button>
                </div>
            </div>
            <div class="row container menu">
                <hr>
                {% for item in site.data.navigation %}
                <div class="col-sm-3">
                <h3>{{ item.header }}</h3>
                <ul> 
                {% for child in item.children %}
                    <li class="nav-item">
                    <a class="nav-link {{ child.class }}" href="{{ child.link }}">
                        {{ child.name }}
                    </a>
                    </li> 
                {% endfor %}
                </ul>
            </div>
            {% endfor %}  
            </div>
        </div>
    </div>
</footer>