<section class="bg-primary whitelist" id="whitelist">
    <div class="row container">
        <div class="row container">
            <div class="col-sm-12">
                <img class="icon" src="/img/koi.png">
                <h1>Get your Share</h1>
                <h2>Our network will be owned by the early adopters.</h2><br>
                <span>Install our 100% risk-free app and start contributing to the network today to reserve your seat.</span>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4">
            <h2>1. Join the Network</h2>
            <span>Our highly secure app allows
                you to rent space on your device.</span>
        </div>
        <div class="col-sm-4">
            <h2>2. Build the Archive</h2>
            <span>By running our app, you’ll be
                adding to our vault of data.
            </span>
        </div>
        <div class="col-sm-4">
            <h2>3. Get Paid</h2>
            <span>As our network grows,
                you’ll receive a share.</span>
        </div>
    </div>
    <a class="callToActionButton">Join the Whitelist</a>
</section>