<header>
    <div class="header-content">
        <div class="row container">
            <div class="col-sm-6">
                <h1>A Goldfish Watches the Internet</h1>
                <p>Our network of peer devices are up for hire. </p>
                <a href="#peer-power" class="btn btn-primary btn-xl page-scroll blue">HIRE A GOLDFISH</a>
                <a href="#whitelist" class="btn btn-primary btn-xl page-scroll red">JOIN NOW</a>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/phonewithkoi.png">
            </div>
        </div>
    </div>
</header>