<header>
    <div class="header-content">
        <div class="row container">
            <div class="col-sm-6">
                <h1>Own a Piece of History</h1>
                <p>We're building a network of devices dedicated to a better web. Help us build the permenant record, and you'll get to own a piece!</p>
                <a href="#whitelist" class="btn btn-primary btn-xl page-scroll red">JOIN</a>
                <a href="#peer-power" class="btn btn-primary btn-xl page-scroll blue">SERVICES</a>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/phonewithkoi.png">
            </div>
        </div>
    </div>
</header>