<header>
    <div class="header-content">
        <div class="row container">
            <div class="col-sm-6">
                <h1><strong id="headerScrollText">Own </strong>the Web</h1>
                <p>All you need is an internet connection.</p>
                <a href="#peer-power" class="btn btn-primary btn-xl page-scroll blue">LEARN</a>
                <a href="#whitelist" class="btn btn-primary btn-xl page-scroll red">EARN</a>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/phonewithkoi.png">
            </div>
        </div>
    </div>
</header>