<section class="bg-primary" id="howItWorks">
    <div class="row container">
        <div class="row container">
            <div class="col-sm-6">
                <h1>What is KOI?</h1>
                <h2>We are a community of curators.</h2>
                <p>By installing the node app, you'll be contributing your device to our network. As a member, you'll be eligible to earn KOI for performing computational tasks, and you'll also contribute towards our effort to create a historical archive of the internet.</p>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/fish.png">
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 callout blue">
            <h3>1. Install the App</h3>
            <span>KOI runs in the background, and runs computation tasks such as data mining. </span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>2. Help the Network</h3>
            <span>Your device will gather information from the internet, and you'll get credit.
            </span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>3. Save or Sell</h3>
            <span>
                Invest your rewards to secure the network, or use it to buy gift cards and other swag!
            </span>
        </div>
    </div>
    <a href="/downloads/" class="callToActionButton">Get the app</a>
</section>