  <aside class="bg-dark partners">
      <div class="container text-center">
          <div class="call-to-action">
            <h2>Our Partners</h2>
            <a href="https://weteachblockchain.org/">
                <!-- <img src="/img/weteachblockchain.png"> -->
            </a>
            <a href="https://outlierventures.io">
              <img src="/img/outlier.png">
            </a>
            <a href="https://ifttt.com">
              <img src="/img/ifttt.png">
            </a>
            <a href="https://outlierventures.io/base-camp/">
              <img src="/img/OVBC_logo.png">
            </a>
            <a href="https://getstorecat.com/">
              <img style="max-width:8rem;" src="/img/storecat.png">
            </a>
          </div>
      </div>
  </aside>
