  <aside class="bg-dark partners">
      <div class="container text-center">
          <div class="call-to-action">
            <!-- <h2>Our Partners</h2> -->   
            <a href="https://arweave.org/">
              <img src="/img/partners/arweave-logo.svg">
            </a>
            <a href="https://outlierventures.io">
              <img src="/img/partners/ov-logo.svg">
            </a>
            <a href="https://oceanprotocol.com/">
              <img src="/img/partners/ocean-logo.svg">
            </a>
            <a href="https://outlierventures.io/base-camp/">
              <img src="/img/partners/basecamp-logo.svg">
            </a>
            <a href="https://getstorecat.com/">
              <img style="max-width:8rem;" src="/img/partners/storecat-logo.svg">
            </a>
          </div>
      </div>
  </aside>
