<section class="bg-primary peer-power" id="peer-power">
    <div class="row container">
        <div class="row container">
            <div class="col-sm-12">
                <img class="icon" src="/img/leaves.png">
                <h1>Peer Powered</h1>
                <h2>Harness the Power of the Crowd</h2>
                <p>KOI is ethical, peer-to-peer, and more reliable for it’s decentralization. Our network can perform a range of services from residential proxy to data mining. Get in touch, and we can make it work!
                </p>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 callout">
            <h3>Reliable and Resilient</h3>
            <span>We’re breaking down international barriers by providing low cost proxy IPs
                within our network.</span>
        </div>
        <div class="col-sm-4 callout">
            <h3>Share the Load</h3>
            <span>Take advantage of crowdmining
                to reduce server loads, and
                ensure geographically diverse
                results and information.
            </span>
        </div>
        <div class="col-sm-4 callout">
            <h3>Public Participation</h3>
            <span>If you’re collecting research data,
                we can help you monetize and
                organize it for maximum impact.</span>
        </div>
    </div>
    <a class="callToActionButton" href="mailto:sales@goldfishservice.xyz">Talk to an Expert</a>
</section>