<section class="bg-primary" id="howItWorks">
    <div class="row container">
        <div class="row container">
            <div class="col-sm-6">
                <h1>You can also get paid-</h1>
                <h2>Re-sell the data you create</h2>
                <p>As a patron of the KOI Network, you can always re-sell your data sets, and even contribute your devices to the network to offset proxy and scraping costs.</p>
            </div>
            <div class="col-sm-6">
                <img class="headerImage" src="/img/fish.png">
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 callout blue">
            <h3>1. Install the App</h3>
            <span>KOI runs in the background, and runs computation tasks such as data mining. </span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>2. Help the Network</h3>
            <span>Your device will gather information from the internet, and you'll get credit.
            </span>
        </div>
        <div class="col-sm-4 callout blue">
            <h3>3. Save or Sell</h3>
            <span>
                Invest your rewards to secure the network, or use it to buy gift cards and other swag!
            </span>
        </div>
    </div>
    <a href="http://eepurl.com/he-SCz" target="_blank" class="callToActionButton">Get the app</a>
</section>