<section class="bg-primary peer-power" id="peer-power">
    <div class="row container">
        <div class="col-sm-12">
            <h1>Hire a GoldFish, or a School</h1>
            <h2>Harness the Power of the Crowd</h2>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 ">
            <img src="/img/icons/run-a-node.svg">
            <b>Run a node</b>
        </div>
        <div class="col-sm-4 ">
            <img src="/img/icons/register-content.svg">
            <b>Register content</b>
        </div>
        <div class="col-sm-4 ">
            <img src="/img/icons/build-with-koi.svg">
            <b>Build accountability</b>
        </div>
    </div>
    <a class="callToActionButton" href="mailto:sales@goldfishservice.xyz">Hire Koi</a>
</section>