<section class="bg-primary peer-power" id="peer-power">
    <div class="row container">
        <div class="col-sm-12">
            <!-- <img class="icon" src="/img/leaves.png"> -->
            <h1>Hire a GoldFish, or a School</h1>
            <h2>Harness the Power of the Crowd</h2>
            <p>Integrate with the koi network and build transparently- our team can help.
            </p>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-4 callout">
            <h3>Peer Powered</h3>
            <span>We don't all have to agree, but if we must disagree, why not capture the state of the discussion for others to join?</span>
        </div>
        <div class="col-sm-4 callout">
            <h3>Share the Load</h3>
            <span>Place a bounty on a website to add it to the moderation queue, or upload content of your own to the archive.
            </span>
        </div>
        <div class="col-sm-4 callout">
            <h3>Build Accountability</h3>
            <span>If you're a brand or business, we can help you track the paper trail and show you're doing things right.</span>
        </div>
    </div>
    <a class="callToActionButton" href="mailto:sales@goldfishservice.xyz">Talk to an Expert</a>
    <a class="callToActionButton blue" href="/services/">More Info</a>
</section>