<section id="steps">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12 order-md-12">
                <div class="running-node-right">
                    <h2>Get started with a few simple steps</h2>
                    <p class="o-1">1. Download a node</p>
                    <p class="o-2">2. Select Tasks to run</p>
                    <p class="o-3">3. Stake KOII tokens</p>
                    <p class="o-4">4. Earn KOII, and run more Tasks</p>
                </div>
            </div>
            <div class="col-md-5 col-12 order-md-0">
                <div class="running-node-left">
                    <img src="/img/run/steps.png">
                </div>
            </div>
        </div>
    </div>
</section>