<section id="step4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="earn-koi-description">
                    <h3>4. Stake more, earn more</h3>
                    <p>You get to choose how many tokens to stake on each Koii Task your node runs. The more you stake, the more you earn.</p>
                    <p>After a Task is complete, the Task’s bounty is rewarded to participating nodes, proportional to the amount of staked tokens. If you staked 20% of all tokens staked, you will receive 20% of the bounty.</p>
                    <p>This means it is better to stake many tokens on a small number of Tasks than a few tokens each on hundreds of Tasks.</p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="earn-koi-img-wrapper">
        <img src="/img/download/koi-eats-gold-graphic.svg" class="d-none d-md-block">
        <img src="/img/download/koi-eats-gold-graphic-mobile.svg" class="d-md-none">
    </div>
</section>