<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#decentralization-splide", {
      fixedWidth: 290,
      // height: 328,
      gap: 40,
      rewind: true,
      cover: true,
    }).mount();
  });
</script>
<header id="decentralization">
  <div class="container-fluid">
    <div class="content-wrapper">
      <div class="content2">
        <div class="section-subtitle">Decentralization <br /> graphic here</div>
      </div>
      <div class="content1">
        <div class="section-title">What is Decentralization?</div>
        <div class="section-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostr...
        </div>
      </div>
    </div>
    <div class="splide-wrapper">
      <div class="splide-bg"></div>
      <div id="decentralization-splide" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            {% for item in site.data.koi_cards %}
            <li class="splide__slide">
              <div class="koii-card">
                <div class="koii-card-title">{{item.title}}</div>
                <div class="koii-card-description">{{item.description}}</div>
                <div class="koii-card-link">{{item.link_label}}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
