<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#decentralization-splide", {
      fixedWidth: 290,
      // height: 328,
      gap: 40,
      rewind: true,
      cover: true,
    }).mount();
  });
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#decentralization-splide-mobile", {
      focus: "center",
      // height: 328,
      // gap: 40,
      // rewind: true,
      // cover: true,
    }).mount();
  });
</script>
<header id="decentralization">
  <div class="container-fluid">
    <div class="row content-wrapper">
      <div class="col-lg-6">
        <div
          class="d-flex flex-column align-items-start justify-content-start h-100 left-content"
        >
          <div class="section-title">What is Decentralization?</div>
          <div class="section-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostr...
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img-wrapper text-center">
          <img src="/img/resources/decentralization.svg" />
        </div>
      </div>
    </div>
    <div class="splide-wrapper">
      <div class="splide-bg"></div>
      <div id="decentralization-splide" class="splide d-none d-md-block">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <img src="/img/icons/icon-left.svg" width="24" />
          </button>
          <button class="splide__arrow splide__arrow--next">
            <img src="/img/icons/icon-right.svg" width="24" />
          </button>
        </div>
        <div class="splide__track">
          <ul class="splide__list">
            {%- assign sortdec = site.resources | sort: 'number' -%}
            {% for resources in sortdec %}
            {% if resources.tag contains 'dec' %}
            <li class="splide__slide">
              <a href="{{resources.permalink }}" style="text-decoration: none;">
              <div class="koii-card">
                <div class="koii-card-title">{{ resources.title }}</div>
                <div class="koii-card-description">{{ resources.details }}</div>
                <!-- <div class="koii-card-link">{{item.link_label}}</div> -->
              </div>
            </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="decentralization-splide-mobile" class="splide d-md-none">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <img src="/img/icons/icon-left.svg" width="24" />
          </button>
          <button class="splide__arrow splide__arrow--next">
            <img src="/img/icons/icon-right.svg" width="24" />
          </button>
        </div>
        <div class="splide__track">
          <ul class="splide__list">
            {%- assign sortdec = site.resources | sort: 'number' -%}
            {% for resources in sortdec %}
            {% if resources.tag contains 'dec' %}
            <li class="splide__slide">
              <a href="{{resources.permalink }}" style="text-decoration: none;">
              <div class="koii-card">
                <div class="koii-card-title">{{ resources.title }}</div>
                <div class="koii-card-description">{{ resources.details }}</div>
                <!-- <div class="koii-card-link">{{item.link_label}}</div> -->
              </div>
            </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
