<header id="resources-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-content">
          <img
            src="/img/creators/creators-header-mobile.svg"
            class="d-md-none"
          />
          <div class="header-title">Koii Resources</div>
          <div class="header-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
