<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#splide", {
      type: "loop",
      perPage: 3,
      perMove: 1,
    }).mount();
  });
</script>
<header id="koii">
  <div class="koii-wrapper">
    <div class="section-title">What is Koii?</div>
    <div class="section-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostr...
    </div>
    <div id="splide" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for item in site.data.koi_cards %}
          <li class="splide__slide">
            <div class="koii-card">
              {{item.title}} {{item.description}} {{item.link_label}}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
