@import "variables";

#ids-hero {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  margin-top: 74px;
  font-family: $sora;
  display: flex;
  align-items: center;
  padding: 50px 0 150px;
  .bg-hero {
    position: absolute;
    right: 0;
  }
  .img-vector {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .header-title {
      font-size: 56px;
      line-height: 72px;
      letter-spacing: -0.02em;
      font-weight: 600;
    }
    .header-description {
      margin-top: 23px;
      margin-bottom: 26px;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: -0.01em;
      font-weight: 400;
      max-width: 400px;
    }
    .btn {
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
      border-radius: 24px;
      padding: 0 69px;
      height: 40px;
      margin: 15px 0 50px;
    }
  }
  .video-item {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    max-width: 330px;
    background: #0b0b3e;
    box-shadow: 0px 124px 144px -56px rgba(43, 29, 103, 0.06);
    z-index: 9;
    transition: all 0.2s ease-out;
    min-height: 385px;
    &:hover {
      transform: translate(0, -1rem);
      transition: all 0.2s ease-out;
    }
    .ytblink {
      width: 330px;
      height: 197px;
    }
    img {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      width: 330px;
      height: 232px;
      max-width: 100%;
      object-fit: fill;
    }
  }
  @media (max-width: 576px) {
    &::before {
      display: none;
    }
    .header-content {
      height: calc(100vw * 730 / 375);
      align-items: flex-start;
      padding-top: 75px;
      padding-bottom: 75px;
      img {
        max-width: 100%;
        margin-bottom: 50px;
      }
      .header-title {
        font-size: 36px;
        line-height: 50px;
      }
      .header-description {
        font-size: 18px;
        line-height: 32px;
      }
      .btn {
        margin-top: 18px;
      }
    }
  }
}
