---
layout: front
title: Careers
permalink: /earn/careers/
stylesheet: koi.css
---

{%- include earn/careers/header.html -%}
{%- include earn/careers/describe.html -%}

<section id="available">
    <div class="container">
        <div class="row">
            <div class="col-md-12 column">
                <h2 style="
                color: #171753;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                ">Available jobs</h2>
            </div>
        </div>
    </div>
</section>

{% assign sorttype = site.jobs | sort: 'type' %}
<section id="jobdetail">
    <div class="container">

        <div class="row">
            <div class="col-md-12 column">
                <h3>Technical</h3>  
            </div>
        </div>    
        <div class="row">           
            <div class="detail col-md-12 column">
            {%- for jobs in site.jobs -%}
                {% if jobs.type contains 'Technical'  %}
                {%- include earn/careers/jobdetail.html 
                    title=jobs.title
                    describe=jobs.describe
                    parent=jobs.parent
                    child = jobs.child
                    icon = jobs.icon    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 column">
                <h3>Marketing</h3>  
            </div>
        </div>    
        <div class="row">           
            <div class="detail col-md-12 column">
            {%- for jobs in site.jobs -%}
                {% if jobs.type contains 'Marketing'  %}
                {%- include earn/careers/jobdetail.html 
                    title=jobs.title
                    describe=jobs.describe
                    parent=jobs.parent
                    child = jobs.child
                    icon = jobs.icon    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>

        {% comment %} <div class="row">
            <div class="col-md-12 column">
                <h3>Design</h3>  
            </div>
        </div>    
        <div class="row">           
            <div class="detail col-md-12 column">
            {%- for jobs in site.jobs -%}
                {% if jobs.type contains 'Design'  %}
                {%- include earn/careers/jobdetail.html 
                    title=jobs.title
                    describe=jobs.describe
                    parent=jobs.parent
                    child = jobs.child
                    icon = jobs.icon    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div> {% endcomment %}

    </div>
</section>

{% include jobs/jobfooter.html %}


