@import "variables";

#footer {
  background: $blueDarkBg;
  color: $white;
  padding: 70px 0 24px;
  .container {
    h3.footer-description {
      margin-bottom: 35px;
      font-weight: normal;
    }
    p.field-label {
      font-size: 15px !important;
      margin-bottom: 0;
    }
    .input-group {
      width: 248px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      .form-control {
        height: 32px;
      }
      .input-group-btn {
        .btn {
          height: 32px;
          font-size: 15px;
          border-radius: 0 4px 4px 0;
          transform: unset;
        }
      }
    }

    .validate {
      min-width: 20em;
      min-height: 2em;
      .email {
        border-radius: 4px 4px 4px 4px;
        font-weight: 500;
        letter-spacing: 0.03em;
        background: white;
        border: 2px solid white;
        width: 233px;
        min-height: 2em;
        &::placeholder {
          color: #171753;
          opacity: 0.6;
        }
      }
      button#mc-embedded-subscribe {
        border-radius: 4px 4px 4px 4px;
        background: #ffc78f;
        color: #171753;
        font-weight: 600;
        border: 2px solid #ffc78f;
        min-height: 2em;
        // margin-left: -4px;
      }
    }

    .footer-options-wrapper {
      margin-top: 32px;
      margin-bottom: 15px;
      .footer-option {
        .footer-option-title {
          margin-bottom: 13px;
          font-weight: bold;
        }
        &.company {
          .footer-option-list {
            max-height: 164px;
          }
        }
        .footer-option-list {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .nav-item {
            .nav-link {
              font-size: 18px;
              color: $white;
              padding: 0;
              width: fit-content;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .social-area {
      width: 300px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      .sc-item {
        width: 60px;
        text-align: center;
      }
      a {
        transition: transform 250ms;
        &:hover {
          transform: translateY(-10px);
        }
      }
      img {
        width: 30px;
        transition: transform 250ms;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }

  @media (max-width: 1200px) and (min-width: 576px) {
    .container {
      .footer-options-wrapper .footer-option {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  @media (max-width: $xl) {
    .container {
      h2 {
        font-size: 24px !important;
      }
      h3 {
        margin-bottom: 27px;
        font-size: 20px !important;
        font-weight: 400;
        line-height: 32px;
      }
      p.field-label {
        font-size: 15px !important;
        margin-bottom: 0;
      }
      .input-group {
        width: 100%;
      }
      .footer-options-wrapper {
        margin-top: 32px;
        margin-bottom: 15px;
        .footer-option {
          margin-bottom: 5px;
          .footer-option-title {
            margin-bottom: 13px;
            text-align: center;
          }
          &.get-involved {
            .footer-option-list {
              max-height: 123px;
            }
          }
          &.get-in-touch {
            .footer-option-list {
              padding-left: 0;
              width: fit-content;
              margin: auto;
            }
          }
          .footer-option-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-left: 32px;
            .nav-item {
              .nav-link {
                font-size: 18px !important;
                color: $white;
                padding: 0;
                font-weight: 300;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    .container .social-area {
      width: 100%;
      display: flex;
      flex-direction: row;
      .sc-item {
        width: auto;
        flex: 1;
      }
    }
  }
}
