@import "variables";

#topbar {
    position: fixed;
    min-height: 75px;
    padding: 0 10px;
    background: transparent;
    transition: all 0.8s;
    z-index: 10;
    .navbar-toggler {
        margin-left: 32px;
        .nav-menu-icon {
            color: $white;
        }
    }
    .download-wrapper {
        .download {
            background: transparent;
            color: $white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            padding: 2px 20px;
            line-height: initial;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                margin-left: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                a.nav-link {
                    font-size: 18px;
                    color: $white;
                    &.download {
                        background: transparent;
                        color: $white;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
                        border-radius: 4px;
                        padding: 2px 20px;
                        border: solid 1px white;
                    }
                }
            }
        }
    }
    @media (max-width: $sm) {
        .download-wrapper {
            .download {
                border: solid 1px white;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                padding-bottom: 12px;
                .nav-item {
                    justify-content: left;
                    margin-left: 0;
                    a.nav-link {
                        color: $white;
                        &.download {
                            color: $white;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
                            border-radius: 4px;
                            padding: 2px 20px;
                            border: solid 1px white;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $xl) {
        .container-fluid {
            .navbar-brand {
                img {
                    width: 44px;
                }
            }
        }
    }
}
