@import "variables";

#partners { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    flex-wrap: wrap;
    padding: 20px 0;
    .partner {
        margin: 0 10px;
        img {
            width: 150px;
        }
    }
    @media (max-width: $sm) {
        .partner {
            margin: 0 10px;
            img {
                width: 100px;
            }
        }
    }
}
