@import "./pages/common/nav.scss";
@import "./pages/common/footer.scss";
@import "./pages/common/partners.scss";
@import "./pages/common/modal_signup.scss";

@import "./pages/components/system-cards.scss";
@import "./pages/components/pre-register-comp.scss";

@import "./pages/home/header.scss";
@import "./pages/home/build_better.scss";
@import "./pages/home/publish_content.scss";
@import "./pages/home/stop.scss";
@import "./pages/home/node.scss";
@import "./pages/home/run_a_node.scss";
@import "./pages/home/revolution.scss";
@import "./pages/home/section7.scss";
// @import './pages/home/attention.scss';
// @import './pages/home/sdk.scss';
// @import './pages/home/save-the-web.scss';

// - learn
// about
@import "./pages/learn/about/header.scss";
@import "./pages/learn/about/team.scss";
@import "./pages/learn/about/partner.scss";

// mission
@import "./pages/learn/mission/header.scss";
@import "./pages/learn/mission/section2.scss";
@import "./pages/learn/mission/touch.scss";
@import "./pages/learn/mission/section4.scss";
// news
@import "./pages/learn/news/header.scss";
@import "./pages/learn/news/topnews.scss";
@import "./pages/learn/news/allnews.scss";
@import "./pages/learn/news/nodenews.scss";
// faq
@import "./pages/learn/faq/header.scss";
@import "./pages/learn/faq/jumpto.scss";
@import "./pages/learn/faq/faqdetails.scss";

// - earn
// careers
@import "./pages/earn/careers/header.scss";
@import "./pages/earn/careers/describe.scss";
@import "./pages/earn/careers/jobdetail.scss";
@import "./pages/earn/careers/jobfooter.scss";

// - connect
@import "./pages/connect/header.scss";
@import "./pages/connect/section.scss";
@import "./pages/connect/developer-docs.scss";

// - explore
@import "./pages/explore/index.scss";

// - investors
@import "./pages/investors/index.scss";

@import "./pages/downloads/header.scss";
@import "./pages/downloads/how-it-works.scss";
@import "./pages/downloads/running-node.scss";
@import "./pages/downloads/earn-koi.scss";
@import "./pages/downloads/create-tasks.scss";
@import "./pages/downloads/help.scss";

@import "./pages/run-a-node/header.scss";
@import "./pages/run-a-node/steps.scss";
@import "./pages/run-a-node/step1.scss";
@import "./pages/run-a-node/step2.scss";
@import "./pages/run-a-node/step3.scss";
@import "./pages/run-a-node/step4.scss";
@import "./pages/run-a-node/pre-register.scss";

@import "./pages/framework/header.scss";
@import "./pages/framework/dapps.scss";
@import "./pages/framework/dapp-cli.scss";
@import "./pages/framework/developer-docs.scss";

@import "./pages/koi/header.scss";
@import "./pages/koi/how-it-works-koi.scss";

@import "./pages/services/header.scss";

@import "./pages/creators/header.scss";
@import "./pages/creators/atomic.scss";

@import "./pages/404/404.scss";

.text-green {
  color: #237b75;
}
