// fonts
$catamaran: 'Catamaran', sans-serif;
$garamond: 'EB Garamond', sans-serif;

// Colors
$blueDark: #171753;
$greenLight: #9BE7C4;
$blueDarkBg: linear-gradient(90.16deg, #030332 0.14%, #171753 99.87%);
$blueLight: #BCF3EF;
$white: #fff;
$orange: #FFA54B;
$green: #237B75;
$grayLight: #E5E5E5;

// screen
$xxl: 1430px;
$xl: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
