// fonts
$catamaran: 'Catamaran', sans-serif;

// Colors
$blueDark: #171753;
$blueDarkBg: linear-gradient(90.16deg, #030332 0.14%, #171753 99.87%);
$blueLight: #BCF3EF;
$white: #fff;
$orange: #FFC78F;
$green: #237B75;

// screen
$md: 992px;
$sm: 768px;
$xl: 576px;
