<section id="create-tasks" class="d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="create-tasks-left">
                    <h3>Create Tasks and contribute to the archive</h3>
                    <p>Our transparent economy builds and shares public data in the open. Whenever your content is viewed, you’ll be eligible to earn some of the new KOI which are created daily.</p>
                    <p>The Koi Network is designed to make it easy for everyone to work together to build the common archive.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-tasks-right">
                    <img src="/img/download/create-tasks.svg" />
                </div>
            </div>
        </div>
    </div>
</section>