<section id="earn-koi">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="earn-koi-description">
                    <h3>Earn KOII for completing Tasks</h3>
                    <p>When your node completes a task, you earn KOII tokens for participating and verifying the network.
                    </p>
                    <p>You can select Tasks based on their reward amount or simply run your node for all available
                        Tasks.</p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="earn-koi-img-wrapper">
        <img src="/img/download/koi-eats-gold-graphic.svg" class="d-none d-md-block">
        <img src="/img/download/koi-eats-gold-graphic-mobile.svg" class="d-md-none">
    </div>
</section>