<section id="earn-koi">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="earn-koi-right">
                    <h3>Running a node</h3>
                    <p>When you run your node, it will execute Koi Tasks, which help us build the public knowledge
                        archive. You’ll earn KOI rewards for every task completed, plus you can also stake the tokens
                        you earn to get more!</p>
                    <p>Building public information systems makes the internet more transparent, and helps provide an
                        unbiased source of truth in our confusing world.</p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="earn-koi-left">
                <img src="/img/download/koi-eats-gold-graphic.png">
            </div>
        </div>
        </div>
    </div>
</section>