<header id="download-header">
    <div class="container">
        <h1>Join the Revolution.</h1>
        <h4 class="header-description d-none d-md-block">Download and run a node to complete Koi Tasks, <br
                class="d-none d-md-block" /> partake in the consensus algorithm, and earn KOI.
        </h4>
        <h4 class="header-description d-md-none text-center"><b>Download and run a node to:</b><br />Complete Koi
            Tasks<br />Partake in the consensus algorithm<br />Earn KOI.
        </h4>
        <!-- {% include components/system-cards.html %} -->
        {% include components/pre-register-comp.html %}
    </div>
</header>