<header id="download-header">
    <div class="container">
        <h1>Join the Revolution.</h1>
        <h4 class="header-description">Download and run a node to complete Koi Tasks, <br class="d-none d-md-block" /> partake in the consensus algorithm, and earn KOI.
        </h4>
        <div class="row system-card-wrapper">
            <div class="col-4 d-flex justify-content-center">
                <a class="system-card"
                    onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"
                    hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
                    <img src="/img/icons/icon-windows.png">
                    <h4>Windows</h4>
                    <p class="d-none d-md-block">Download</p>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a class="system-card"
                    onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"
                    hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
                    <img src="/img/icons/icon-mac.png">
                    <h4>Mac</h4>
                    <p class="d-none d-md-block">Download</p>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a class="system-card"
                    onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"
                    hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
                    <img src="/img/icons/icon-ubuntu.png">
                    <h4>Ubuntu</h4>
                    <p class="d-none d-md-block">Download</p>
                </a>
            </div>
        </div>
    </div>
</header>