<section id="help">
    <div class="container">
        <h3>Help create the future. Get your node now.
        </h3>
        <p class="help-bottom-description d-md-none">Are you a developer and what to know more about how to build on Koi?<br />
            Check out our <a href="https://docs.openkoi.com/" target="_blank">brand new SDK</a>.</p>
            {% include components/pre-register-comp.html %}
        <p class="help-bottom-description d-none d-md-block">Are you a developer and what to know more about how to build on Koi?<br />
            Check out our <a href="https://docs.openkoi.com/" target="_blank">brand new SDK</a>.</p>
    </div>
</section>