<section id="help">
    <div class="container">
        <h3>Help create the future. Get your node now.
        </h3>
        <div class="row system-card-wrapper">
            <div class="col-sm-4 d-flex justify-content-center">
                <a class="system-card"
                    onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"
                    hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
                    <img src="/img/icons/icon-windows.png">
                    <h4>Windows</h4>
                    <p>Download</p>
                </a>
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
                <a class="system-card"
                    onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"
                    hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
                    <img src="/img/icons/icon-mac.png">
                    <h4>Mac</h4>
                    <p>Download</p>
                </a>
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
                <a class="system-card"
                    onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"
                    hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
                    <img src="/img/icons/icon-ubuntu.png">
                    <h4>Ubuntu</h4>
                    <p>Download</p>
                </a>
            </div>
        </div>
        <p class="help-bottom-description">Are you a developer and what to know more about how to build on Koi?<br />
            Check out our <a href="https://docs.openkoi.com/" target="_blank">brand new SDK</a>.</p>
    </div>
</section>