<section class="bg-primary" id="howItWorks">
    <div class="row container">
        <div class="col-md-12">
            <h1>Koi is Compact</h1>
            <span style="float:left;">Koi uses less than 1GB of RAM, and only 250mb of storage. Run a node to help us map the web, earn KOI. All you need is an internet connection!</span>
        </div>
    </div>
    <div class="row container">
        <a onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"  hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
            <div class="col-sm-4 callout blue">
                <h3>Windows</h3>
                Start Download
            </div>
        </a>
        <a onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"  hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
            <div class="col-sm-4 callout blue">
                <h3>Mac</h3>
                Start Download
            </div>
        </a>
        <a onclick="alert('The beta cap has been reached. Be sure to subscribe to our mailing list to get into the next round. If you already participated in round 1, please be sure to subscribe to receive a notice when you can claim your 100 KOI bonus.')"  hrefn="https://koi-node-releases.s3.us-east-2.amazonaws.com/KOI_DESKTOP_1.3.1_Win.zip" download>
            <div class="col-sm-4 callout blue">
                <h3>Ubuntu</h3>
                Start Download
            </div>
        </a>
    </div>
</section>