<section id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>How it works</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="how-it-works-left">
                    <h4>1. Download (and run) a node</h4>
                    <p>A Koi node runs in the background on your computer, allowing you to be a part of the consensus process, completing KOI Tasks set by others.  </p>
                    <h4>2. Earn KOI</h4>
                    <p>When you complete KOI Tasks, you are rewarded with KOI tokens. KOI can be spent to request other nodes to run Tasks, or traded.</p>
                    <h4>3. Create Tasks, add to the Network</h4>
                    <p>With your KOI, you can set bounties for Tasks, accomplishing your goal while contributing to the permanent archive.</p>
                    <p>Keep scrolling for more details about each phase.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="how-it-works-right">
                    <img src="/img/download/how-it-works.svg">
                </div>
            </div>
        </div>
    </div>
</section>