<section id="running-node">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12 order-md-12">
                <div class="running-node-right">
                    <h3>Running a node</h3>
                    <p>When you run your node, it will execute Koi Tasks, which help us build the public knowledge
                        archive. </p>
                    <p>You’ll earn KOI rewards for every task completed, plus you can also stake the tokens you earn to
                        get more!</p>
                    <p>Building public information systems makes the internet more transparent, and helps provide an
                        unbiased source of truth in our confusing world.</p>
                </div>
            </div>
            <div class="col-md-7 col-12 order-md-0">
                <div class="running-node-left">
                    <img src="/img/download/running-node.svg" class="d-none d-md-block">
                    <img src="/img/download/running-node-mobile.svg" class="d-md-none">
                </div>
            </div>
        </div>
    </div>
</section>