@import "variables";

#ethdenver-options {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  font-family: $sora;
  padding: 0 0 87px;

  .option-wrapper {
    display: flex;
    align-items: flex-start;
  }
  @media (max-width: 576px) {
    padding: 50px 0 21px;
    background: url(/img/faq/bg-options-mobile.svg),
      linear-gradient(90deg, #030332 0%, #171753 100%);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% auto;
  }
}
