@import "variables";

#how-it-works-koi {
    color: $blueDark;
    padding: 75px 0 40px;
    min-height: 456px;
    background: $blueLight;
    .container {
        h1 {
            margin-bottom: 25px;
        }
        .koi-card-wrapper {
            margin-bottom: 30px;
            .koi-card {
                background: $blueDark;
                color: $white;
                padding: 20px;
                border-radius: 12px;
            }
        }
        .btn-get-app {
            display: flex;
            justify-content: center;
        }
    }
    @media (max-width: $sm) {
        padding: 56px 0;
        .container {
            h1 {
                font-size: 32px;
                text-align: center;
            }
            .koi-card-wrapper {
                .koi-card {
                    background: $blueDark;
                    color: $white;
                    padding: 20px;
                    border-radius: 12px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
