---
layout: front
title: Frequently Asked Questions
permalink: /learn/faq/
stylesheet: koi.css
---

{%- include learn/faq/header.html -%}
{%- include learn/faq/jumpto.html -%}

{%- assign sortchild = site.faq | sort: 'child' -%}

<section id="faqdetails">
    <div class="container">

        <div class="row" id="general">
            <div class="col-md-12 column">
                <h2>General Information</h2>
            </div>
        </div>    
        <div class="row">            
            <div class="detail col-md-12 column">
            {%- for faq in sortchild -%}
            {% if faq.type contains 'general' %}
                {%- include learn/faq/faqdetails.html 
                    title=faq.title
                    answer=faq.describe
                    parent=faq.parent
                    child = faq.child
                    icon = faq.icon
                    icf = faq.iconf    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>


        <div class="row" id="runningnode">
            <div class="col-md-12 column">
                <h2>Running a node</h2>
            </div>
        </div>    
        <div class="row">            
            <div class="detail col-md-12 column">
            {%- for faq in sortchild -%}
            {% if faq.type contains 'node' %}
                {%- include learn/faq/faqdetails.html 
                    title=faq.title
                    answer=faq.describe
                    parent=faq.parent
                    child = faq.child
                    icon = faq.icon
                    icf = faq.iconf    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>


        <div class="row" id="koitokens">
            <div class="col-md-12 column">
                <h2>KOI Tokens</h2>
            </div>
        </div>    
        <div class="row">            
            <div class="detail col-md-12 column">
            {%- for faq in sortchild -%}
            {% if faq.type contains 'token' %}
                {%- include learn/faq/faqdetails.html 
                    title=faq.title
                    answer=faq.describe
                    parent=faq.parent
                    child = faq.child
                    icon = faq.icon
                    icf = faq.iconf    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>

        <div class="row" id="partnerships">
            <div class="col-md-12 column">
                <h2>Partnerships</h2>
            </div>
        </div>    
        <div class="row">            
            <div class="detail col-md-12 column">
            {%- for faq in sortchild -%}
            {% if faq.type contains 'partner' %}
                {%- include learn/faq/faqdetails.html 
                    title=faq.title
                    answer=faq.describe
                    parent=faq.parent
                    child = faq.child
                    icon = faq.icon
                    icf = faq.iconf    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>

        <div class="row" id="nfts">
            <div class="col-md-12 column">
                <h2>NFTs</h2>
            </div>
        </div>    
        <div class="row">            
            <div class="detail col-md-12 column">
            {%- for faq in sortchild -%}
            {% if faq.type contains 'nft' %}
                {%- include learn/faq/faqdetails.html 
                    title=faq.title
                    answer=faq.describe
                    parent=faq.parent
                    child = faq.child
                    icon = faq.icon
                    icf = faq.iconf    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>

        <div class="row" id="connect">
            <div class="col-md-12 column">
                <h2>Get Connected</h2>
            </div>
        </div>    
        <div class="row">            
            <div class="detail col-md-12 column">
            {%- for faq in sortchild -%}
            {% if faq.type contains 'connect' %}
                {%- include learn/faq/faqdetails.html 
                    title=faq.title
                    answer=faq.describe
                    parent=faq.parent
                    child = faq.child
                    icon = faq.icon
                    icf = faq.iconf    
                -%}
                {% endif %}
            {%- endfor -%}
            </div>
        </div>


    </div>
    <div class="footblank"></div>
</section>