<section id="step2">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12 order-md-12">
                <div class="running-node-right">
                    <h3>2. Select what kind of Tasks you want to run</h3>
                    <p>
                        You get to choose which types of contracts to validate with your node. The easiest way is to
                        select all available Tasks (this is the default setting).
                    </p>
                    <p>
                        You can specify Tasks that offer a bounty above a chosen amount, or only certain contract types.
                    </p>
                    <p>
                        As Koii grows, the number of types of contracts will grow as well. If you select by contract
                        type, make sure to check in once in a while to see what other contracts you could be running.
                    </p>
                    <div class="btn-wrapper d-none">
                        <a href="#" class="btn btn-orange">See Current Tasks</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 order-md-0">
                <div class="running-node-left">
                    <img src="/img/run/step2.png">
                </div>
            </div>
        </div>
    </div>
</section>