<header id="services-header">
    <div class="container">
        <div class="header-description-wrapper">
            <div class="services-img">
                <img class="icon" src="/img/leaves.png">
            </div>
            <div class="services-header-description">
                <h1>Peer Powered</h1>
                <h2>Harness the Power of the Crowd</h2>
                <p>KOI is a people-powered data marketplace. Find strength in numbers when you build with our data
                    services, or use our proxy network to access resources.
                </p>
            </div>
        </div>
        <div class="row services-card-wrapper">
            <div class="col-sm-4">
                <div class="services-card">
                    <h3>Proxy Services</h3>
                    <span>Our network of peer devices is distributed globally, and you can access it ethically. Most of
                        the
                        proxy industry depends on malware- we're in this to build a better web.</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="services-card">
                    <h3>Crowd Data Mining</h3>
                    <span>Easily and quickly build large data sets and run web scrapers. Just tell us which information
                        you
                        need, and we can help.
                    </span>
                    <div class="btn-try-demo-wrapper">
                        <a target="_blank"
                            href="https://goldfishservice.xyz/?url=https://coinmarketcap.com/currencies/bitcoin/"
                            class="btn-try-demo">Try a
                            Demo</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="services-card">
                    <h3>Public Data</h3>
                    <span>We're building the largest archive on the web. If you're working on a data science project, we
                        can
                        help.</span>
                </div>
            </div>
        </div>
        <div class="btn-talk-expert">
            <a class="btn btn-white" href="mailto:sales@goldfishservice.xyz">Talk to an Expert</a>
        </div>
    </div>
    <div class="share-part">
        {% include components/share.html %}
    </div>
</header>