@import "variables";

#guides {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  color: $white;
  padding: 75px 0 125px;
  display: flex;
  align-items: center;
  font-family: $sora;
  .font-cap1 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
  }
  .guides-card {
    background: #ecfffe;
    max-width: 380px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 19px;
    color: $blueDark;
    margin: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    .img {
      display: flex;
    }
  }
}
