@import "variables";

#help {
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  padding: 50px 0;
  color: white;
  font-family: $sora;
  .container {
    text-align: -webkit-center;
    .font-cap1 {
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
    }
    .font-cap2 {
      margin-top: 28px;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.03em;
      color: #ffffff;
      max-width: 700px;
    }
    a {
      text-decoration: none;
    }
    .join-btn {
      font-weight: 500;
      margin: 50px 10px 0 0;
      background: #bef0ed;
      padding: 10px 40px;
      border-radius: 24px;
      color: #171753;
      width: max-content;
      font-family: $sora !important;
    }
    .big-map {
      display: flex;
      width: 100%;
    }
    .small-map {
      display: none;
    }
  }
  @media (max-width: $xs) {
    .big-map {
      display: none !important;
    }
    .small-map {
      display: flex !important;
      margin-top: 30px;
      width: 100%;
    }
  }
}
