@import "variables";

#help {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  padding: 50px 0;
  color: white;
  font-family: $sora;
  .img-help-left {
    position: absolute;
    left: 0;
    top: 101px;
  }
  .img-help-right {
    position: absolute;
    right: 0;
    top: 101px;
  }
  .vector-right {
    position: absolute;
    right: 0;
    top: 324px;
  }
  .container {
    text-align: -webkit-center;
    .font-cap1 {
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
    }
    .font-cap2 {
      margin-top: 28px;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.03em;
      color: #ffffff;
      max-width: 700px;
    }
    a {
      text-decoration: none;
    }
    .help-cta {
      font-size: 12px !important;
      text-align: center;
    }
    .join-btn {
      font-weight: 500;
      background: #bef0ed;
      padding: 10px 40px;
      border-radius: 24px;
      color: #171753;
      width: max-content;
      font-family: $sora !important;
    }
    .btn-checkout {
      background: #5ED9D1;
      padding: 10px 40px;
      border-radius: 24px;
      font-weight: 500;
    }
    .big-map {
      display: flex;
      width: 100%;
      margin-bottom: 59px;
    }
  }
  .small-map {
    display: none;
  }
  @media (max-width: 768px) {
    padding: 152px 0 0;
    .img-help-left {
      top: 0px;
    }
    .vector-right {
      width: 69px;
    }
    .big-map {
      display: none !important;
    }
    .btn-checkout {
      margin-top: 36px;
    }
  }
  .small-map {
    display: flex !important;
    width: 100%;
    margin-top: 95px;
  }
}
