@import "variables";

#hybrid {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  color: $white;
  padding: 187px 0;
  display: flex;
  align-items: center;
  font-family: $sora;
  overflow: hidden;
  .dots {
    position: absolute;
    top: 0;
    left: 0;
  }
  .text-left {
    .font-cap1 {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.04em;
      color: #ffffff;
      font-weight: 400;
    }
    .font-cap3 {
      margin-top: 15px;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: -0.03em;
      color: #8c87a6;
      font-weight: 400;
    }
    .font-cap4 {
      margin-top: 25px;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #5ed9d1;
      font-weight: 400;
      max-width: 280px;
    }
  }
  .small-img {
    display: none;
  }
  .big-img {
    margin-left: 40px;
    text-align-last: center;
    img {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    padding: 132px 0;
    .dots {
      top: -30px;
    }
    .text-left {
      .font-cap1 {
        font-size: 32px !important;
        line-height: 40px !important;
        letter-spacing: -0.02em !important;
        text-align: center;
      }
      .font-cap3 {
        margin-top: 15px;
        color: #bef0ed;
        font-weight: 400;
      }
      .font-cap4 {
        margin-top: 25px;
        max-width: 300px;
      }
    }
    .small-img {
      margin: 25px 10px;
      display: flex;
      img {
        margin: 0 auto;
      }
    }
    .big-img {
      display: none;
      margin-left: 0;
    }
  }
}
