@import "variables";

#tutorials {
  position: relative;
  background: #171753;
  color: $white;
  display: flex;
  padding-top: 70px;
  font-family: $sora;
  .font-cap1 {
    margin-top: 40px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.04em;
    color: #ffffff;
  }
  .font-cap2 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .font-cap3 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #ffffff;
  }
  .tutorials {
    color: #171753;
    margin-top: 20px;
    .tutorials-content {
      text-align: center;
      padding: 20px 10px;
      .font-t {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        font-weight: 400;
        margin-top: 10px;
      }
      .font-d {
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 30px;
        min-height: 200px;

        p {
          font-weight: 400;
          margin: 0px;
        }
      }
      a {
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #ffa54b;
      }
    }
  }
}
