@import "variables";

#video {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  color: $white;
  display: flex;
  padding: 70px 0 100px;
  font-family: $sora;
  &::before {
    background-image: url(/img/developers/chain.svg);
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position-y: 0px;
    background-position-x: right;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 100%;
    @media (max-width: $xs) {
      opacity: 50%;
      width: 400px;
      right: 0;
      top: -50px;
      background-size: 282px 443px;
    }
  }
  .font-cap1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.02em;
    margin-top: 50px;
  }
  .font-cap2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-top: 50px;
  }
  .font-cap3 {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-top: 50px;
    max-width: 600px;
  }
  .nav-link.signup {
    margin: 20px 10px 0 0;
    background: #bef0ed;
    padding: 5px 40px;
    border-radius: 24px;
    color: #171753;
    width: max-content;
  }
  @media (max-width: $xs) {
    .font-cap1 {
      font-size: 32px !important;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.02em;
    }
    .font-cap2 {
      font-size: 20px !important;
      text-align: center;
    }
  }
}
