<section id="buildp2p">
  <div class="buildp2p-wrapper">
    <div class="buildp2p-content">
      <div class="font-cap1">
        Build unstoppable peer-to-peer applications—<br />Koi makes it possible
      </div>
    </div>
    <div class="buildp2p-cards">
      <img src="/img/homepage/Dots.svg" class="buildp2p-dots1" />
      <img src="/img/homepage/Dots.svg" class="buildp2p-dots2" />
      <div class="row">
        <div class="col-md-6">
          <div class="buildp2p-card">
            <h3>Layer-N</h3>
            <ul>
              <li>Contracts can be written in any language</li>
              <li>Cross chain applications are the default</li>
              <li>
                End-users can join easily and without needing to buy tokens
                first
              </li>
            </ul>
            <p class="hint">{{item.hint}}</p>
          </div>
          <div class="buildp2p-card card2">
            <h3>Universal Content Registry</h3>
            <ul>
              <li>All content is packaged up as Atomic NFTs</li>
              <li>All content created automatically mines KOI tokens</li>
              <li>Secured via Proofs of Real Traffic</li>
            </ul>
            <p class="hint">{{item.hint}}</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="buildp2p-card" id="right">
            <h3>Gradual Consensus</h3>
            <ul>
              <li>
                Proof of Stake games are defined with three functions (koi
                tasks)
              </li>
              <li>
                Gas fees are cheaper than traditional hosting costs and most
                interactions are feeless (!!!)
              </li>
            </ul>
            <p class="hint">{{item.hint}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
