<section id="decentralized">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div
          class="
            decentralized-left
            h-100
            d-flex
            flex-column
            justify-content-center
            align-items-start
          "
        >
          <div
            class="
              content-wrapper
              d-flex
              flex-column
              justify-content-center
              align-items-sm-start
              align-items-center
            "
          >
            <img
              src="/img/developers/decentralized-left.svg"
              class="img-left"
            />
            <img
              src="/img/developers/decentralized-close.svg"
              class="img-close"
            />
            <h1 class="text-white">Get <br />Decentralized</h1>
            <p class="text-white">
              People are demanding decentralization.<br />
              Koii has the primitives and tools you<br />
              need to build scalable, cross-compatible<br />
              applications so you don’t fall behind.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="decentralized-right">
          <div class="decentralized-options w-100">
            <img
              src="/img/developers/decentralized-right.svg"
              class="img-right"
            />
            <h6 class="text-white option option1">Introduction</h6>
            <h6 class="text-white option option2">NFT tools</h6>
            <h6 class="text-white option option3">Gradual Consensus</h6>
            <h6 class="text-white option option4">Universal Content Registry</h6>
          </div>
          <a class="btn btn-greenLight mx-auto">Start building now</a>
        </div>
      </div>
    </div>
  </div>
</section>
