<section id="guides">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="font-cap1">Get started with Koii guides</div>
            </div>
        </div>
        <div class="row">
            {% for item in site.data.developers_guides %}
            <div class="col-md-6">
            <div class="guides-card">
                    <div class="guides-content">         
                    <div class="font-cap2">{{item.title}}</div>
                    <img class="img-wrapper" src="/img/developers/Return-button.svg" width="40px">
                    </div>     
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>