<header id="developers-hero">
  <img src="/img/developers/bg-hero.svg" class="d-none d-sm-block bg-hero" />
  <img src="/img/developers/bg-hero-mobile.svg" class="d-sm-none bg-hero" />
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10 col-12">
        <div class="header-content">
          <div class="header-title text-lighter-green">Is your app truly decentralized?<br /> Now it can be.</div>
          <div class="header-description">
            Entirely in Javascript and complete with templates, building an app with<br /> decentralized storage and hosting is not only possible, it’s easy.
          </div>
          <a class="btn btn-greenLightest" href="https://docs.koii.network/" target="_blank">Check out the Koii Docs</a>
        </div>
      </div>
    </div>
  </div>
</header>
