<section id="help">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="font-cap1">
                    We’re here to help
                </div>
                <div class="font-cap2">
                    Koii has a vibrant global community. Our team members and ambassadors are eager to help developers of any background.
                </div>
                <div class="pic"><img class="big-map" src="/img/developers/bigmap.png"></div>
                 
                <a class="join-btn" href="https://discord.com/invite/SDwgnjxNEn">Join our Discord</a>
                <div class="pci"><img class="small-map" src="/img/developers/smallmap.png"></div>
            </div>
        </div>
    </div>
</section>  