<section id="help">
  <img src="/img/developers/help-left.svg" class="img-help-left" />
  <img src="/img/developers/help-right.svg" class="img-help-right d-none d-sm-block" />
  <img src="/img/developers/help-vector-right.svg" class="vector-right" />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="font-cap1">We’re here to help</div>
        <div class="font-cap2">
          Koii has a vibrant global community. Our team members and ambassadors
          are eager to help developers of any background.
        </div>
        <div class="pic">
          <img class="big-map" src="/img/developers/bigmap.svg" />
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center mb-4">
          <a class="btn join-btn" href="https://discord.gg/koii"
            >Join our Discord</a
          >
          <a class="btn btn-checkout ml-sm-4" href="/resources/"
            >Check out our Koii Guides</a
          >
        </div>
        <span class="help-cta text-white">Want to learn more about creator tools? <br /> <a href="/earn/creators/" class="text-lighter-green">Check out the Creators’ page.</a></span>
      </div>
    </div>
  </div>
  <div class="pci d-sm-none">
    <img class="small-map" src="/img/developers/smallmap.svg" />
  </div>
</section>
