<section id="how-works">
  <img src="/img/developers/how-dots-left.svg" class="dots-left" />
  <img src="/img/developers/how-dots-right.svg" class="dots-right" />
  <div class="container">
    <h1 class="text-white text-uppercase">How does it work?</h1>
    <div class="how-works-content">
      <img src="/img/developers/how-main.svg" class="img-main" />
      {% for item in site.data.developers_how_works %}
      <div class="how-content {{item.classname}}">
        <h2 class="text-green">{{item.title}}</h2>
        <ul>
          {% for child in item.children %}
          <li>{{child.subtitle}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      <img src="/img/developers/how-arrows.svg" class="how-arrows" />
    </div>
  </div>
</section>
