<section id="hybrid">
  <img src="/img/developers/hybrid-top.svg" class="img-hybrid-top d-none d-sm-block" />
  <img src="/img/developers/hybrid-top-mobile.svg" class="img-hybrid-top d-sm-none" />
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 text-left">
        <div class="font-cap1">Build hybrid smart contracts with Koii</div>
        <div class="small-img">
          <img class="infinite-img" src="/img/developers/small-infinite.png" />
        </div>

        <div class="font-cap3">
          Koii makes peer-to-peer development easy by separating contracts into
          two parts: consensus rules and executable bundles. Nodes participate
          in ‘Tasks’, submit ‘Payloads’ and then vote to find consensus.
        </div>
        <div class="task">
          <a href="https://koii.network/koi-protocol.pdf" target="_blank">
            <div class="font-cap4">
              Read the Koii Task paper to learn more about how it works.
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="big-img">
          <img class="infinite" src="/img/developers/infinite.png" />
        </div>
      </div>
    </div>
  </div>
  <img src="/img/developers/hybrid-bottom-mobile.svg" class="img-hybrid-bottom d-sm-none" />
</section>
