<section id="start">
  <img src="/img/homepage/Dots.svg" class="dots" />
  <img src="/img/developers/start-vector.svg" class="vector" />
  <div class="container-fluid">
    <div class="start-wrapper">
      <div class="start-content">
        <div class="content-part">
          <h1>Start building with Koii</h1>
          <p>
            Koi gives smart contract developers the nodes and tooling they need
            to build scalable, cross-compatible, and unstoppable applications,
            right out of the box.
          </p>
        </div>
      </div>

      <!-- <img src="/img/homepage/Dots.svg" class="start-dots" /> -->
      <div class="start-cards-wrapper">
        <div class="start-card">
          <div class="font-cap1">Introduction</div>
          <ul class="font-t">
            <li>Getting Started</li>
            <li>Architecture overview</li>
            <li>Install instructions</li>
            <li>Developer communications</li>
          </ul>
        </div>
        <div class="start-card">
          <div class="font-cap1">Universal Content Registry</div>
          <ul class="font-t">
            <li>
              Global attention tracking
              <p>across any website, even web2</p>
            </li>
            <li>
              Content-Mining
              <p>earn KOII Tokens</p>
            </li>
            <li>Developing sustainable ecosystem apps</li>
          </ul>
        </div>
        <div class="start-card">
          <div class="font-cap1">NFT Tools</div>
          <ul class="font-t">
            <li>
              Atomic NFTs
              <p>combine media + contracts, for cheap!</p>
            </li>
            <li>
              NFT-based Apps
              <p>user owned content</p>
            </li>
            <li>
              Bridging to Marketplaces
              <p>Eth, Tezos, Polkadot, and more</p>
            </li>
          </ul>
        </div>
        <div class="start-card">
          <div class="font-cap1">Gradual Confirmation</div>
          <ul class="font-t">
            <li>Highly Scalable</li>
            <li>Low fees</li>
            <li>Designed for people, not finance</li>
            <li>
              Supports non- deterministic use cases
              <p>like social media and subjectivity</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="font-cap4">Get the developer-focused newsletter</div>
      <a
        class="nav-link signup"
        href="javascript:void(0)"
        data-toggle="modal"
        data-target="#signupModal"
        >Sign Up</a
      >
    </div>
  </div>
</section>
