<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="font-cap1">Koii engineering tutorials</div>
        <div class="font-cap2">Step-by-step tutorials</div>
        <div class="font-cap3">
          We've compiled a series of tutorials designed to teach the basics of
          peer-to-peer technologies and how to use them to consume data from the
          Koii ecosystem.
        </div>
      </div>
      <div class="col-md-8">
        <div class="cards-wrapper">
          <div class="cards">
            <div class="row">
              <div class="col-md-6">
                <div class="card tutorials">
                  <div class="tutorials-content">
                    <div class="card-top">
                      <img src="/img/developers/onestar.svg" width="57" />
                      <div class="font-t">Beginner</div>
                    </div>
                    <div class="font-d">
                      <li>
                        What are p2p apps?
                        <p>Gateways, Nodes, and Decentralized Storage.</p>
                      </li>
                      <li>
                        What are Atomic NFTs
                        <p>Understanding decentralized media</p>
                      </li>
                      <li>
                        Build a Koii-X App
                        <p>Hello World</p>
                      </li>
                    </div>
                    <!-- <a href="#" class="learn-more">Learn More</a> -->
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card tutorials">
                  <div class="tutorials-content">
                    <div class="card-top">
                      <img src="/img/developers/twostar.svg" width="57" />
                      <div class="font-t">Intermediates</div>
                    </div>
                    <div class="font-d">
                      <li>
                        Structuring Incentives
                        <p>Distribution functions 101</p>
                      </li>
                      <li>Designing Audit Functions</li>
                      <li>
                        Koii Task Development Process
                        <p>How to do it the efficient way</p>
                      </li>
                    </div>
                    <!-- <a href="#" class="learn-more">Learn More</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
