<section id="video">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="font-cap1">Video Tutorials</div>
                <div class="font-cap2">Video tutorials are coming soon.</div>
                <div class="font-cap3">We’ll cover topics like “Building & Using External Adapters” and “Connect API to your Smart Contract.”<br>Sign up for the Developer Newsletter to get notified when they’re released. </div>
                <a class="nav-link signup" href="javascript:void(0)" data-toggle="modal" data-target="#signupModal">Sign Up</a>
            </div>
        </div>
    </div>
</section>