<section id="video">
  <div class="container d-flex flex-column align-items-start">
    <div class="font-cap1">Video Tutorials</div>
    <div class="section-title">Video tutorials are coming soon.</div>
    <div class="section-description">
      We’ll cover topics like “Building & Using External Adapters” and “Connect
      API to your Smart Contract.”<br />
      Sign up for the Developer Newsletter to get notified when they’re
      released.
    </div>
    <a
    class="nav-link signup"
    href="http://eepurl.com/hv7r5D"
    target="_blank"
    >Sign Up</a
  >
  </div>
</section>
