@import "variables";

#resources-header {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  color: $white;
  display: flex;
  align-items: center;
  margin-top: 74px;
  font-family: $sora;

  &::before {
    background-image: url(/img/resources/resources-header.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: center;
    background-position-x: right;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 100%;
  }
  .header-content {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .header-title {
      font-size: 56px;
      line-height: 72px;
      letter-spacing: -0.02em;
      color: #ffffff;
      font-weight: 600;
    }
    .header-description {
      margin-top: 23px;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: -0.01em;
      color: #bef0ed;
      font-weight: 400;
      max-width: 400px;
    }
  }
  @media (max-width: 1200px) {
    &::before {
      background-size: auto 50%;
    }
  }
  @media (max-width: 992px) {
    &::before {
      background-size: auto 34%;
    }
  }
  @media (max-width: 768px) {
    &::before {
      display: none;
    }
    .header-content {
      height: fit-content;
      align-items: center;
      text-align: center;
      padding-top: 75px;
      padding-bottom: 75px;
      img {
        max-width: 100%;
        margin-bottom: 50px;
      }
      .header-title {
        font-size: 36px;
        line-height: 50px;
      }
      .header-description {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}
