@import "variables";

#koii {
  position: relative;
  background: #171753;
  font-family: $sora;
  color: white;
  padding: 54px 0 143px;
  .section-title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
  }
  .section-description {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 66px;
  }
  .splide {
    padding-left: 50px;
    .koii-card {
      color: $blueDark;
      width: 290px;
      min-height: 328px;
      background: white;
      box-shadow: 0px 94px 114px -56px rgba(0, 76, 108, 0.08);
      padding: 24px 32px 10px;
      .koii-card-title {
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
      }
      .koii-card-description {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 20px;
      }
      .koii-card-link {
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.01em;
        text-decoration-line: underline;
        color: #237b75;
      }
    }
    .splide__pagination {
      bottom: -1.5em;
    }
  }
}
