<section id="connect-docs" class="docs-section">
    <div class="container">
        <div class="docs-area">
            <div class="running-node-left">
                <img src="/img/framework/sdk-code.png" class="full-img">
            </div>
            <div class="running-node-right">
                <div class="font-cap1">Want to dig into the code?</div>
                <div class="font-cap2">All Koii’s code is open source, so start building!</div>
                <div class="btn-wrapper mt20">
                    <a href="https://github.com/open-koi">
                        <img src="/img/connect/btn-github.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="mt70"></div>