<section id="connect-docs">
    <div class="container">
        <div class="docs-area">
            <div class="running-node-left">
                <img src="/img/framework/sdk-code.png" class="full-img">
            </div>
            <div class="running-node-right">
                <div class="font-cap1">Want to dig into the code?</div>
                <div class="font-cap2">All Koi’s code is open source, so start building!</div>
                <div class="btn-wrapper">
                    <a href="#">
                        <img src="/img/connect/btn-github.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>