<header id="connect-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="tw-container mt75">
                    <div class="image-area">
                        <img src="/img/connect/tw.png" class="full-img">
                        <!-- <iframe src="https://twitter.com/open_koi/status/1383497573676175363" width="300px" height="250px"></iframe> -->
                    </div>
                    <div class="flex1">
                        <div class="font-cap1 font-blue">Stay in the loop</div>
                        <div class="font-cap2 font-blue mt40">Connect with Koi on your favorite platforms.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>