<section class="section-social">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="social-container">
					<div class="font-cap3 font-blue"><b>Koi on Twitter</b> @open_koi <a href="https://twitter.com/open_koi"><img src="/img/connect/btn-tw.svg"></a></div>
					<div class="font-cap4 font-blue mt15">From <a href="https://twitter.com/DystopiaLabs/status/1391858909531414532/photo/1">great crypto collaborations</a> to <a href="https://twitter.com/open_koi/status/1383151550743330817/photo/1">dank fish memes</a>, Twitter is the place to be.</div>
					<div class="social-share-btn flex1 justify-content-center mt20">
						<a href="https://twitter.com/open_koi"><img src="/img/connect/btn-tw.svg"></a>
					</div>
					<div class="mt40 social-contents">
						<div class="social-content">
							<div class="slideshow-container">

								<div class="mySlides fade">
									<img src="/img/connect/tw1.png" style="width:100%">
								</div>
								
								<div class="mySlides fade">
									<img src="/img/connect/tw2.png" style="width:100%">
								</div>
								
								<div class="mySlides fade">
									<img src="/img/connect/tw3.png" style="width:100%">
								</div>
								
							</div>
							<br>

							<div style="text-align:center">
								<span class="dot" onclick="currentSlide(1)"></span> 
								<span class="dot" onclick="currentSlide(2)"></span> 
								<span class="dot" onclick="currentSlide(3)"></span> 
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>