<section class="section-social">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="social-container">
					<div class="font-cap3 font-blue"><b>Discord is for coders</b><a href="https://discord.gg/koii"><img src="/img/connect/btn-discord.svg"></a></div>
					<div class="font-cap4 font-blue mt15">Join the conversation and find cool people to work with in the Discord channel. </div>
					<div class="social-share-btn flex1 justify-content-center mt20">
						<a href="https://discord.gg/koii"><img src="/img/connect/btn-discord.svg"></a>
					</div>
					<div class="mt40 social-contents">
						<div class="social-content">
							<img src="/img/connect/temp-discord.svg" class="full-img">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>