<section class="section-social">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="social-container">
					<div class="font-cap3 font-blue"><b>Koi on Twitter</b> @open_koi <img src="/img/connect/btn-tw.svg"></div>
					<div class="font-cap4 font-blue mt15">From <a href="https://twitter.com/DystopiaLabs/status/1391858909531414532/photo/1">great crypto collaborations</a> to <a href="https://twitter.com/open_koi/status/1383151550743330817/photo/1">dank fish memes</a>, Twitter is the place to be.</div>
					<div class="social-share-btn flex1 justify-content-center mt20"><img src="/img/connect/btn-tw.svg"></div>
					<div class="mt40 social-contents">
						<div class="social-content">
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
								</ol>
							
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="la.jpg" alt="Los Angeles">
									</div>
							
									<div class="item">
										<img src="chicago.jpg" alt="Chicago">
									</div>
							
									<div class="item">
										<img src="ny.jpg" alt="New York">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>