<section class="section-social">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="social-container">
					<div class="font-cap3 font-blue"><b>Koi on Twitter</b> @open_koi <img src="/img/connect/btn-tw.svg"></div>
					<div class="font-cap4 font-blue mt15">From great crypto collaborations to dank fish memes, Twitter is the place to be.</div>
					<div class="social-share-btn flex1 justify-content-center mt20"><img src="/img/connect/btn-tw.svg"></div>
					<div class="mt40 social-contents">
						<div class="social-content">
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>