<section id="youtube-docs" class="docs-section">
    <div class="container">
        <div class="docs-area">
            <div class="running-node-left">
                <img src="/img/connect/empty-youtube.svg" class="full-img">
            </div>
            <div class="running-node-right">
                <div class="font-cap1">Get Access to Great Videos</div>
                <div class="font-cap2">Subscribe on YouTube for a quick explainer, and stay up to date when we release new content.</div>
                <div class="btn-wrapper mt20">
                    <a href="#">
                        <img src="/img/connect/btn-youtube.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="mt150"></div>