<header id="ethdenver-hero">
  <!-- <img src="/img/faq/bg-hero.svg" class="d-none d-sm-block bg-hero" /> -->
  <!-- <img src="/img/creators/creators-header-mobile.svg" class="d-sm-none bg-hero" /> -->
  <div class="container-lg">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="header-content">
          <div class="header-title">
            Build Entire dApps On-chain
          </div>
          <div class="header-description">
            Questions? You’re in the<br class="d-sm-none" /> right spot.
          </div>
          <a
            class="btn btn-orange"
            target="_blank"
            href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj"
            >Get Finnie</a
          >
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="header-right">
          <p>Pay for hosting with Attention Rewards</p>
        </div>
      </div>
    </div>
  </div>
</header>
