<header id="ethdenver-hero">
  <img src="/img/ethdenver/hero-img-mobile.svg" class="hero-img-mobile" />
  <div class="ethdenver-overlay h-100">
    <img src="/img/ethdenver/hero-img-tablet.svg" class="hero-img-tablet" />
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="hero-left">
            <div class="hero-title">
              Build Entire dApps<br /><b class="text-uppercase">On-chain</b>
            </div>
            <p class="d-xl-none tablet-title">
              Pay for hosting with<br />
              <span class="text-orange">Attention Rewards</span>
            </p>
            <div class="hero-btns">
              <a
                class="btn btn-orange"
                target="_blank"
                href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj"
                >Grant Program</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="hero-right">
            <p class="d-none d-xl-block">
              Pay for hosting with<br />
              <span class="text-orange">Attention Rewards</span>
            </p>
            <div class="mobile-title">
              <p class="">
                Pay for hosting with<br />
                <span class="text-orange">Attention Rewards</span>
              </p>
              <div class="mobile-btns">
                <a
                  class="btn btn-orange"
                  target="_blank"
                  href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj"
                  >Grant Program</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
