<header id="ethdenver-hero">
  <div class="ethdenver-overlay h-100">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="hero-left">
            <div class="hero-title">Build Entire dApps<br /><b>On-chain</b></div>
            <div class="hero-btns">
              <a
                class="btn btn-orange"
                target="_blank"
                href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj"
                >Grant Program</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="hero-right">
            <p>
              Pay for hosting with<br />
              <span class="text-orange">Attention Rewards</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
