<header id="ethdenver-options">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon1.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <div class="row">
              <div class="col-sm-6">
                <li>Build and deploy dApps in Under 10 Minutes</li>
                <li>Simple UI Templates</li>
              </div>
              <div class="col-sm-6">
                <li>100% In JavaScript</li>
                <li>Built-in Web3 Hooks</li>
                <li>Optimized for NFTs</li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon1.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <div class="row">
              <div class="col-sm-6">
                <li>Build and deploy dApps in Under 10 Minutes</li>
                <li>Simple UI Templates</li>
              </div>
              <div class="col-sm-6">
                <li>100% In JavaScript</li>
                <li>Built-in Web3 Hooks</li>
                <li>Optimized for NFTs</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon1.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <li>Build and deploy dApps in Under 10 Minutes</li>
            <li>Simple UI Templates</li>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon1.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <li>Build and deploy dApps in Under 10 Minutes</li>
            <li>Simple UI Templates</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
