<header id="ethdenver-options">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon1.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>Build and deploy dApps in Under 10 Minutes</li>
                  <li>Simple UI Templates</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li>100% In JavaScript</li>
                  <li>Built-in Web3 Hooks</li>
                  <li>Optimized for NFTs</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon2.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>Cross-chain Wallet</li>
                  <li>Supports AR, SOL, ETH, more coming soon!</li>
                  <li>Drag & Drop NFT Minting</li>
                  <li>Simple UI Templates</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li>Attention mining made easy</li>
                  <li>Instant personal NFT gallery</li>
                  <li>Decentralized ID Management</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon3.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <ul>
              <li>On-chain, Media-Centric</li>
              <li>Atomic Registration preventing plagiarism</li>
              <li>Content is stored on-chain the with transaction</li>
              <li>Dynamic content reacts to external factors like oracles</li>
              <li>Real-time attention tracking</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="option-wrapper">
          <img src="/img/ethdenver/icon4.svg" />
          <div class="option-content">
            <div class="option-title">Koii-X</div>
            <ul>
              <li>Native Token</li>
              <li>
                Earned by tracking verified traffic using Proofs of Real Traffic
                (PoRTs)
              </li>
              <li>Rewards are paid once per epoch (daily)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
