<header id="ethdenver-works">
  <img src="/img/ethdenver/bg-works.svg" class="bg-works d-none d-sm-block" />
  <img src="/img/ethdenver/bg-works-mobile.svg" class="bg-works d-sm-none" />
  <div class="container">
    <div class="">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <h4 class="text-orange-light text-center">In the Works</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="works-wrapper">
      <div class="row">
        <div class="col-sm-4">
          <div class="works-option">
            <img src="/img/ethdenver/works1.svg" />
            <div class="option-title">KNS</div>
            <div class="option-description">
              Decentralized name<br />
              service and routing via<br />
              Koii Nodes
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="works-option">
            <img src="/img/ethdenver/works2.svg" />
            <div class="option-title">Koii Tasks</div>
            <div class="option-description">
              Microservices and hosting,<br />
              audited and paid for with<br />
              tokens
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="works-option">
            <img src="/img/ethdenver/works3.svg" />
            <div class="option-title">Validator Rings</div>
            <div class="option-description">
              Make cross-chain and oracle<br />
              services easier and safer<br />
              than ever before
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="">
        <div class="row">
          <div class="col-sm-12">
            <div class="btns-wrapper">
              <a
                class="btn btn-orange"
                target="_blank"
                href="https://blog.koii.network/The-Koii-Grant-Program-Set-for-Launch/"
                >Apply for our Grants Program</a
              >
              <a
                class="btn btn-greenLightest ml-sm-3"
                target="_blank"
                href="/form/creator-studio"
                >Join the Creator Studio</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
