<section id="footer">
    <div class="container">
        <div>
            <a class="logo-icon" href="/"><img class="lazy" data-src="/img/logo.svg" width="54"><span>&nbsp;&nbsp;Koii</span></a>
        </div>
        <div class="link-area">
            <div class="footer-options-wrapper">
                {% for item in site.data.navigation %}
                <div class="footer-option">
                    <h6 class="footer-option-title">{{ item.header }}</h6>
                    <div class="footer-option-list">
                        {% for child in item.children %}
                        <div class="nav-item mb-1">
                            <a class="nav-link" href="{{ child.link }}" {{ child.newtab }}>
                                {{ child.name }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% if item.header == 'COMPANY' { %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="join-area" style="margin: 30px 0;">
                <div class="social-area">
                    <div class="sc-item">
                        <a href="https://twitter.com/KoiiNetwork" target="_blank"><img class="lazy" data-src="/img/social/tw.svg"></a>
                    </div>
                    <div class="sc-item">
                        <a href="https://discord.gg/koii" target="_blank"><img class="lazy" data-src="/img/social/discord.svg"></a>
                    </div>
                    <div class="sc-item">
                        <a href="https://t.me/koiinetwork" target="_blank"><img class="lazy" data-src="/img/social/telegram.svg"></a>
                    </div>
                    <div class="sc-item">
                        <a href="https://github.com/koii-network/" target="_blank"><img class="lazy" data-src="/img/social/github.svg"></a>
                    </div>
                    <div class="sc-item">
                        <a href="https://www.linkedin.com/company/open-koi/" target="_blank"><img class="lazy" data-src="/img/social/li.svg"></a>
                    </div>
                    <div class="sc-item">
                        <a href="https://www.youtube.com/watch?v=g0sT-0NqWUY" target="_blank"><img class="lazy" data-src="/img/social/youtube.svg"></a>
                    </div>
                </div>
                <div class="lbl-descr"></div>
                <div class="submit-area">
                    <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<!-- <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script> -->
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "20249188",
    formId: "a8970a20-ae1c-40a5-a8fa-0b0b376f8fb4"
});
</script>
                </div>
                <div class="lbl-descr company-lbl">©Koi Labs Inc. 2021 All Rights Reserved, 2021.</div>
            </div>
        </div>
        <div class="footer-end">
            <div class="footer-link-area">
                <a href="https://koii.network/Contest_TC_-_Cheeky_Lil_Contest.pdf" class="footer-link" target="_blank"><span>Contest Terms & Conditions</span></a>
                <a href="/TOU_June_22_2021.pdf" class="footer-link" target="_blank"><span>Terms of Service</span></a>
                <a href="/Privacy_Policy.pdf" class="footer-link" target="_blank"><span>Privacy Policy</span></a>
            </div>
            <div class="social-area">
                <div class="sc-item">
                    <a href="https://twitter.com/KoiiNetwork" target="_blank"><img class="lazy" data-src="/img/social/tw.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://discord.gg/koii" target="_blank"><img class="lazy" data-src="/img/social/discord.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://t.me/koiinetwork" target="_blank"><img class="lazy" data-src="/img/social/telegram.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://github.com/koii-network/" target="_blank"><img class="lazy" data-src="/img/social/github.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://www.linkedin.com/company/open-koi/" target="_blank"><img class="lazy" data-src="/img/social/li.svg"></a>
                </div>
                <!-- <div class="sc-item">
                    <a href="https://www.youtube.com/watch?v=g0sT-0NqWUY" target="_blank"><img class="lazy" data-src="/img/social/youtube.svg"></a>
                </div> -->
            </div>
        </div>
    </div>
</section>
