<section id="footer">
    <div class="container">
        <div>
            <a class="logo-icon" href="/"><img src="/img/logo.svg" width="54"><span>&nbsp;&nbsp;Koi</span></a>
        </div>
        <div class="row footer-options-wrapper">
            {% for item in site.data.navigation %}
            <div class="footer-option col-sm-3">
                <h6 class="footer-option-title">{{ item.header }}</h6>
                <div class="footer-option-list">
                    {% for child in item.children %}
                    <div class="nav-item mb-1">
                        <a class="nav-link" href="{{ child.link }}">
                            {{ child.name }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% if item.header == 'COMPANY' { %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="footer-end">
            <div class="footer-link-area">
                <a class="footer-link">Contest Terms & Conditions</a>
                <a class="footer-link">Terms of Service</a>
                <a class="footer-link">Privacy Policy</a>
            </div>
            <div class="social-area">
                <div class="sc-item">
                    <a href="https://twitter.com/open_koi" target="_blank"><img src="/img/social/tw.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://discord.com/invite/SDwgnjxNEn" target="_blank"><img src="/img/social/discord.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://t.me/joinchat/OEHs_8T9-8ZhZmU5" target="_blank"><img src="/img/social/telegram.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://github.com/open-koi" target="_blank"><img src="/img/social/github.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://www.linkedin.com/company/open-koi/" target="_blank"><img src="/img/social/li.svg"></a>
                </div>
                <div class="sc-item">
                    <a href="https://www.youtube.com/watch?v=g0sT-0NqWUY" target="_blank"><img src="/img/social/youtube.svg"></a>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center mb-0">©KOI Co. 2021</p>
</section>
