<section id="footer">
    <div class="container">
        <h2>Run a node.</h2>
        <h3 class="footer-description">Join the network, and help us preserve the best of human knowledge.</h3>
        <div class="row">
            <div class="col-sm-6">
                <h6>Stay up to date</h6>
                <p class="field-label">Email address</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="name@example.com">
                    <span class="input-group-btn">
                        <button class="btn btn-orange" type="button" onclick="{ return window.open ('http://eepurl.com/hv7r5D')}">Sign up</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row footer-options-wrapper">
            {% for item in site.data.navigation %}
            <div class="footer-option {{ item.class }}">
                <h6 class="footer-option-title">{{ item.header }}</h6>
                <div class="footer-option-list">
                    {% for child in item.children %}
                    <div class="nav-item mb-1">
                        <a class="nav-link {{ child.class }}" href="{{ child.link }}">
                            {{ child.name }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% if item.header == 'COMPANY' { %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="social-area">
            <div class="sc-item">
                <a href="https://twitter.com/open_koi" target="_blank"><img src="/img/social/twitter.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://t.me/joinchat/OEHs_8T9-8ZhZmU5" target="_blank"><img src="/img/social/telegram.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://discord.com/invite/SDwgnjxNEn" target="_blank"><img src="/img/social/discord.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://www.youtube.com/watch?v=g0sT-0NqWUY" target="_blank"><img src="/img/social/youtube.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://www.linkedin.com/company/open-koi/" target="_blank"><img src="/img/social/linkedin.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://github.com/open-koi" target="_blank"><img src="/img/social/github.svg"></a>
            </div>
        </div>
    </div>
    <p class="text-center mb-0">©KOI Co. 2021</p>
</section>
