<nav id="topbar" class="navbar navbar-expand-sm navbar-light in-nav">
    <div class="container-fluid h-100">
        <div class="web-header">
            <div class="toggler-wrapper in-nav">
                <a class="logo-icon" href="/"><img src="/img/logo.svg" width="45"></a>
                <ul class="navigation-center-web">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:openSubMenu('learn',0)"><span class="active">Learn</span> <img src="/img/icons/narrow-dropdown.svg" width="14"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Earn <img src="/img/icons/narrow-dropdown.svg" width="14"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Connect <img src="/img/icons/narrow-dropdown.svg" width="14"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Explore <img src="/img/icons/narrow-dropdown.svg" width="14"></a>
                    </li>
                </ul>
                <!-- <div class="menu-container">
                </div> -->
                <a class="nav-link download" href="/invenstors/">Invenstors</a>
            </div>
        </div>
        <div class="mobile-header">
            <div class="toggler-wrapper in-nav">
                <a class="logo-icon" href="/"><img src="/img/logo.svg" width="45"></a>
                <!-- <div class="download-wrapper d-sm-none ml-auto">
                <a class="nav-link download" href="/downloads/">Download</a>
            </div> -->
                <button class="navbar-toggler ml-auto in-nav" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars nav-menu-icon" data-wow-delay=".1s"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse in-nav" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-lg-0 in-nav">
                    <li class="nav-item in-nav">
                        <a class="nav-link" href="/learn/">Learn</a>
                    </li>
                    <li class="nav-item active in-nav">
                        <a class="nav-link" href="/earn/">Earn</a>
                    </li>
                    <li class="nav-item in-nav">
                        <a class="nav-link" href="/connect/">Connect</a>
                    </li>
                    <li class="nav-item in-nav">
                        <a class="nav-link" href="/explore/">Explore</a>
                    </li>
                    <li class="nav-item in-nav">
                        <a class="nav-link download" href="/invenstors/">Invenstors</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sub_menu">
        <div class="sub-menu-container">
            <div class="sub-menu-item">
                <div class="item-line"></div>
                <div class="item-title">About</div>
            </div>
            <div class="sub-menu-item active">
                <div class="item-line"></div>
                <div class="item-title">Mission</div>
            </div>
            <div class="sub-menu-item">
                <div class="item-line"></div>
                <div class="item-title">News</div>
            </div>
            <div class="sub-menu-item">
                <div class="item-line"></div>
                <div class="item-title">FAQ</div>
            </div>
            <div class="sub-menu-item">
                <div class="item-line"></div>
                <div class="item-title">Blog</div>
            </div>
        </div>
    </div>
</nav>
