<section id="partners">
    <a href="https://arweave.org/" class="partner" target="_blank">
        <img src="/img/partners/arweave-logo.svg">
    </a>
    <a href="https://www.fenbushicapital.vc/index_en.html" class="partner" target="_blank">
        <img src="/img/partners/ocean-logo.svg">
    </a>
    <a href="https://outlierventures.io" class="partner" target="_blank">
        <img src="/img/partners/ov-logo.svg">
    </a>
    <a href="https://www.src.capital/" class="partner" target="_blank">
        <img src="/img/partners/src-logo.jpg">
    </a>
    <a href="https://verto.exchange/" class="partner" target="_blank">
        <img style="max-width: 60px;" src="/img/partners/vertro-logo.svg">
    </a>
</section>