<section id="partners">
    <div class="row">
        <div class="col-md-12">
            <div class="font-cap1 font-blue">Partners</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="partner-container">
                <a href="https://arweave.org/" class="partner" target="_blank">
                    <img src="/img/partners/arweave-logo.svg">
                </a>
                <a href="https://www.fenbushicapital.vc/index_en.html" class="partner" target="_blank">
                    <img src="/img/partners/ocean-logo.svg">
                </a>
                <a href="https://outlierventures.io" class="partner" target="_blank">
                    <img src="/img/partners/ov-logo.svg">
                </a>
                <a href="https://www.src.capital/" class="partner" target="_blank">
                    <img src="/img/partners/src-logo.jpg">
                </a>
                <a href="https://verto.exchange/" class="partner" target="_blank">
                    <img style="max-width: 60px;" src="/img/partners/vertro-logo.svg">
                </a>
                <a href="https://www.maven11.com/" class="partner" target="_blank">
                    <img style="max-width: 105px;" src="/img/partners/maven.svg">
                </a>
            </div>
        </div>
    </div>
</section>