<section id="partners">
    <a href="https://arweave.org/" class="partner" target="_blank">
        <img src="/img/partners/arweave-logo.svg">
    </a>
    <a href="https://www.fenbushicapital.vc/index_en.html" class="partner" target="_blank">
        <img src="/img/partners/ocean-logo.svg">
    </a>
    <a href="https://outlierventures.io" class="partner" target="_blank">
        <img src="/img/partners/ov-logo.svg">
    </a>
    <a href="https://outlierventures.io/base-camp/" class="partner" target="_blank">
        <img src="/img/partners/basecamp-logo.svg">
    </a>
    <a href="https://outlierventures.io/base-camp/" class="partner" target="_blank">
        <img src="/img/partners/ifttt-logo.png">
    </a>
    <a href="https://getstorecat.com/" class="partner" target="_blank">
        <img style="max-width:8rem;" src="/img/partners/storecat-logo.svg">
    </a>
</section>