<!-- jQuery -->
<script src="/js/jquery-v3.6.0.js"></script>
<script src="/js/jquery.lazyload.js" type="text/javascript"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- <script type='text/javascript'>(jQuery)(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';});var $mcj = jQuery.noConflict(true);</script> -->
<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/typed.min.js"></script>
<script defer src="/js/jquery.prettyembed.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/fullWidthSlider.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>
<script src="/js/util.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/faq.js"></script>
<script src="/js/jobs-fwdl.js"></script>
<script src="/js/jobs-fed.js"></script>
<script src="/js/jobs-uxw.js"></script>
<script src="/js/jobs-uxuid.js"></script>
<script src="/js/jobs-bpd.js"></script>
<script src="/js/jobs-mgs.js"></script>
<script src="/js/jobs-ccm.js"></script>
<script src="/js/jobs-rd.js"></script>
<script src="/js/jobs-jnd.js"></script>
<script src="/js/jobs-jdd.js"></script>
<script src="/js/jobs-sp.js"></script>
<script src="/js/jobsmenu.js"></script>
<!-- <script src="/js/accordion.min.js"></script>
<script src="/js/feat-accordion.js"></script> -->
<!-- <script src="/js/splide.min.js"></script> -->
