@import "variables";

#faq-header {
    background:linear-gradient(180deg, #BCF3EF 0%, #FFFFFF 100%);
    .container {
        h1 {
            margin-bottom: 30px;
        }
        h2 {
            margin-bottom: 30px;
        }      
    }

    @media (max-width: $sm) {
        min-height: unset;
        .container {
            h1 {
                font-size: 40px !important;
                text-align: center;
                letter-spacing: 0.03em;
            }
        }
    }
}