@import "variables";

#faq-header {
  position: relative;
  background: linear-gradient(to bottom, #bcf3ef 11%, white 50%);
  color: $blueDark;
  // min-height: 535px;
  min-height: calc(75vh);
  padding-top: 75px;
  display: flex;
  align-items: flex-end;
  &::before {
    background-image: url("/img/run/run-vector.svg");
    background-repeat: no-repeat;
    // background-size: 839px auto;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .container {
    .row {
      margin-bottom: 75px;
      h1 {
        margin-bottom: 15px;
      }
      h3 {
        margin-bottom: 56px;
        font-weight: normal;
        letter-spacing: 3%;
        line-height: 32px;
      }
      .header-btn-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .btn {
          width: 200px;
          height: 48px;
          font-size: 18px;
          background: $white;
          border: 1.5px solid $white;
          border-radius: 8px;
          color: $blueDark;
          &.btn-join {
            margin-left: 48px;
            background: $blueDark;
            color: $white;
          }
        }
      }
    }
  }
  @media (max-width: $sm) {
    padding: 30px 0;
    background-image: url("/img/homepage/vector-mobile.png"), linear-gradient(to bottom, #bcf3ef 11%, white 50%);
    background-repeat: no-repeat;
    &::before {
      display: none;
    }
    .container {
      justify-content: space-around !important;
      .row {
        h1 {
          font-size: 32px !important;
          text-align: left;
          line-height: 48px;
          margin-bottom: 25px;
        }
        h3 {
          font-size: 20px !important;
          margin-bottom: 65px;
          line-height: 32px;
        }
        &.header-description {
          margin-top: 118px;
        }
        .header-btn-wrapper {
          // flex-direction: column;
          justify-content: center;
          width: 100%;
          .btn {
            // width: 100%;
            min-width: 140px;
            max-width: 136px;
            height: 44px;
            font-size: 18px;
            &.btn-learn {
              font-size: 12px;
            }
            &.btn-join {
              margin-left: 40px;
              // margin-top: 10px;
            }
          }
        }
      }
    }
  }
  @media (min-width: $xxl) {
    .container {
      .row {
        h1 {
          font-size: 42px !important;
        }
        h3 {
          font-size: 32px !important;
        }
      }
    }
  }
}
