@import "variables";

#faq-options {
  position: relative;
  background: url(/img/faq/bg-options.svg),
    linear-gradient(90deg, #030332 0%, #171753 100%);
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 100% auto;
  font-family: $sora;
  padding: 48px 0 87px;
  height: 3500px;
  .bg-options {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .cards-wrapper {
    background-color: #ecfffe;
    padding: 0 65px;
    .faq-cards {
      position: relative;
      top: -35px;
      .faq-card {
        width: 100%;
        height: 166px;
        background-color: white;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.16);
        &.last {
          margin-bottom: 0px;
        }
        img {
          margin-bottom: 24px;
        }
        h3 {
          font-weight: normal;
          font-size: 24px !important;
          line-height: 32px;
          letter-spacing: -0.02em;
          margin-bottom: 0;
        }
      }
      .faq-extra-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        h6 {
          font-weight: normal;
          color: #171753;
        }
      }
    }
  }
  .faqs {
    .faq-item {
      .questions {
        display: flex;
        justify-content: center;
        width: 100%;
        .faq-accordion {
          width: 712px;
          // background: white;
          // padding: 20px 0;
          .ac {
            margin-top: 0;
            border: unset;
            background-color: #f5f5f5;
            .ac-header {
              .ac-trigger {
                min-height: 60px;
                padding: 0 48px;
                &:hover {
                  background-color: #ffffff;
                  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.16);
                }
                &::after {
                  border: solid 1px;
                  border-radius: 50%;
                  width: 35px;
                  height: 35px;
                  font-size: 28px;
                  font-weight: normal;
                  right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    padding: 0px 0 21px;
    .bg-options {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .bg-options-mobile {
      position: relative;
      top: -50px;
    }
    .options-hint {
      font-size: 12px;
      color: white;
    }
    .option-wrapper {
      margin-top: 41px;
      img {
        width: 82px;
      }
      h6 {
        font-size: 14px !important;
        text-transform: uppercase;
      }
    }
  }
}
