@import "variables";

#faq-options {
  position: relative;
  background: url(/img/faq/bg-options.svg), linear-gradient(90deg, #030332 0%, #171753 100%);
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 100% auto;
  font-family: $sora;
  padding: 48px 0 87px;
  height: 3500px;
  .bg-options {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .cards-wrapper {
    background-color: #ECFFFE;
    padding: 0 65px;
    .faq-cards {
      position: relative;
      top: -35px;
      .faq-card {
        width: 100%;
        height: 166px;
        background-color: blue;
        margin-bottom: 32px;
        &.last {
          margin-bottom: 0px;
        }
      }
    }
  }
  @media (max-width: 576px) {
    padding: 0px 0 21px;
    .bg-options {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .bg-options-mobile {
      position: relative;
      top: -50px;
    }
    .options-hint {
      font-size: 12px;
      color: white;
    }
    .option-wrapper {
      margin-top: 41px;
      img {
        width: 82px;
      }
      h6 {
        font-size: 14px !important;
        text-transform: uppercase;
      }
    }
  }
}
