<section class="jobfooter" id="jobfooter">
    <div class="footer-body">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <h6 class="title">Are you a rockstar who loves Koii’s mission and work?</h6>
                    <h5 class="description">
                    If you are <b>really good at what you do</b> and think Koii is the way you <b>have to make a difference</b> in this world but don’t see a job description that fits your skillset, reach out to us.<br>Send us your resume and the work you envision yourself doing at Koii at 
                    <a href="mailto: jobs@koii.network"><b><u>jobs@koii.network.</u></b></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
