<header id="getfinnie-header">
  <div class="container">
    <div class="header-description">
      <div class="col-12">
        <div class="font-cap1">Get paid to post.</div>
        <div class="font-cap3">Try the wallet that lets you earn crypto on every NFT you own.</div>
      </div>
      <div class="col-12">
        <div class="join-area">
          <div class="submit-area">
            <div class="clear">
              <input type="submit" onclick="window.open('https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj')" class="finnieButton valid"
                aria-invalid="false" value="Get Finnie Now">
              <!-- <input type="submit" onclick="window.open('https://koii.network/getFinnie')" class="tutorialButton valid"
                aria-invalid="false" value="Learn About Finnie"> -->
                <a class="tutorialButton valid" href="#finnie-content">Learn About Finnie</a>
            </div>
            
            <div class="koii-logo-hero">
              <img src="/img/homepage/hero_bk_after.svg" class="hero-bk-after" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vl1 numerial-item">
      <div class="first">
        <span class="num num_users"></span><br>
        <span>Finnie Wallet Users</span>
      </div>
    </div>
    <div class="vl2 numerial-item">
      <div class="second">
        <span class="num num_koii_earned"></span><br>
        <span>KOII earned</span>
      </div>
    </div>
    <div class="vl3 numerial-item">
      <div class="third">
        <span class="num num_atomic_nfts"></span><br>
        <span>Atomic NFTs Created</span>
      </div>
    </div>
  </div>
</header>