<section id="finnie-revolution">
    <div class="container">
        <div class="revolution-area">
            <div class="bg-right"></div>
            <div class="font-cap2 mt15">Creating NFTs has never been easier.</div>
            <div class="font-cap3 mt10">Get the resources you need to start earning attention rewards now.</div>
            <div class="row">
                <div class="col-12 finnie-video">
                    <iframe width="881" height="543" src="https://www.youtube.com/embed/Y40gyQ6BO2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="videos mt70">
                <img src="/img/homepage/vector-l.svg" alt="" class="nav-bk first">
                <img src="/img/homepage/vector-r.svg" alt="" class="nav-bk last">
                <a href="https://www.youtube.com/watch?v=zoxAW6R9NEM" target="_blank">
                    <div class="video-item">
                        <div id="finnie-video-display"></div>
                        <div class="video-title">CGC 2021 - introducing Finnie</div>
                        <div class="video-description">Bringing personal ownership to the internet, and rewarding creators for quality.</div>
                    </div>
                </a>
                <a href="https://blog.koii.network/Introducing-Finnie/" target="_blank">
                    <div class="video-item">
                        <img class="lazy" data-src="/img/homepage/finnie-tutorial.png" alt="" src="img/loading.gif">
                        <div class="video-title">The Finnie Tutorial</div>
                        <div class="video-description">Get started using the Finnie Wallet with a step-by-step guide.</div>
                    </div>
                </a>
                <a href="https://www.crowdcast.io/e/community-call-with-koii/1" target="_blank">
                    <div class="video-item">
                        <img class="lazy" data-src="/img/news/video-item3.jpg" alt="" src="img/loading.gif">
                        <div class="video-title">Community Call with Koii Founder Al Morris</div>
                        <div class="video-description">Watch the replay now for Koii's event on Crowdcast!</div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
