<section id="finnie-run_a_node">
  <img src="/img/homepage/run_node_img.svg" class="run_node_img" />
  <div class="run_a_node-wrapper">
    <div class="run_a_node-content">
      <h1>The best NFT wallet on the market.</h1>
      <p class="description">
        Get rewarded for your work and store it on Arweave forever. What more could you want?
      </p>
      
      <a href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank">
        <div class="btn btn-get">Get Finnie Now</div>
      </a>
    </div>
  </div>
</section>
