@import "variables";

#about-header {
  position: relative;
  background: linear-gradient(to bottom, #bcf3ef 11%, white 50%);
  color: $blueDark;
  // min-height: 535px;
  padding-top: 75px;
  display: flex;
  align-items: flex-end;
  &::before {
    background-image: url("/img/learn/run-vector.svg");
    background-repeat: no-repeat;
    // background-size: 839px auto;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 350px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .s-title{margin-top: 70px;}
  .font-cap1{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
  }
  .font-cap2{
    font-size: 32px;
    line-height: 40px;
  }
  .font-cap3{
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }
  .font-cap4{
    font-size: 20px;
    line-height: 24px;
  }
  
  @media (max-width: $sm) {
    padding: 30px 0;
    background-image: url("/img/homepage/vector-mobile.png"), linear-gradient(to bottom, #bcf3ef 11%, white 50%);
    background-repeat: no-repeat;
    &::before {
      display: none;
    }
  }
}
