@import "variables";

#about-header {
  position: relative;
  background: linear-gradient(to bottom, #bcf3ef 11%, white 50%);
  color: $blueDark;
  // min-height: 535px;
  padding-top: 75px;
  display: flex;
  align-items: flex-end;
  &::before {
    background-image: url("/img/learn/run-vector.svg");
    background-repeat: no-repeat;
    // background-size: 839px auto;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 350px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .s-title{margin-top: 70px;}
  .font-cap1{
    font-weight: bold;
    font-size: 32px;
    line-height: 56px;
  }
  .font-cap2{
    font-size: 20px;
    line-height: 32px;
  }
  .font-cap3{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  .font-cap4{
    font-size: 15px;
    line-height: 24px;
  }
  .font-cap5{
    font-size: 18px;
    line-height: 24px;
  }
  .btn {
    padding: 0 30px;
    font-size: 18px;
    height: 40px;
    color: $white;
    background: $blueDark;
    width: fit-content;
    margin: 0 auto;
  }
  
  @media (max-width: $sm) {
    padding: 30px 0;
    background-image: url("/img/homepage/vector-mobile.svg"), linear-gradient(to bottom, #bcf3ef 11%, white 50%);
    background-repeat: no-repeat;
    &::before {
      display: none;
    }
    .font-cap1{
      font-size: 32px;
      line-height: 56px;
    }
    .font-cap2{
      font-size: 20px;
      line-height: 32px;
    }
    .font-cap3{
      font-size: 24px;
      line-height: 32px;
    }
    .font-cap4{
      font-size: 15px;
      line-height: 24px;
    }
    .font-cap5{
      font-size: 18px;
      line-height: 24px;
    }
  }
}
