@import "variables";

#about-team {
  color: $blueDark;
  .font-cap1{
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }
  .font-cap2{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
  .font-cap3{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .users-area{
    // display: flex;
    // flex-wrap: wrap;
    .user{
      min-width: 150px;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      float: left;
      width: 20%;
      margin-bottom: 40px;
      // .avatar-area{
      //   max-width: 100px;
      //   border-radius: 50%;
      // }
      .info-area{
        min-height: 100px;
      }
      img{
        width: 100px;
        border-radius: 50%;
        height: 100px;
        margin-bottom: 12px;
        object-fit: cover;
      }
      @media (max-width: 1300px) {
        width: 25%;  
      }
      @media (max-width: 1024px) {
        width: 33.33%;  
      }
      @media (max-width: 575px) {
        width: 50%;  
      }
      @media (max-width: 400px) {
        width: 100%;  
      }
    }
  }
  
  @media (max-width: $sm) {
    .font-cap1{
      font-size: 24px;
      line-height: 32px;
    }
    .font-cap2{
      font-size: 16px;
      line-height: 18px;
    }
    .font-cap3{
      font-size: 15px;
      line-height: 20px;
    }
  }
}
