<section id="atomic">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-12">
        <div class="left">
          <h1 class="d-none d-sm-block">
            Atomic NFTs<br />
            live forever
          </h1>
          <h2 class="d-sm-none mb-4">Atomic NFTs live <br />forever</h2>
          <p>
            Atomic NFTs are the new NFT standard, and they can do so much more
            than the NFTs you’re used to.
          </p>
          <a class="text-orange d-none d-sm-block" href="#"
            >See some examples</a
          >
          <a class="btn btn-greenLightest d-none d-sm-block" href="#"
            >Dynamic NFTs</a
          >
        </div>
      </div>
      <div class="col-sm-8 col-12">
        <div
          class="img-chart d-flex flex-sm-row flex-column justify-content-end"
        >
          <div class="img-wrapper d-none d-sm-block">
            <img src="/img/creators/automic-chart.svg" width="100%" />
            <div class="chart-desc desc1 text-center">
              <p class="text-uppercase text-orange mb-1">
                stored on<br />
                Arweave
              </p>
              <p class="text-light-green mb-0">for a minimum of 200 years</p>
            </div>
            <div class="chart-desc desc2 text-center">
              <p class="text-uppercase text-orange mb-1">
                easily<br />
                transferred
              </p>
              <p class="text-light-green mb-0">
                between<br />
                blockchains
              </p>
            </div>
            <div class="chart-desc desc3 text-center">
              <p class="text-uppercase text-orange mb-1">
                Earn attention rewards
              </p>
              <p class="text-light-green mb-0">
                when people look at or<br />
                interact with them
              </p>
            </div>
            <div class="chart-desc desc4 text-center">
              <p class="text-uppercase text-orange mb-1">Permanent</p>
              <p class="text-light-green mb-0">
                they can’t be removed,<br />
                rug-pulled, or censored
              </p>
            </div>
            <div class="chart-desc desc5 text-center">
              <p class="text-uppercase text-orange mb-1">eco-friendly</p>
              <p class="text-light-green mb-0">
                Low energy use <br />& low gas fees
              </p>
            </div>
            <div class="chart-desc desc6 text-center">
              <p class="text-uppercase text-orange mb-1">
                bold new <br />options
              </p>
              <p class="text-light-green mb-0">
                Dynamic NFTs that<br />
                change autonomously<br />
                with real world inputs like<br />
                attention or location.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img-wrapper-mobile d-sm-none">
    <img src="/img/creators/automic-chart-mobile.svg" width="100%" />
    <div class="chart-desc desc1 text-left">
      <p class="text-uppercase text-orange mb-1">
        stored on<br />
        Arweave
      </p>
      <p class="text-light-green mb-0">
        for a minimum<br />
        of 200 years
      </p>
    </div>
    <div class="chart-desc desc2 text-left">
      <p class="text-uppercase text-orange mb-1">
        easily<br />
        transferred
      </p>
      <p class="text-light-green mb-0">
        between<br />
        blockchains
      </p>
    </div>
    <div class="chart-desc desc3 text-left">
      <p class="text-uppercase text-orange mb-1">
        Earn attention<br />
        rewards
      </p>
      <p class="text-light-green mb-0">
        when people look at or<br />
        interact with them
      </p>
    </div>
    <div class="chart-desc desc4 text-left">
      <p class="text-uppercase text-orange mb-1">Permanent</p>
      <p class="text-light-green mb-0">
        can’t be removed,<br />
        rug-pulled, or<br />
        censored
      </p>
    </div>
    <div class="chart-desc desc5 text-left">
      <p class="text-uppercase text-orange mb-1">eco-friendly</p>
      <p class="text-light-green mb-0">Low energy use <br />& low gas fees</p>
    </div>
    <div class="chart-desc desc6 text-left">
      <p class="text-uppercase text-orange mb-1">bold new <br />options</p>
      <p class="text-light-green mb-0">
        Dynamic NFTs that<br />
        change autonomously<br />
        with real world inputs like<br />
        attention or location.
      </p>
    </div>
  </div>
  <div class="container d-sm-none mobile-bottom">
    <div class="d-flex flex-column align-items-center">
      <a class="text-orange mb-2" href="#">See some examples</a>
      <a class="btn btn-orange" href="#">Dynamic NFTs</a>
    </div>
  </div>
</section>
