<section id="atomic">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="node-left">
          <h3>
            Atomic NFTs<br />
            live forever
          </h3>
          <p>
            Atomic NFTs are the new NFT standard, and they can do so much more
            than the NFTs you’re used to.
          </p>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="node-right">
          <a
            href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj"
            target="_blank"
          >
            <div class="node-card">
              <p class="text-uppercase node-card-title">
                Have you installed the Finnie Wallet yet?
              </p>
              <p>
                Publish your first 5 NFTs for free, and start earning Koii
                whenever anyone visits your personal gallery.
                <u style="color: #237b75">Click to learn more</u>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
