<section id="atomic">
  <img src="/img/homepage/node_net.svg" class="node-net" />
  <div class="node-wrapper">
    <div class="node-content">
      <div class="node-left">
        <h3>Node-specific tasks <br /> reduce duplicated efforts</h3>
        <p>Koii is built to scale globally without killing the planet.</p>
      </div>
      <div class="node-right">
        <a href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank">
          <div class="node-card">
            <p class="text-uppercase node-card-title">Have you installed the Finnie Wallet yet?</p>
            <p>
              Publish your first 50 NFTs for free, and start earning Koii whenever anyone visits your personal gallery.
              <u style="color: 
              #237B75;">Click to learn more</u>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
