<section id="extension">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-tag">Atomic NFTs</div>
                <div class="font-cap1">Own your content forever</div>
                <div class="font-cap3">The Koii Browser Extension is your one-stop shop for NFT creation, making it cheap and easy to mint NFTs once, then list them to any marketplace, or even export them to traditional web platforms to find a wider audience.</div>
            </div>
            <div class="col-12 gallery-part">
                <img src="/img/creators/Gallery 1.png" class="gallery" />
                <img src="/img/homepage/Dots.svg" class="gallery-dots" />
            </div>
            
            <div class="extension-cards-wrapper">
                <div class="extension-cards">
                  <div class="row">
                        {% for item in site.data.creators_extension %}
                        <div class="col-xl-4 col-md-12">
                            <a href="#" class="text-green"></a>
                            <div class="extension-card">
                                <img src="/img/creators/{{item.img}}.svg" width="57" />
                                <h3>{{item.title}}</h3>
                            </div>
                            </a>
                        </div>
                        {% endfor %}
                  </div>
                </div>
            </div>
            <img src="/img/homepage/Dots.svg" class="wallet-dots-left" />
            <img src="/img/homepage/Dots.svg" class="wallet-dots-right" />
            <div class="col-12 getwallet">
                <div class="font-cap5">Install the Finnie Wallet, and start publishing peer-to-peer today. Own your content forever.</div>
                <div class="btnwallet"><a href="https://cutt.ly/Sb3aU8a" target="_blank"><div class="btn btn-get">Get the Finnie Wallet</div></a></div>
            </div>
        </div>
    </div>
</section>