<section id="extension">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-tag">Atomic NFTs</div>
                <div class="font-cap1">Own your content forever</div>
                <div class="font-cap3">The Koii Browser Extension is your one-stop shop for NFT creation, making it cheap and easy to mint NFTs once, then list them to any marketplace, or even export them to traditional web platforms to find a wider audience.</div>
            </div>
            <div class="col-12 gallery-part">
                <img src="/img/creators/Gallery 1.png" class="gallery" />
            </div>
            <img src="/img/homepage/Dots.svg" class="gallery-dots" />
        </div>
    </div>
</section>