<section id="finnie">
    <img src="/img/creators/dots-left.svg" class="left-dots" />
    <img src="/img/creators/dots-right.svg" class="right-dots" />
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-column align-items-center">
            <h1 class="text-light-green">Easier than ever before</h1>
            <h6 class="text-white">With Finnie, making an Atomic NFT has never been easier. It <br />takes less than one minute, and costs as little as one cent.</h6>
            <h6 class="text-white">Finnie is the best NFT wallet on the market.</h6>
            <a class="btn btn-greenLightest">Get Finnie</a>
          </div>
        </div>
      </div>
    </div>
</section>
