<header id="creators-header">
  <img src="/img/creators/creators-header.svg" class="d-none d-sm-block bg-hero" />
  <img src="/img/creators/creators-header-mobile.svg" class="d-sm-none bg-hero" />
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="header-content">
          <div class="header-title">Create then earn.<br/> It’s that simple.</div>
          <div class="header-description">
            You’ll always own your work and always own the rewards. Forever.
          </div>
          <h2 class="">Start earning now</h2>
          <a class="btn btn-greenLightest" target="_blank" href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj">Get Finnie</a>
        </div>
      </div>
    </div>
  </div>
</header>
