<section id="koi-network">
  <img src="/img/creators/koi-network-top.svg" class="img-top" />
  <img src="/img/creators/koi-network-dots.svg" class="img-dots-left" />
  <img src="/img/creators/koi-network-dots-right.svg" class="img-dots-right" />
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div
          class="
            koi-network-left
            d-flex
            flex-column
            align-items-start
            justify-content-center
            h-100
          "
        >
          <h1 class="text-lightest-green font-weight-normal">
            The Koii Network<br />
            depends on<br />
            creators like you
          </h1>
          <p class="text-lightest-green description">
            When you make something people love, you should get rewarded for it.
            Creators make the network engaging.
          </p>
          <p class="text-lightest-green description">
            Attention is the only way to earn (or “mine”) the tokens from the
            daily release. Koii is about creating and curating the content that
            people want to see and engage with, so let’s get started.
          </p>
          <a class="btn btn-orange">Create Content Now</a>
          <div class="d-flex justify-content-start align-items-center">
            <img src="/img/creators/koi-network-programming.svg" />
            <p class="text-lightest-green mb-0 ml-3">
              Want to learn more about developer tools?<br />
              <a href="#" class="text-green">Check out the Developers’ page.</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="imgs-group">
          <div class="d-flex">
            <div class="imgs-group-left">
              <img src="/img/creators/koi-network-img1.svg" />
              <img src="/img/creators/koi-network-img2.svg" />
              <img src="/img/creators/koi-network-img3.svg" />
            </div>
            <div class="imgs-group-right">
              <img src="/img/creators/koi-network-img4.svg" />
              <img src="/img/creators/koi-network-img5.svg" />
              <img src="/img/creators/koi-network-img6.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
