<section id="publish">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="font-cap1">
          Get discovered,<br />Get free publishing for life
        </div>
        <div class="font-cap3">
          As the network is getting started, we’ve made it free to register your
          first 50 NFTs.
        </div>
      </div>
      <div class="col-12">
        <div class="plus-card-wrapper">
          <div class="plus-card">
            <div class="img-plus">
              <img src="/img/creators/plus-circle.svg" width="132px" />
            </div>
            <div class="text-plus">
              <p>PLUS</p>
              <h6>
                You’ll be featured on our leaderboard at <a href="https://koi.rocks/">koi.rocks</a>, and earn
                tokens every time someone views your work. If you submit just
                one viral meme, you might make enough to cover a lifetime of
                free publishing.
              </h6>
            </div>
          </div>
          <div class="dots-plus">
            <img src="/img/homepage/Dots.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
