<section id="investors">
  <div class="touch-area">
      <div class="container text-center">
          <div class="font-cap1 mt25">Get in on the Action</div>
          <div class="font-cap2 mt15">The people and organizations who believe in Koii’s mission and execution</div>
          <div class="flex1 mt50">
              <a href="https://docs.google.com/forms/d/1sKvsAdLS12FTB65afdIee6YtgjmEjK6Fr07P1E1HHK0/viewform?edit_requested=true" target="_blank" class="btn btn-white">Join the Whitelist</a>
          </div>
          <div class="mt40"></div>
      </div>
  </div>
</section>
<aside class="investors-partners">
  <div class="container text-center">
      <div class="call-to-action">
        <!-- <h2>Our Partners</h2> -->   
        <a href="https://www.fenbushicapital.vc/index_en.html">
          <img src="/img/investors/fenbushi.svg"  style="max-width: 150px;">
        </a>
        <a href="https://www.sanctor.com/" class="partner" target="_blank">
          <img src="/img/partners/src-logo.jpg" style="max-width: 150px;">
        </a>
        <a href="https://outlierventures.io" class="partner" target="_blank">
          <img src="/img/partners/ov-logo.svg">
        </a>
        <a href="https://www.maven11.com/" class="partner" target="_blank">
          <img style="max-width: 105px;" src="/img/partners/maven.svg">
        </a>
        <a href="https://provalidator.com/" class="partner" target="_blank">
          <img src="/img/investors/prov.svg">
        </a>
        <a href="https://www.iconomy.partners/" class="partner" target="_blank">
          <img src="/img/investors/iconomy.svg">
        </a>
        <a href="https://mask.io/" class="partner" target="_blank">
          <img src="/img/investors/mask.svg">
        </a>
        <a href="http://portico.vc/" class="partner" target="_blank">
          <img src="/img/investors/port.svg">
        </a>
        <a href="https://twitter.com/maxstealth5" class="partner" target="_blank">
          <img src="/img/investors/tw.svg">
        </a>
        <a href="https://ldcap.com/" class="partner" target="_blank">
          <img style= "max-width: 200px" src="/img/investors/ldcapital.png">
        </a>
        <a href="https://www.gate.io/" class="partner" target="_blank">
          <img style= "max-width: 200px" src="/img/partners/gateio.svg">
        </a>
        <a href="https://www.bitmart.com/" class="partner" target="_blank">
          <img style= "max-width: 180px" src="/img/partners/bitmart.png">
        </a>
      </div>
  </div>
</aside>