@import "variables";

#finnie {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  padding: 21px 0;
  font-family: $sora;
  .left-dots {
    position: absolute;
    left: 0;
    top: 104px;
  }
  .right-dots {
    position: absolute;
    right: 0;
    top: 104px;
  }
  .hover-text {
    margin-left: 75px;
  }
  .finnie-content {
    margin-bottom: 56px;
    h1 {
      line-height: 48px;
      font-weight: normal;
      letter-spacing: -0.04em;
    }
    h6 {
      font-size: 18px;
      line-height: 32px;
    }
    .btn {
      width: 221px;
      height: 40px;
      border-radius: 24px;
    }
  }
  .finnie-card {
    width: 150px;
    height: 150px;
    cursor: pointer;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &.flipped {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    p {
      font-size: 14px !important;
      line-height: 16px !important;
      color: $blueDark;
      text-align: center;
      margin-bottom: 0;
    }
    h5 {
      font-weight: 600;
      font-size: 20px !important;
      line-height: 32px;
    }
    .front,
    .back {
      display: block;
      height: 150px;
      width: 150px;
      line-height: 60px;
      color: white;
      text-align: center;
      font-size: 4em;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .back {
      background-color: #bef0ed;
      border-radius: 50%;
      font-size: 16px;
      text-align: left;
      line-height: 25px;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
  @media (max-width: $xs) {
    padding-top: 87px;
    .left-dots-mobile {
      position: absolute;
      left: 0;
      top: 54px;
    }
    .right-dots-mobile {
      position: absolute;
      right: 0;
      top: 54px;
    }
    .hover-text {
      margin-left: unset;
      text-align: center;
    }
    .finnie-content {
      h1 {
        font-size: 32px !important;
        line-height: 40px;
        margin-bottom: 68px;
      }
    }
    .finnie-card {
      img.front {
        width: 128px;
      }
    }
  }
}
.popover-body {
  background: #ecfffe;
  .finnie-pop-container {
    position: relative;
    padding: 16px;
    #icon-close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.arrow {
  &::after {
    border-bottom-color: #ECFFFE !important;
  }
}
