@import "variables";

#finnie {
  position: relative;
  height: 400px;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  .left-dots {
    position: absolute;
    left: 0;
    top: 0;
  }
  .right-dots {
    position: absolute;
    right: 0;
    top: 0;
  }
  @media (max-width: $sm) {
  }
}
