@import "variables";

#creators-header {
  position: relative;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  color: $white;
  padding: 80px 0;
  display: flex;
  align-items: center;
  margin-top: 48px;
  font-family: $sora;

  &::before {
    background-image: url(/img/creators/creators-header.svg);
    background-repeat: no-repeat;
    background-size: 835px auto;
    background-position-y: 0px;
    background-position-x: right;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    // top: 100px;
    // left: 0px;
    width: 100%;
    opacity: 100%;
    @media (min-width: 1441px) {
      left: -200px;
    }
    @media (max-width: 768px) {
      left: 0px;
      opacity: 50%;
    }
    @media (max-width: 572px) {
      opacity: 30%;
      width: 735px;
      left: 0px;
      top: 100px;
    }
  }
}
