
    <div class="panel-group" id="panel-669076">
        <div class="panel panel-default">
            <div class="panel-heading">
                 <h4 class="panel-title" 
                 data-toggle="collapse" 
                 data-parent="#panel-669076" 
                 href="#panel-element-612961">{{ include.title }}</h4>
            </div>
            <div id="panel-element-612961" 
            class="panel-collapse in">
                <div class="panel-body">
                    {{ include.answer }}
                </div>
            </div>
        </div>
    </div>


