<section id="jumpto">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="row-left">
                    <h1>Jump to...</h1>
                    <ul class="list">
                        <li>General Information</li>
                        <li>Creators</li>
                        <li>Developers</li>
                        <li>Running a node</li>
                        <li>KOI Tokens</li>
                        <li>Koi Tasks</li>
                        <li>Staking</li>
                        <li>Partnerships</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="row-right">
                    <img src="/img/download/koi-eats-gold-graphic.svg">
                </div>
            </div>     
        </div>
    </div>
</section>