<header id="faq-options">
  <!-- <img src="/img/faq/bg-options.svg" class="bg-options d-none d-sm-block" /> -->
  <div class="container">
    <div class="cards-wrapper">
      <div class="faq-cards">
        <div class="row">
          <div class="col-sm-4">
            <div class="faq-card"></div>
          </div>
          <div class="col-sm-4">
            <div class="faq-card"></div>
          </div>
          <div class="col-sm-4">
            <div class="faq-card"></div>
          </div>
          <div class="col-sm-4">
            <div class="faq-card"></div>
          </div>
          <div class="col-sm-4">
            <div class="faq-card"></div>
          </div>
          <div class="col-sm-4">
            <div class="faq-card"></div>
          </div>
          <div class="col-sm-4">
            <div class="faq-card last"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
