@import "variables";

#create-tasks {
    background: $white;
    color: $blueDark;
    padding: 75px 0;
    min-height: 456px;
    .container {
        .create-tasks-left {
            h4,
            p {
                margin-bottom: 24px;
            }
            p {
                width: 68%;
            }
        }
        .create-tasks-right {
            img {
                width: 100%;
            }
        }
    }
    @media (max-width: $sm) {
        .container {
            .create-tasks-right {
                img {
                    width: 100%;
                }
            }
        }
    }
}
