@import "variables";

#create-tasks {
    background: $white;
    color: $blueDark;
    padding: 75px 0;
    min-height: 456px;
    .container {
        .create-tasks-left {
            h3,
            p {
                margin-bottom: 24px;
            }
            // p {
            //     width: 68%;
            // }
        }
        .create-tasks-right {
            img {
                width: 100%;
            }
        }
    }
    @media (max-width: $sm) {
        padding: 47px 0;
        .container {
            .create-tasks-left {
                h3 {
                    line-height: 32px;
                }
                p {
                    font-size: 17px !important;
                    line-height: 28px;
                }
            }
            .create-tasks-right {
                img {
                    width: 100%;
                }
            }
        }
    }
}
