@import "variables";

#download-header {
    background: $blueLight;
    color: $blueDark;
    padding: 75px 0;
    min-height: 456px;
    .container {
        .footer-options-wrapper {
            .footer-option {
                .footer-option-list {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    max-height: 100px;
                }
            }
        }
    }
}
