@import "variables";

#help {
    background: $blueLight;
    color: $blueDark;
    padding: 75px 0;
    min-height: 456px;
    .container {
        h3 {
            margin-bottom: 73px;
        }
        .help-bottom-description {
            margin-top: 80px;
            a {
                color: $green;
                text-decoration: underline;
            }
        }
    }
    @media (max-width: $sm) {
        padding: 56px 0;
        min-height: unset;
        .container {
            h3 {
                margin-bottom: 0px;
            }
            .help-bottom-description {
                margin-top: 40px;
            }
        }
    }
}
