@import "variables";

#how-it-works {
    color: $blueDark;
    padding: 75px 0 40px;
    min-height: 456px;
    background: url("/img/download/bg-wave.png");
    background-size: 100% 100%;
    .container {
        h1 {
            margin-bottom: 25px;
        }
        .how-it-works-left {
            .how-it-works-description {
                margin-bottom: 60px;
                .description-item {
                    margin-bottom: 35px;
                    p {
                        margin-left: 30px;
                        a {
                            color: #237B75;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .how-it-works-right {
            display: flex;
            justify-content: center;
        }
    }
}
