@import "variables";

.section-social {
  position: relative;
  color: $blueDark;
  box-shadow: 0px 2px 24px 2px rgba(0, 0, 0, 0.16);
  // min-height: 535px;
  margin: 70px 0;
  padding: 40px 0;
  min-height: 250px;
  .font-cap1{
    font-weight: bold;
    font-size: 32px;
    line-height: 56px;
  }
  .font-cap2{
    font-size: 20px;
    line-height: 32px;
  }
  .font-cap3{
    font-size: 20px;
    line-height: 28px;
    img{ padding-left: 20px;}
  }
  .font-cap4{
    font-size: 16px;
    line-height: 24px;
    a{
      color: $blueDark;
    }
  }
  .social-share-btn{
    display: none;
  }
  .social-contents{
    display: flex;
    justify-content: center;
    .social-content{
      max-width: 400px;
    }
  }
  
  @media (max-width: $sm) {
    margin: 50px 0;
    .font-cap1{
      font-size: 32px;
      line-height: 56px;
    }
    .font-cap2{
      font-size: 20px;
      line-height: 32px;
    }
    .font-cap3{
      font-size: 24px;
      line-height: 32px;
      img{ display: none;}
    }
    .font-cap4{
      font-size: 16px;
      line-height: 24px;
    }
    .social-share-btn{
      display: flex;
    }
  }
  .mySlides {
    display: none;
    img {vertical-align: middle;}
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  .fade:not(.show) {
    opacity: 1;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}
