@import "variables";

.section-social {
  position: relative;
  color: $blueDark;
  box-shadow: 0px 2px 24px 2px rgba(0, 0, 0, 0.16);
  // min-height: 535px;
  margin: 70px 0;
  padding: 40px 0;
  min-height: 250px;
  .font-cap1{
    font-weight: bold;
    font-size: 32px;
    line-height: 56px;
  }
  .font-cap2{
    font-size: 20px;
    line-height: 32px;
  }
  .font-cap3{
    font-size: 20px;
    line-height: 28px;
    img{ display: none;}
  }
  .font-cap4{
    font-size: 16px;
    line-height: 24px;
  }
  .social-share-btn{
    display: none;
  }
  .social-contents{
    display: flex;
    justify-content: center;
    .social-content{
      max-width: 400px;
    }
  }
  
  @media (max-width: $sm) {
    margin: 50px 0;
    .font-cap1{
      font-size: 32px;
      line-height: 56px;
    }
    .font-cap2{
      font-size: 20px;
      line-height: 32px;
    }
    .font-cap3{
      font-size: 24px;
      line-height: 32px;
      img{ display: none;}
    }
    .font-cap4{
      font-size: 16px;
      line-height: 24px;
    }
    .social-share-btn{
      display: flex;
    }
  }
}
