<header id="board">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subtitle">KOII NETWORK JOB BOARD</div>
                <div class="title">Koii is a blockchain project built for media, not just currency.</div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="top">MORE THAN</div>
                    <div class="num">25+</div>
                    <div class="bottom">Remote employees</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="top">from about</div>
                    <div class="num">10</div>
                    <div class="bottom">Different countriers</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="top">TO SUPPORT</div>
                    <div class="num">10k+</div>
                    <div class="bottom">End Users</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="top">from</div>
                    <div class="num">all over</div>
                    <div class="bottom">the world</div>
                </div>
            </div>
        </div>
    </div>
</header>