<section id="describe">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="text">
                    <h6>
                        Projects turn heads based on their revolutionary ideas, but they succeed based on the composition of their teams. At Koi, we’ve built a fully remote team scattered around the globe to capitalize on the talent and drive all over the world.
                        <br><br>of our mission is to empower creators, and we see ourselves in that role, too. Accordingly, we foster a culture where each member of our team is encouraged to learn, grow, and pursue challenges that interest them. That said, we are committed to doing really good work and getting it done.
                        <br><br>You’ll be successful at Koi if you are willing to jump into problems with both feet, ideas for creative solutions in hand. Communication is key, knowing when to ask for help is crucial, and admitting your mistakes helps us all grow. And you have to appreciate a good <u>fish meme</u>.
                        <br><br>Tech standup is at 11a ET (USA). 
                    </h6>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="pic">
                    <img src="/img/download/koi-eats-gold-graphic.svg">
                </div>
            </div>
        </div>
    </div>
</section>