<header id="list">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="categories-card">
                <div class="categories-title">Available Jobs</div>

                <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary" id="fedl">
                      <input type="radio" name="options" id="option1" autocomplete="off" onclick="option1()" > 
                      <img src="/img/jobs/icon/fedl.svg" alt="">
                      <div class="categories-content">
                        Front-End Development Lead
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="fed">
                      <input type="radio" name="options" id="option2" autocomplete="off" onclick="option2()"> 
                      <img src="/img/jobs/icon/fed.svg" alt="">
                      <div class="categories-content">
                        Front-End Developer
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="bpd">
                      <input type="radio" name="options" id="option5" autocomplete="off" onclick="option5()"> 
                      <img src="/img/jobs/icon/bpd.svg" alt="">
                      <div class="categories-content">
                        Blockchain Protocol Developer
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="uxuid">
                      <input type="radio" name="options" id="option4" autocomplete="off" onclick="option4()"> 
                      <img src="/img/jobs/icon/uxuid.svg" alt="">
                      <div class="categories-content">
                        UX/UI Designer
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="uxw">
                      <input type="radio" name="options" id="option3" autocomplete="off" onclick="option3()"> 
                      <img src="/img/jobs/icon/uxw.svg" alt="">
                      <div class="categories-content">
                       UX Writer
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="mgs">
                      <input type="radio" name="options" id="option6" autocomplete="off"onclick="option6()"> 
                      <img src="/img/jobs/icon/mgs.svg" alt="">
                      <div class="categories-content">
                        Marketing & Growth Specialist
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="ccm">
                      <input type="radio" name="options" id="option7" autocomplete="off" onclick="option7()"> 
                      <img src="/img/jobs/icon/ccp.svg" alt="">
                      <div class="categories-content">
                        Content & Copy Manager
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="rd">
                      <input type="radio" name="options" id="option8" autocomplete="off" onclick="option8()"> 
                      <img src="/img/jobs/icon/fed.svg" alt="">
                      <div class="categories-content">
                        Rust Developer
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="jnd">
                      <input type="radio" name="options" id="option9" autocomplete="off" onclick="option9()"> 
                      <img src="/img/jobs/icon/fed.svg" alt="">
                      <div class="categories-content">
                        Jr. Node Developer
                      </div>
                    </label>
                    <label class="btn btn-secondary" id="jdd">
                      <input type="radio" name="options" id="option10" autocomplete="off" onclick="option10()"> 
                      <img src="/img/jobs/icon/fed.svg" alt="">
                      <div class="categories-content">
                        Jr. DevOps Developer
                      </div>
                    </label>
                  </div>
              </div>
            </div>
            <div class="col-md-8">
                <div class="detail" id="detail">
                    <div class="detail-card">
                        <div class="detail-left">
                            <div class="title mt10">Front-End Web Development Lead</div>
                            <div class="sub mt10">Remote</div>
                            <!-- <div class="date mt10">Posted on Oct 27, 2021</div> -->
                        </div>
                        <div class="detail-right">
                            <a class="apply mt10" onclick="option1()">Apply Now</a>
                        </div>
                    </div>
                    <hr / class="mt20">
                    <div class="detail-card">
                        <div class="detail-left">
                            <div class="title mt10">Front-End Developer</div>
                            <div class="sub mt10">Remote</div>
                            <!-- <div class="date mt10">Posted on Oct 27, 2021</div> -->
                        </div>
                        <div class="detail-right">
                            <a class="apply mt10" onclick="option2()">Apply Now</a>
                        </div>
                    </div>
                    <hr / class="mt20">
                    <div class="detail-card">
                      <div class="detail-left">
                          <div class="title mt10">Blockchain Protocol Developer</div>
                          <div class="sub mt10">Remote</div>
                          <!-- <div class="date mt10">Posted on Oct 27, 2021</div> -->
                      </div>
                      <div class="detail-right">
                          <a class="apply mt10" onclick="option5()">Apply Now</a>
                      </div>
                  </div>
                  <hr / class="mt20">
                    <div class="detail-card">
                        <div class="detail-left">
                            <div class="title mt10">UX/UI Designer</div>
                            <div class="sub mt10">Remote</div>
                            <!-- <div class="date mt10">Posted on Oct 27, 2021</div> -->
                        </div>
                        <div class="detail-right">
                            <a class="apply mt10" onclick="option4()">Apply Now</a>
                        </div>
                    </div>
                    <hr / class="mt20">
                    <div class="detail-card">
                      <div class="detail-left">
                          <div class="title mt10">UX Writer</div>
                          <div class="sub mt10">Remote</div>
                          <!-- <div class="date mt10">Posted on Oct 27, 2021</div> -->
                      </div>
                      <div class="detail-right">
                          <a class="apply mt10"onclick="option3()">Apply Now</a>
                      </div>
                  </div>
                  <hr / class="mt20">
                    <div class="detail-card">
                        <div class="detail-left">
                            <div class="title mt10">Marketing & Growth Specialist</div>
                            <div class="sub mt10">Remote</div>
                            <!-- <div class="date mt10">Posted on Oct 27, 2021</div> -->
                        </div>
                        <div class="detail-right">
                            <a class="apply mt10" onclick="option6()">Apply Now</a>
                        </div>
                    </div>
                    <hr / class="mt20">
                    <div class="detail-card">
                        <div class="detail-left">
                            <div class="title mt10">Content & Copy Manager</div>
                            <div class="sub mt10">Remote</div>
                            <!-- <div class="date mt10">Posted on Oct 27, 2021</div> -->
                        </div>
                        <div class="detail-right">
                            <a class="apply mt10" onclick="option7()">Apply Now</a>
                        </div>
                    </div>
                    <hr / class="mt20">
                    <div class="detail-card">
                      <div class="detail-left">
                          <div class="title mt10">Rust Developer</div>
                          <div class="sub mt10">Remote</div>
                          <!-- <div class="date mt10">Posted on Dec 21, 2021</div> -->
                      </div>
                      <div class="detail-right">
                          <a class="apply mt10" onclick="option8()">Apply Now</a>
                      </div>
                  </div>
                  <hr / class="mt20">
                  <div class="detail-card">
                    <div class="detail-left">
                        <div class="title mt10">Jr. Node Developer</div>
                        <div class="sub mt10">Remote</div>
                        <!-- <div class="date mt10">Posted on Dec 21, 2021</div> -->
                    </div>
                    <div class="detail-right">
                        <a class="apply mt10" onclick="option9()">Apply Now</a>
                    </div>
                </div>
                <hr / class="mt20">
                <div class="detail-card">
                  <div class="detail-left">
                      <div class="title mt10">Jr. DevOps Developer</div>
                      <div class="sub mt10">Remote</div>
                      <!-- <div class="date mt10">Posted on Dec 21, 2021</div> -->
                  </div>
                  <div class="detail-right">
                      <a class="apply mt10" onclick="option10()">Apply Now</a>
                  </div>
              </div>
              <hr / class="mt20">
                </div>
            </div>
      </div>
  </div>
</header>