@import "variables";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap");

#mission-header {
  position: relative;
  color: $blueDark;
  // min-height: 535px;
  padding-top: 75px;
  display: flex;
  align-items: flex-end;
  &::before {
    background-image: url("/img/learn/run-vector.svg");
    background-repeat: no-repeat;
    // background-size: 839px auto;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 350px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .s-title {
    margin-top: 70px;
  }
  .font-cap1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 56px;
  }
  .font-cap2 {
    font-size: 20px;
    line-height: 32px;
  }
  .font-cap3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  .font-cap4 {
    font-size: 16px;
    line-height: 28px;
  }
  .font-cap-mb {
    margin: 50px 20px;
    font-family: "EB Garamond", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #171753;
  }
  .btn {
    padding: 0 30px;
    font-size: 18px;
    height: 40px;
    color: $white;
    background: $blueDark;
    width: fit-content;
    margin: 0 auto;
  }

  @media (max-width: $sm) {
    padding: 30px 0;
    background-image: url("/img/homepage/vector-mobile.svg");
    background-repeat: no-repeat;
    &::before {
      display: none;
    }
    .font-cap1 {
      font-size: 32px;
      line-height: 56px;
    }
    .font-cap2 {
      font-size: 20px;
      line-height: 32px;
    }
    .font-cap3 {
      font-size: 24px;
      line-height: 32px;
    }
    .font-cap4 {
      font-size: 16px;
      line-height: 28px;
    }
  }

  @media (min-width: $md) {
    .top {
      margin-top: 50px;
      #toptext {
        max-width: 70%;
        display: inline-flex;
        font-weight: 600;
      }
    }
    div#sec1 {
      max-width: 60%;
    }
    div#sec3 {
      margin-top: 50px;
    }
  }
}
