@import "variables";

#mission_section2 {
  position: relative;
  color: $blueDark;
  // min-height: 535px;
  margin: 75px 0;
  .font-cap1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 56px;
  }
  .font-cap2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
  }
  .font-cap3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  .font-cap4 {
    font-size: 16px;
    line-height: 28px;
  }
  a.btn.btn-blue {
    max-width: fit-content;
  }
  .apply {
    text-align: -webkit-center;
    margin: 20px;
  }
  .tap-area {
    display: flex;
    .tap-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      cursor: pointer;
      padding: 20px 0;
      transition: all 1s;
      // &:hover{
      //   box-shadow: 0px 2px 24px 2px rgba(0, 0, 0, 0.16);
      //   border-radius: 8px;
      // }
      .image-area {
        height: 130px;
      }
    }
  }
  .mobile-tap-descrs {
    display: none;
  }
  .content-detail {
    position: relative;
    box-shadow: 0px 2px 24px 2px rgba(0, 0, 0, 0.16);
    padding: 20px 15px;
    display: none;
    .icon-close {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
    }
  }

  @media (max-width: $sm) {
    padding: 30px 0;
    .font-cap1 {
      font-size: 32px;
      line-height: 56px;
    }
    .font-cap2 {
      font-size: 20px;
      line-height: 32px;
    }
    .font-cap3 {
      font-size: 24px;
      line-height: 32px;
    }
    .font-cap4 {
      font-size: 16px;
      line-height: 28px;
    }
    a.btn.btn-blue {
      font-size: 16px;
    }
    .tap-area {
      flex-direction: column;
      .tap-section {
        margin: 30px 0;
      }
    }
    .tap-descrs {
      display: none;
    }
    .mobile-tap-descrs {
      display: block;
    }
  }
}
