<header id="resources-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-content">
          <img
            src="/img/resources/resources-header-mobile.svg"
            class="d-md-none"
          />
          <div class="header-title">Koii百科</div>
          <div class="header-description">
            Building a new internet is complicated, but we've just about got it figured out - this is where you can learn how it all works. 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
