<section id="involved">
  <div class="involved-wrapper">
    <div class="involved-content">
      <h1>Join the Movement</h1>
      <p>
        Whether you're a developer, a creator, or just someone who wants to see a world without technology oligarchs, we would love to help you get involved.
      </p>
    </div>
    <img src="/img/homepage/Dots.svg" class="involved-dots" />
    <div class="involved-cards">
      <div class="row">
        {% for item in site.data.en.get_involved %}
          <div class="col-md-6">
            <a href="{{ item.link }}" style="text-decoration: none; color: #171753;" target="_blank">
            <div class="involved-card">
              <div class="involved-header">
                <img src="/img/homepage/{{ item.icon }}" />
                <h3>{{item.title}}</h3>
              </div>
              <p>{{item.subtitle}}</p>
              <p class="hint">{{item.hint}}</p>
            </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
