---
layout: front
---

<div class="koii101">
    <div class="container">
        <div class="title">
            <h1>{{ page.title }} </h1>
        </div>
        <img src="/img/creators/creators-header.svg" class="backgroundGraphic">
        <div class="detail-101">
    {{ content }}
        </div>
        
        {% include /en/home/section7.html %}    
</div>
</div>

<style>
    .backgroundGraphic {
        position: absolute;
        float: left;
        left: 650px;
        top: 20px;
        width: 58%;
        opacity: 0.3;
    }

    @media (max-width:1300px) { 
        .backgroundGraphic {
            opacity: 0.25;
        }     
    }
    @media (max-width:450px) { 
        .backgroundGraphic {
            display: none;
        }
    }
</style>