<section id="learn">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="learn-left">
                    <h1>The open web is here.</h1>
                    <h3>Most applications don’t need fast consensus. </h3>
                    <h3 class="koi-protocol">The Koi protocol comes to consensus gradually, reducing costs and technology barriers.</h3>
                    <div class="btn-wrapper d-none d-md-block">
                        <a href="/downloads/" class="btn btn-orange">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="learn-right">
                    <div class="learn-card">
                        <h3>Universal Access</h3>
                        <p>Multi-layer technology removes up-front gas fees completely.</p>
                    </div>
                    <div class="learn-card">
                        <h3>Transparent</h3>
                        <p>Scalable voting technology allows <br /> everyone to participate in consensus.
                        </p>
                    </div>
                    <div class="learn-card">
                        <h3>Sustainable</h3>
                        <p>Creators are rewarded directly without <br /> being dependent on ad revenue.</p>
                    </div>
                    <div class="btn-wrapper d-md-none">
                        <a href="/downloads/" class="btn btn-orange">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clip-path"></div>
</section>
