<section class="bg-white" id="learn">
    <div class="container">
        <div class="learn-left">
                <h1>The open web is here.</h1>
                <h3>Koi makes the web a reliable public resource.</h3>
                <a href="/koi/" class="btn btn-orange">Learn More</a>
        </div>
        <div class="learn-right">
            <div class="learn-card">
                <h3>Universal Access</h3>
                <p>Koi has no gas fees and anyone <br /> can participate.</p>
            </div>
            <div class="learn-card">
                <h3>Transparent</h3>
                <p>Koi’s scalable voting technology allows <br /> everyone to verify content quality.
                </p>
            </div>
            <div class="learn-card">
                <h3>Sustainable</h3>
                <p>Creators are rewarded directly without <br /> being dependent on ad revenue.</p>
            </div>
        </div>
    </div>
</section>