<section id="learn">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="learn-left">
                    <h1>The open web is here.</h1>
                    <!-- <h3>Most applications don’t need fast consensus. </h3> -->
                    <h3 class="koi-protocol">Koi brings personal ownership to the internet, rewarding creators for quality through the revolutionary attention economy.</h3>
                    <div class="btn-wrapper d-none d-md-block">
                        <a href="/downloads/" class="btn btn-orange">Learn More About Koi</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="learn-right">
                    <div class="learn-card">
                        <h3>Universal Access</h3>
                        <p>Koi apps have no gas fees and anyone can participate.</p>
                    </div>
                    <div class="learn-card">
                        <h3>Transparent</h3>
                        <p>The Koi protocol is open source and the Network is governed by KOI token holders.
                        </p>
                    </div>
                    <div class="learn-card">
                        <h3>Own your information</h3>
                        <p>Keep the rights (and rewards) for the content you create and post.</p>
                    </div>
                    <div class="btn-wrapper d-md-none">
                        <a href="/downloads/" class="btn btn-orange">Learn More About Koi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clip-path"></div>
</section>
