<section id="attention">
    <div class="container">
        <div class="attention-container">
            <div class="descr-area">
                <div class="font-cap1">
                    Big tech companies have put us all in boxes.
                </div>
                <div class="font-cap1 mt30">
                    Connect without giving up control— try out the future.<br><br>
                    <b>Koii can only be mined by adding content to our archive, so submit some of yours today.</b>
                </div>
                <div class="learn-btn">
                    <a href="/learn/about" class="btn btn-blue">Learn More</a> 
                    <a href="https://koi.rocks/contents" class="btn btn-red">Register Content</a>
                </div>
            </div>
            <div class="img-area">
                <img src="/img/homepage/users.svg" />
            </div>
            <div class="img-area-mobile">
                <img src="/img/homepage/users-mobile.svg" />
            </div>
        </div>
    </div>
</section>