<section id="attention">
    <div class="container">
        <div class="attention-container">
            <div class="descr-area">
                <div class="font-cap1">
                    Big tech companies have put us all in boxes.
                </div>
                <div class="font-cap1 mt30">
                    Connect without giving up control—<br>
                    <b>Break free with Koi.</b>
                </div>
                <div class="btn-wrapper mt25">
                    <a href="/learn/about" class="btn btn-blue">Learn More</a> <a href="https://koi.rocks/" class="btn btn-red">Earn Koi</a>
                </div>
            </div>
            <div class="img-area">
                <img src="/img/homepage/users.svg" />
            </div>
            <div class="img-area-mobile">
                <img src="/img/homepage/users-mobile.svg" />
            </div>
        </div>
    </div>
</section>