<section id="bubble">
    <div class="container">
        <div class="bubble-area-mobile">
            <img class="lazy" data-src="/img/homepage/bubble/bubble-mobile.svg" alt="main bubble">
            <div class="vector-img"><img class="lazy" data-src="/img/homepage/bubble/vector.svg" alt="vector bubble"></div>
            <div class="bbl-btn bk-blue btn1" data="1">Cross-Chain Bridges</div>
            <div class="bbl-btn bk-green btn2" data="2">Ad Networks</div>
            <div class="bbl-btn bk-blue btn3" data="3">Price Oracles</div>
            <div class="bbl-btn bk-blue btn4" data="4">Web Scraping</div>
            <div class="bbl-btn bk-blue btn5" data="5">Proxy Services</div>
            <div class="bbl-btn bk-blue btn6" data="6">Marketplace Services</div>
            <div class="bbl-btn bk-green btn7" data="7">Blockchain Indexing</div>
            <div class="bbl-btn bk-blue btn8" data="8">Dynamic NFTs</div>
            <div class="bbl-btn bk-blue btn9" data="9">Media Tagging</div>
            <div class="bbl-btn bk-blue btn10" data="10">Content Moderation</div>
            <div class="bbl-btn bk-orange btn11" data="11">Task Economies</div>
            <div class="bbl-btn-active bk-blue btn1-hover">
                <div class="hv-cap">Cross<br/>Chain bridges</div>
                <div class="hv-title">MARKET CAPITALIZATION</div>
                <div class="hv-description">USD $37.1 Billion <br/> 2021</div>
                <div class="hv-title">TOTAL VALUE LOCKED</div>
                <div class="hv-description">USD $16.2 Billion <br/> 2021</div>
            </div>
            <div class="bbl-btn-active bk-green btn2-hover">
                <div class="hv-cap">Ad Networks</div>
                <div class="hv-title">PROJECTED MARKET SIZE</div>
                <div class="hv-description">USD $13.35 Billion <br/> 2028</div>
                <div class="hv-title">POTENTIAL AD SPEND SAVED</div>
                <div class="hv-description">USD $19 Billion <br/> 2018</div>
            </div>
            <div class="bbl-btn-active bk-blue btn3-hover">
                <div class="hv-cap">Blockchain<br/>price oracles</div>
                <div class="hv-title">MARKET CAPITALIZATION</div>
                <div class="hv-description">USD $17.44 Billion <br/> 2021</div>
            </div>
            <div class="bbl-btn-active bk-blue btn4-hover">
                <div class="hv-cap">Web Scraping</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">$948 Million USD<br/>2020 - 2021</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">13.10%<br/>2020 - 2021</div>
            </div>
            <div class="bbl-btn-active bk-blue btn5-hover">
                <div class="hv-cap">Proxy Services</div>
                <div class="hv-title">GROSS REVENUES</div>
                <div class="hv-description">USD $76 Million<br/>2019</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">16.80%<br/>2020 - 2021</div>
            </div>
            <div class="bbl-btn-active bk-blue btn6-hover">
                <div class="hv-cap">Marketplace<br/>Services</div>
                <div class="hv-title">TRADING VOLUME</div>
                <div class="hv-description">USD $50 Billion<br/>2017 - 2021</div>
                <div class="hv-title">NFT TRADING VOLUME</div>
                <div class="hv-description">USD $10.67 Billion<br/>2021 Q3</div>
            </div>
            <div class="bbl-btn-active bk-green btn7-hover">
                <div class="hv-cap">Data<br/>Management</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">USD $14.9 Million<br/>2018</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">63.76%<br/>2019 - 2026</div>
            </div>
            <div class="bbl-btn-active bk-blue btn8-hover">
                <div class="hv-cap">NFTs</div>
                <div class="hv-title">MARKET CAPITALIZATION</div>
                <div class="hv-description">More than USD $50 Billion<br/>2021</div>
                <div class="hv-title">ANNUAL REVENUE</div>
                <div class="hv-description">USD $2.5 Billion<br/>2021 Q2</div>
            </div>
            <div class="bbl-btn-active bk-blue btn9-hover">
                <div class="hv-cap">Media<br/>Tagging</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">USD $635.77 Million<br/>2019</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">13%<br/>2021 - 2027</div>
            </div>
            <div class="bbl-btn-active bk-blue btn10-hover">
                <div class="hv-cap">Content<br/>Moderation</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">USD $5.3 Billion<br/>2020</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">12.60%<br/>2021 - 2026</div>
            </div>
        </div>
        <div class="cap-area">
            <div class="font1">Koii Nodes provide a <span class="orange">world</span> of possibilities</div>
            <div class="font2">
                Written 100% in Javascript with the ability to use any existing NPM modules
            </div>
        </div>
        <div class="bubble-area desktop">
            <img class="lazy" data-src="/img/homepage/bubble/bubble.svg" alt="main bubble">
            <div class="vector-img"><img class="lazy" data-src="/img/homepage/bubble/vector.svg" alt="vector bubble"></div>
            <div class="bbl-btn bk-blue btn1" data="1">Cross-Chain Bridges</div>
            <div class="bbl-btn bk-green btn2" data="2">Ad Networks</div>
            <div class="bbl-btn bk-blue btn3" data="3">Price Oracles</div>
            <div class="bbl-btn bk-blue btn4" data="4">Web Scraping</div>
            <div class="bbl-btn bk-blue btn5" data="5">Proxy Services</div>
            <div class="bbl-btn bk-blue btn6" data="6">Marketplace Services</div>
            <div class="bbl-btn bk-green btn7" data="7">Blockchain Indexing</div>
            <div class="bbl-btn bk-blue btn8" data="8">Dynamic NFTs</div>
            <div class="bbl-btn bk-blue btn9" data="9">Media Tagging</div>
            <div class="bbl-btn bk-blue btn10" data="10">Content Moderation</div>
            <div class="bbl-btn bk-orange btn11" data="11">Task Economies</div>
            <div class="bbl-btn-active bk-blue btn1-hover">
                <div class="hv-cap">Cross<br/>Chain bridges</div>
                <div class="hv-title">MARKET CAPITALIZATION</div>
                <div class="hv-description">USD $37.1 Billion <br/> 2021</div>
                <div class="hv-title">TOTAL VALUE LOCKED</div>
                <div class="hv-description">USD $16.2 Billion <br/> 2021</div>
            </div>
            <div class="bbl-btn-active bk-green btn2-hover">
                <div class="hv-cap">Ad Networks</div>
                <div class="hv-title">PROJECTED MARKET SIZE</div>
                <div class="hv-description">USD $13.35 Billion <br/> 2028</div>
                <div class="hv-title">POTENTIAL AD SPEND SAVED</div>
                <div class="hv-description">USD $19 Billion <br/> 2018</div>
            </div>
            <div class="bbl-btn-active bk-blue btn3-hover">
                <div class="hv-cap">Blockchain<br/>price oracles</div>
                <div class="hv-title">MARKET CAPITALIZATION</div>
                <div class="hv-description">USD $17.44 Billion <br/> 2021</div>
            </div>
            <div class="bbl-btn-active bk-blue btn4-hover">
                <div class="hv-cap">Web Scraping</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">$948 Million USD<br/>2020 - 2021</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">13.10%<br/>2020 - 2021</div>
            </div>
            <div class="bbl-btn-active bk-blue btn5-hover">
                <div class="hv-cap">Proxy Services</div>
                <div class="hv-title">GROSS REVENUES</div>
                <div class="hv-description">USD $76 Million<br/>2019</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">16.80%<br/>2020 - 2021</div>
            </div>
            <div class="bbl-btn-active bk-blue btn6-hover">
                <div class="hv-cap">Marketplace<br/>Services</div>
                <div class="hv-title">TRADING VOLUME</div>
                <div class="hv-description">USD $50 Billion<br/>2017 - 2021</div>
                <div class="hv-title">NFT TRADING VOLUME</div>
                <div class="hv-description">USD $10.67 Billion<br/>2021 Q3</div>
            </div>
            <div class="bbl-btn-active bk-green btn7-hover">
                <div class="hv-cap">Data<br/>Management</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">USD $14.9 Million<br/>2018</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">63.76%<br/>2019 - 2026</div>
            </div>
            <div class="bbl-btn-active bk-blue btn8-hover">
                <div class="hv-cap">NFTs</div>
                <div class="hv-title">MARKET CAPITALIZATION</div>
                <div class="hv-description">More than USD $50 Billion<br/>2021</div>
                <div class="hv-title">ANNUAL REVENUE</div>
                <div class="hv-description">USD $2.5 Billion<br/>2021 Q2</div>
            </div>
            <div class="bbl-btn-active bk-blue btn9-hover">
                <div class="hv-cap">Media<br/>Tagging</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">USD $635.77 Million<br/>2019</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">13%<br/>2021 - 2027</div>
            </div>
            <div class="bbl-btn-active bk-blue btn10-hover">
                <div class="hv-cap">Content<br/>Moderation</div>
                <div class="hv-title">MARKET SIZE</div>
                <div class="hv-description">USD $5.3 Billion<br/>2020</div>
                <div class="hv-title">COMPOUND ANNUAL<br/>GROWTH RATE</div>
                <div class="hv-description">12.60%<br/>2021 - 2026</div>
            </div>
        </div>
    </div>
</section>