<section id="bubble">
    <div class="container">
        <div class="bubble-area-mobile">
            <img class="lazy" data-src="/img/homepage/bubble/bubble-mobile.svg" alt="main bubble">
        </div>
        <div class="cap-area">
            <div class="font1">Koii Nodes provide a <span class="orange">world</span> of possibilities</div>
            <div class="font2">
                Written 100% in Javascript with the ability to use any existing NPM modules
            </div>
        </div>
        <div class="bubble-area desktop-1500">
            <img class="lazy" data-src="/img/homepage/bubble/bubble.svg" alt="main bubble">
            <div class="vector-img"><img class="lazy" data-src="/img/homepage/bubble/vector.svg" alt="vector bubble"></div>
            <div class="bbl-btn bk-blue btn1" data="1">Cross-Chain Bridges</div>
            <div class="bbl-btn-active bk-blue btn1-hover">hover Cross-Chain Bridges</div>
            <div class="bbl-btn bk-green btn2">Ad Networks</div>
            <div class="bbl-btn bk-blue btn3">Price Oracles</div>
            <div class="bbl-btn bk-blue btn4">Web Scraping</div>
            <div class="bbl-btn bk-blue btn5">Proxy Services</div>
            <div class="bbl-btn bk-blue btn6">Marketplace Services</div>
            <div class="bbl-btn bk-green btn7">Blockchain Indexing</div>
            <div class="bbl-btn bk-blue btn8">Dynamic NFTs</div>
            <div class="bbl-btn bk-blue btn9">Media Tagging</div>
            <div class="bbl-btn bk-blue btn10">Content Moderation</div>
            <div class="bbl-btn bk-orange btn11">Task Economies</div>
        </div>
    </div>
</section>