<section id="community">
    <div class="container">
        <div class="row">
            <div class="col-12 font1">COMMUNITY</div>
            <div class="col-12 font2">KOII tokens allow the holder to request services from Koii nodes, and can only be earned by bringing attention to the Koii Network. Since the beta launched in August, this has produced some pretty impressive results.
            </div>
        </div>
        <div class="row" id="box">
            <div class="col-md-4">
                <div class="text-box1">
                    <div class="number"><span class="num num_atomic_nfts">26000</span>+</div>
                    <div class="text">Nodes Pre-Registered</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-box2">
                    <div class="number"><span class="num num_koii_earned">5378929</span></div>
                    <div class="text">Verifiable Proofs of Real Attention</div>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="text-box3">
                    <div class="number"><span class="num num_users">17000</span>+</div>
                    <div class="text">Finnie Wallet Users</div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="worldmap-desktop">
        <img class="lazy" data-src="img/homepage/worldmap.png">
    </div>
    <div class="worldmap-mobile">
        <img class="lazy" data-src="img/homepage/worldmap-mobile.png">
    </div>
    
</section>