<script defer src="/js/jquery.prettyembed.js"></script>
<section id="revolution">
    <div class="container">
        <div class="revolution-area">
            <div class="bg-right"></div>
            <div class="font-cap1">NEWS</div>
            <div class="font-cap2 mt15">Got Questions?</div>
            <div class="font-cap3 mt10">Get started using the latest Koii tools and apps. <br><a href="https://discord.com/invite/SDwgnjxNEn" target="_blank"><u>Join our discord to ask an ambassador!</u> </a></div>
            <div class="videos mt70">
                <img src="/img/homepage/vector-l.svg" alt="" class="nav-bk first">
                <img src="/img/homepage/vector-r.svg" alt="" class="nav-bk last">
                <a href="https://blog.koii.network/How-to-install-the-Koii-Extension-in-Chrome/">
                    <div class="video-item">
                        <img class="lazy" data-original="/img/news/browser-extension.jpeg" src="img/loading.gif" alt="">
                        <div class="video-title">Learn how to install Finnie from a .zip file</div>
                        <div class="video-description">It takes less than 5 minutes, but can be complicated if you haven't done it before!</div>
                    </div>
                </a>
                <a href="https://cointelegraph.com/news/censorship-resistance-hong-kong-s-apple-daily-archives-preserved-by-artist-kevin-abosch">
                    <div class="video-item">
                        <img class="lazy" data-original="/img/news/video-item2.jpg" src="img/loading.gif" alt="">
                        <div class="video-title">Censorship resistance: Hong Kong's Apple Daily archives preserved by artist Kevin Abosch</div>
                        <div class="video-description">When 20 years of pro-democracy journalism is under threat, blockchain's potential for censorship-resistance is brought into focus.</div>
                    </div>
                </a>
                <a href="https://www.crowdcast.io/e/community-call-with-koii/1">
                    <div class="video-item">
                        <img src="/img/news/video-item3.jpg" alt="">
                        <div class="video-title">Community Call with Koii Founder Al Morris</div>
                        <div class="video-description">Watch the replay now for Koii's event on Crowdcast!</div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
