<script defer src="/js/jquery.prettyembed.js"></script>
<section id="revolution">
    <div class="container">
        <div class="revolution-area">
            <div class="bg-right"></div>
            <div class="font-cap1">NEWS</div>
            <div class="font-cap2 mt15">Got Questions?</div>
            <div class="font-cap3 mt10">Get started using the latest Koii tools and apps. <br><a href="https://discord.gg/koii" target="_blank"><u>Join our discord to ask an ambassador!</u> </a></div>
            <div class="videos mt70">
                <img src="/img/homepage/vector-l.svg" alt="" class="nav-bk first">
                <img src="/img/homepage/vector-r.svg" alt="" class="nav-bk last">
                <a href="https://www.youtube.com/watch?v=DGH8SE88ezg">
                    <div class="video-item">
                        <iframe width="100%" height="232" src="https://www.youtube.com/embed/DGH8SE88ezg?start=18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="video-title">Koii AMA: The blockchain project built for media</div>
                        <div class="video-description">Join our live AMA with Koii founder Al Morris as he discusses the future of the attention economy, attention rewards, the KOII token, and the upcoming public sale, as well as the latest and greatest NFT wallet to ever be created, Finnie.</div>
                    </div>
                </a>
                <a href="https://open.spotify.com/episode/6yU4xN0YlfBkArRb0cKnVW?si=p99YGNg_T2yTzmc9_wVZjA&utm_source=copy-link&dl_branch=1&nd=1">
                    <div class="video-item">
                        <iframe class="lazy" data-src="https://open.spotify.com/embed-podcast/episode/6yU4xN0YlfBkArRb0cKnVW" width="100%" height="232" frameborder="0" allowtransparency="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        <div class="video-title">Alex Morris, NFP with DKleine</div>
                        <div class="video-description">Alex Morris, the founder and architect of the KOII network, joins DKleine to discuss the tech behind the new protocol, applications for NFT creators, collectors and viewers on the platform, and the broad range of possibilities for the future of Web 3.0.</div>
                    </div>
                </a>
                <a href="https://www.crowdcast.io/e/community-call-with-koii/1">
                    <div class="video-item">
                        <img src="/img/news/video-item3.jpg" alt="">
                        <div class="video-title">Community Call with Koii Founder Al Morris</div>
                        <div class="video-description">Watch the replay now for Koii's event on Crowdcast!</div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
