<section id="garden_party">
  <img src="/img/homepage/koii-framework-bk.svg" class="koii_framework-dots" />
  <div class="koii_framework-wrapper">
    <div class="koii_framework-content">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <h1>Koii is a framework for the new Internet</h1>
          <p>The Narcissus Flower is the premier unveiling of the  Dynamic NFT standard, which creates an <span>Internet made for and by the people</span>. It rewards people for using the Internet. </p>
          <p>When people get rewarded, it creates an Internet that is <span>more rewarding for everyone</span>, where data is owned by its creator and all creators are paid for their work. </p>
          <p>Dynamic NFTs are one example of the Atomic NFT standard, <span>the fundamental building block of the fair, community-owned Internet.</span></p>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="koii_framework-cards">
            <div class="row">
              {% for item in site.data.home_koii_framework %}
              <div class="col-md-6">
                <div class="koii_framework-card">
                  <img src="/img/homepage/{{item.img}}.svg" width="57" />
                  <h3>{{item.title}}</h3>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
