<section id="garden_party">
  <div class="party-wrapper">
    <div class="party-content">
      <div class="row">
        <div class="col-md-12 col-lg-7">
          <div class="lbl-cap1">The Narcissus Garden Party</div>
          <div class="lbl-font1 mt30">A revolutionary new approach to NFTs that will completely redefine the way we interact with the Internet. </div>
          <div class="lbl-font1">Come learn about the new Dynamic NFT standard and hear panels with some of the brightest minds in the NFT space.</div>
          <div class="lbl-font2 desktop mt30">Don't miss Koii's presentation of the world's first regenerative artwork, and your chance to earn one!</div>
          <div class="lbl-font3 created-date mt30">
            <span class="month">09</span>&nbsp;&nbsp;&nbsp;&VerticalLine;&nbsp;&nbsp;&nbsp;
            <span class="day">27</span>&nbsp;&nbsp;&nbsp;&VerticalLine;&nbsp;&nbsp;&nbsp;
            <span class="year">21</span>
          </div>
          <div class="mt40 btn-area desktop">
            <a href="https://www.eventbrite.ca/e/koiis-narcissus-garden-party-tickets-171527422137" target="_blank"><div class="btn btn-get">Reserve Your Spot</div></a>
          </div>
        </div>
        <div class="col-md-12 col-lg-5">
          <div class="party-img">
            &nbsp;
            <img class="bubble" src="/img/homepage/bubble_swirl.svg" alt="Garden party bubble"/>
            <img class="flower" src="/img/homepage/garden_party_flower1.svg" alt="Garden party"/>
          </div>
        </div>
      </div>
      <div class="row mobile">
        <div class="col-md-12">
          <div class="lbl-font2 mt30">Don't miss Koii's presentation of the world's first regenerative artwork, and your chance to earn one!</div>
          <div class="mt40 btn-area desktop">
            <a href="https://www.eventbrite.ca/e/koiis-narcissus-garden-party-tickets-171527422137" target="_blank"><div class="btn btn-get">Reserve Your Spot</div></a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
