<section id="garden_party">
  <div class="party-wrapper">
    <div class="party-content">
      <div class="row">
        <div class="col-md-12 col-lg-7">
          <h1>The Narcissus Garden Party</h1>
          <p>A revolutionary new approach to NFTs that will completely redefine the way we interact with the Internet. </p>
          <p>Come learn about the new Dynamic NFT standard and hear panels with some of the brightest minds in the NFT space.</p>
          <p>Dynamic NFTs are one example of the Atomic NFT standard, <span>the fundamental building block of the fair, community-owned Internet.</span></p>
        </div>
        <div class="col-md-12 col-lg-5">
          <div class="party-cards">
            &nbsp;
            <img src="/img/homepage/garden_party_flower.svg" alt="Garden party"/>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
