<header id="home-header">
  <div class="demo-wrap">
  </div>
  <div class="container">
    <div class="header-description">
      <div class="col-12">
        <div class="font-cap1">What could you do with</div>
        <div class="font-cap3">1 Billion Nodes?</div>
        <div class="font-cap5"> Build applications, publish content, and earn tokenized rewards for the attention they generate.
        </div>
      </div>
      <div class="col-12">
        <div class="join-area">
          <div class="submit-area">
            <!-- <div class="font-6">Join the Investor Whitelist</div> -->
           <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "20249188",
              formId: "0dfa98e1-3b6c-406a-ae2c-ae9366d4eb08"
          });
          </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>