<header id="home-header">
    <div class="container">
        <div class="header-description">
            <div class="col-12">
                <div class="font-cap1">Get paid to post.</div>
                <div class="font-cap3">Try the wallet that lets you earn crypto on every NFT you own.</div>
            </div>
            <div class="col-12">
                <div class="join-area">
                    <div class="submit-area">
                        <div class="clear">
                            <input type="submit" onclick="window.location='/getFinnie';" href="/getFinnie" class="finnieButton valid" aria-invalid="false" value="Get the Finnie Wallet">
                        </div>
                        <div class="koii-logo-hero">
                            <img src="/img/homepage/hero_bk_after.svg" class="hero-bk-after" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="vl1 numerial-item">
          <div class="first">
            <span class="num num_users">1895</span><br>
            <span>Finnie Wallet Users</span>
          </div>
        </div>
        <div class="vl2 numerial-item">
          <div class="second">
            <span class="num num_koii_earned">44240</span><br>
            <span>KOII earned</span>
          </div>
        </div>
        <div class="vl3 numerial-item">
          <div class="third">
            <span class="num num_atomic_nfts">233</span><br>
            <span>Atomic NFTs Created</span>
          </div>
        </div>
        <!-- <div class="bar-chart">
            <dl>
                <dd class="percentage percentage-60">
                  <span class="text-description">
                    Finnie Wallet Users
                  </span>
                  <span class="text-result">1,895</span>
                </dd>
                <dd class="percentage percentage-100">
                  <span class="text-description">
                    KOII earned in the ecosystem
                  </span>
                  <span class="text-result">44,240</span>
                </dd>
                <dd class="percentage percentage-80">
                  <span class="text-description">
                    Atomic NFTs Created
                  </span>
                  <span class="text-result">233</span>
                </dd>
            </dl>
        </div> -->
    </div>
</header>
