<header id="home-header">
    <div class="container">
        <div class="row justify-content-center header-description">
            <div class="col-md-7 col-12">
                <h1 id="typing">Start earning attention rewards</h1>
                <h3 class="text-center">With Koi’s inaugural dApp, anything can be an NFT. <br>People value your digital presence, get paid like it.  </h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="justify-content-center header-btn-wrapper">
                    <a href="/framework" class="btn btn-learn page-scroll">Earn Today</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <div class="justify-content-center header-NFT">
                    <h6 class="NTF">You’ll earn attention rewards and be entered to win 100 KOI with 
                        <a href="https://koi.rocks/content-detail/SmV54kJvLQ_lRXaCVlDXx0hmfhN-_-YZP3F31k5a4I4?t=60029.905837018414"> 
                        <u>NFT of the Week</u>.</a> 
                    </h6>
                </div>
            </div>
        </div>
    </div>
</header>