<section id="home-investors">
  <div class="container">
    <div class="font-cap1">INVESTORS</div>
    <div class="font-cap2 mt15">Join the Ranks</div>
  </div>
</section>
<aside class="home-partners">
  <div class="container text-center">
      <div class="call-to-action">

        <div class="topline">
          <a href="https://www.fenbushicapital.vc/index_en.html" target="_blank">
            <img data-src="/img/investors/fenbushi.svg" class="toppartner lazy" style="max-height: 170px;">
          </a>
          <a href="https://www.sanctor.com/" target="_blank">
            <img data-src="/img/partners/src-logo.png"class="toppartner lazy" style="max-height: 80px;">
          </a>
          <a href="https://outlierventures.io" target="_blank">
            <img data-src="/img/partners/ov-logo.svg" class="toppartner lazy" max-height="170px">
          </a>
          <a href="https://www.maven11.com/" target="_blank">
            <img style="max-height: 160px;" class="toppartner lazy" data-src="/img/partners/maven.png">
          </a>
        </div>
       
        <div class="second">
          <a href="https://twitter.com/maxstealth5" target="_blank">
            <img data-src="/img/investors/tw.svg" class="partner lazy">
          </a>
          <a href="https://coinlist.co/" target="_blank">
            <img style= "max-height: 100px" data-src="/img/investors/coinlist.png" class="partner lazy">
          </a>
          <a href="https://www.drf.ee/" target="_blank">
            <img style= "max-height: 230px" data-src="/img/investors/Drf.svg" class="partner lazy">
          </a>
          <a href="https://www.tessventures.com/" target="_blank">
            <img style= "max-height: 220px"data-src="/img/investors/Tess.png" class="partner lazy">
          </a>
          <a href="https://provalidator.com/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/prov.svg" class="partner lazy">
          </a>
          <a href="https://www.iconomy.partners/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/iconomy.svg" class="partner lazy">
          </a>
          <a href="https://mask.io/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/mask.svg" class="partner lazy">
          </a>
          <a href="http://portico.vc/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/port.svg" class="partner lazy">
          </a>
          
          <a href="https://ldcap.com/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/ldcapital.png" class="partner lazy">
          </a>
          <a href="https://www.gate.io/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/partners/gateio.png" class="partner lazy">
          </a>
          <a href="https://cyberight.capital/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/cyberight.png " class="partner lazy">
          </a>
          
          <a href="https://www.arweave.org/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/arweave.svg " class="partner lazy">
          </a>
          <a href="http://www.7xvc.com/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/sevenx.png" class="partner lazy">
          </a>
         
          <a href="http://waterdrip.io/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/waterdrip.png" class="partner lazy">
          </a>
          <a href="https://doublepeak.io/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/Double_Peak.png" class="partner lazy">
          </a>
          <a href="https://www.qwerty.fund/index.php" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/qwerty.png" class="partner lazy">
          </a>
          <a href="https://ellipti.io/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/ellipti-og.png" class="partner lazy">
          </a>
          <a href="https://www.meter.io/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/dfinlab.png" class="partner lazy">
          </a>
          <a href="https://blockdaemon.com/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/blockdaemon.png" class="partner lazy">
          </a>
          <a href="https://d1.ventures/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/d1-logo.png" class="partner lazy">
          </a>
          <a href="https://zmtcapital.com/" target="_blank">
            <img style= "max-height: 80px" data-src="/img/investors/zmt.png" class="partner lazy">
          </a>
          
          <a style="padding-left: 25px;" href="https://edgeofnft.com/" target="_blank">
            <img style= "max-height: 80px;" data-src="/img/investors/Edge_of_NFT_logo.png" class="partner lazy">
          </a>
        </div>
       
      </div>
  </div>
</aside>