<section id="home-investors">
  <div class="container">
    <div class="font-cap1">INVESTORS</div>
    <div class="font-cap2 mt15">Join the Ranks</div>
  </div>
</section>
<aside class="home-partners">
  <div class="container text-center">
      <div class="call-to-action">

        <div class="topline">
          <a href="https://www.fenbushicapital.vc/index_en.html" class="toppartner" target="_blank">
            <img src="/img/investors/fenbushi.svg"  style="height: 170px;">
          </a>
          <a href="https://www.sanctor.com/" class="toppartner" target="_blank">
            <img src="/img/partners/src-logo.png" style="max-height: 80px;">
          </a>
          <a href="https://outlierventures.io" class="toppartner" target="_blank">
            <img src="/img/partners/ov-logo.svg" height="170px">
          </a>
          <a href="https://www.maven11.com/" class="toppartner" target="_blank">
            <img style="height: 160px;" src="/img/partners/maven.png">
          </a>
        </div>
       
        <div class="second">
          <a href="https://twitter.com/maxstealth5" class="partner" target="_blank">
            <img src="/img/investors/tw.svg">
          </a>
          <a href="https://coinlist.co/" class="partner" target="_blank">
            <img style= "max-height: 130px" src="/img/investors/coinlist.png" >
          </a>
          <a href="https://www.drf.ee/" class="partner" target="_blank">
            <img style= "max-height: 230px" src="/img/investors/Drf.svg" >
          </a>
          <a href="https://www.tessventures.com/" class="partner" target="_blank">
            <img style= "max-height: 220px" src="/img/investors/Tess.png " >
          </a>
        </div>
        <div class="third">
          <a href="https://provalidator.com/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/prov.svg">
          </a>
          <a href="https://www.iconomy.partners/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/iconomy.svg">
          </a>
          <a href="https://mask.io/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/mask.svg">
          </a>
          <a href="http://portico.vc/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/port.svg">
          </a>
          
          <a href="https://ldcap.com/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/ldcapital.png">
          </a>
          <a href="https://www.gate.io/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/partners/gateio.png">
          </a>
          <a href="https://cyberight.capital/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/cyberight.png " >
          </a>
          
          <a href="https://www.arweave.org/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/arweave.svg " >
          </a>
          <a href="http://www.7xvc.com/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/sevenx.png" >
          </a>
         
          <a href="http://waterdrip.io/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/waterdrip.png" >
          </a>
          <a href="https://doublepeak.io/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/Double_Peak.png" >
          </a>
          <a href="https://www.qwerty.fund/index.php" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/qwerty.png" >
          </a>
          <a href="https://ellipti.io/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/ellipti-og.png" >
          </a>
          <a href="https://www.meter.io/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/dfinlab.png" >
          </a>
          <a href="https://blockdaemon.com/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/blockdaemon.png" >
          </a>
          <a href="https://d1.ventures/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/d1-logo.png" >
          </a>
          <a href="https://zmtcapital.com/" class="partner" target="_blank">
            <img style= "max-height: 80px" src="/img/investors/zmt.png" >
          </a>
          
          <a style="padding-left: 25px;" href="https://edgeofnft.com/" class="partner" target="_blank">
            <img style= "max-height: 80px;" src="/img/investors/Edge_of_NFT_logo.png" >
          </a>
        </div>
       
      </div>
  </div>
</aside>