<section class="" id="join">
    <div class="container">
        <h1>Join the Revolution.</h1>
        <h3>Koi is a new framework for decentralized services.</h3>
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="join-option">
                    <img src="/img/homepage/feeless-icon.png">
                    <b>Feeless</b>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="join-option">
                    <img src="/img/homepage/clock-icon.png">
                    <b>Gradual Consensus</b>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="join-option">
                    <img src="/img/homepage/proof-icon.png">
                    <b>Proof of Real Traffic</b>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="join-btn-wrapper">
                <a class="btn btn-white" target="_blank" href="https://docs.openkoi.com/">Start Building</a>
                <img src="/img/homepage/fish-group.png" class="fish-group" />
            </div>
        </div>
    </div>
</section>