<section class="" id="join">
    <div class="container">
        <h1>Joi the Revolution.</h1>
        <h3>Make the web reliable, earn KOI.</h3>
        <div class="row">
            <div class="col-sm-4 ">
                <div class="join-option">
                    <img src="/img/icons/run-a-node.svg">
                    <b>Run a node</b>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="join-option">
                    <img src="/img/icons/register-content.svg">
                    <b>Register content</b>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="join-option">
                    <img src="/img/icons/build-with-koi.svg">
                    <b>Build accountability</b>
                </div>
            </div>
        </div>
        <a class="callToActionButton" href="mailto:sales@goldfishservice.xyz">Hire Koi</a>
    </div>
</section>