<section id="node">
  <img src="/img/homepage/node_net.svg" class="node-net" />
  <div class="node-wrapper">
    <div class="node-content">
      <div class="node-left">
        <h3>Node-specific tasks <br /> reduce duplicated efforts</h3>
        <p>Koii is built to scale globally and onboard users quickly.</p>
      </div>
      <div class="node-right">
        <a href="https://docs.google.com/forms/d/1sKvsAdLS12FTB65afdIee6YtgjmEjK6Fr07P1E1HHK0/edit">
          <div class="node-card">
            <p class="text-uppercase node-card-title">Have you joined the Koii whitelist yet?</p>
            <p>
              The Mainnet will launch in early September. The presale is very
              oversubscribed, but we are still open to working with strategic
              partners.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
