<section id="partner">
    <div class="container">
        <div class="row">
            <div class="font-cap1">Partners</div>
            <div class="font-cap2">Compatibility is a two-way street</div>
            <div class="font-cap3">Koii nodes are cross-chain compatible by design—these already have protoypes and more are coming weekly.</div>
        </div>
        <div class="row" id="partners-desktop">   
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/ethereum-logo.png">
                <div class="name">Ethereum</div>
                <div class="hint">live</div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/arweave-logo.png">
                <div class="name">Arweave</div>
                <div class="hint">live</div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/ipfs-logo.png">
                <div class="name">IPFS</div>
                <div class="hint"></div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/npm-logo.png">
                <div class="name">NPM</div>
                <div class="hint">Javascript Libraries</div>
            </div>
            <!-- <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/metamask-logo.png">
                <div class="name">Metamask</div>
                <div class="hint"></div>
            </div> -->
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/opensea-logo.png">
                <div class="name">OpenSea</div>
                <div class="hint"></div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/ava-logo.png">
                <div class="name">Avalanche</div>
                <div class="hint">in progress</div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/polygon-logo.png">
                <div class="name">Polygon</div>
                <div class="hint">in progress</div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/solana-logo.png">
                <div class="name">Solana</div>
                <div class="hint">in progress</div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/filecoin-logo.png">
                <div class="name">Filecoin</div>
                <div class="hint">in progress</div>
            </div>
        </div>

        <div class="" id="partners-mobile">   
            <div class="space-around">
                <div class="partner-area">
                    <img class="partner-icon lazy" data-src="img/homepage/partner/ethereum-logo.png">
                    <div class="name">Ethereum</div>
                    <div class="hint">live</div>
                </div>
                <div class="partner-area">
                    <img class="partner-icon lazy" data-src="img/homepage/partner/arweave-logo.png">
                    <div class="name">Arweave</div>
                    <div class="hint">live</div>
                </div>
                <div class="partner-area">
                    <img class="partner-icon lazy" data-src="img/homepage/partner/ipfs-logo.png">
                    <div class="name">IPFS</div>
                    <div class="hint"></div>
                </div>
            </div>
            <div class="space-between">
                <div class="partner-area">
                    <img class="partner-icon lazy" data-src="img/homepage/partner/npm-logo.png">
                    <div class="name">NPM</div>
                    <div class="hint">Javascript Libraries</div>
                </div>
                <!-- <div class="partner-area">
                    <img class="partner-icon lazy" data-src="img/homepage/partner/metamask-logo.png">
                    <div class="name">Metamask</div>
                    <div class="hint"></div>
                </div> -->
                <div class="partner-area">
                    <img class="partner-icon lazy" data-src="img/homepage/partner/opensea-logo.png">
                    <div class="name">OpenSea</div>
                    <div class="hint"></div>
                </div>
                <div class="partner-area">
                    <img class="partner-icon lazy" data-src="img/homepage/partner/ava-logo.png">
                    <div class="name">Avalanche</div>
                    <div class="hint">in progress</div>
                </div>
            </div>
            
           <div class="space-around">
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/polygon-logo.png">
                <div class="name">Polygon</div>
                <div class="hint">in progress</div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/solana-logo.png">
                <div class="name">Solana</div>
                <div class="hint">in progress</div>
            </div>
            <div class="partner-area">
                <img class="partner-icon lazy" data-src="img/homepage/partner/filecoin-logo.png">
                <div class="name">Filecoin</div>
                <div class="hint">in progress</div>
            </div>
           </div>
            
        </div>
    </div>
</section>