<section id="publish_content">
  <div class="publish_content-wrapper">
    <div class="publish_content-content">
      <div class="content-part">
        <h6>Atomic NFTs</h6>
        <h1>Publish content that lasts.</h1>
        <p>The only way to mine KOII is by publishing content that gets people’s attention.</p>
      </div>
      <div class="content-part d-flex align-items-center">
        <a href="https://cutt.ly/Sb3aU8a"><div class="btn btn-get">Get the Finnie Wallet</div></a>
      </div>
    </div>
    <img src="/img/homepage/Dots.svg" class="publish_content-dots" />
    <div class="publish_content-cards-wrapper">
      <div class="publish_content-cards">
        <div class="row">
          <div class="col-md-4">
            <div class="publish_content-card">
              <img src="/img/homepage/icon_publish1.svg" width="64" />
              <h3>Register Once, Store Permanently</h3>
              <p>Drag and drop any file into the Finnie Wallet to permanently store and own it.</p>
              <!-- <a href="#" class="text-green">{{item.link_title}}</a> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="publish_content-card">
              <img src="/img/homepage/icon_blockchain.svg" width="64" />
              <h3>Bridging Blockchains</h3>
              <p>Once your assets are registered as Atomic NFTs with Koii, they can be transferred and traded easily.</p>
              <!-- <a href="#" class="text-green">{{item.link_title}}</a> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="publish_content-card">
              <img src="/img/homepage/icon_global.svg" width="64" />
              <h3>Global Attention Tracking</h3>
              <p>Track attention and views across any portal or medium to keep big tech accountable (and mine KOII).</p>
              <!-- <a href="#" class="text-green">{{item.link_title}}</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
