<section id="revolution">
    <div class="container">
        <div class="revolution-area">
            <div class="bg-right"></div>
            <div class="font-cap1">NEWS</div>
            <div class="font-cap2 mt15">Watch the revolution.</div>
            <div class="font-cap3 mt10">Our mission is to build a decentralized network that can replace traditional web2 infrastructure like social media, search, and publishing.  <a href="https://discord.com/invite/SDwgnjxNEn" target="_blank"><u>Join us.</u> </a></div>
            <div class="videos mt70">
                <img src="/img/homepage/vector-l.svg" alt="" class="nav-bk first">
                <img src="/img/homepage/vector-r.svg" alt="" class="nav-bk last">
                <a href="https://www.youtube.com/watch?v=zoxAW6R9NEM">
                    <div class="video-item">
                        <iframe class="ytblink" src="https://www.youtube.com/embed/zoxAW6R9NEM" frameborder="0" allowfullscreen ng-show="showvideo"></iframe>
                        <div class="video-title">CGC 2021 - introducing Finnie</div>
                        <div class="video-description">Bringing personal ownership to the internet, and rewarding creators for quality.</div>
                    </div>
                </a>
                <a href="https://www.youtube.com/watch?v=QQKAhkqr8CI">
                    <div class="video-item">
                        <iframe class="ytblink" src="https://www.youtube.com/embed/QQKAhkqr8CI" frameborder="0" allowfullscreen ng-show="showvideo"></iframe>
                        <div class="video-title">Diffusion Conference 2021</div>
                        <div class="video-description">Rumi Morales talks to Al Morris about KOII, a decentralised protocol bringing personal...</div>
                    </div>
                </a>
                <a href="https://blog.koii.network/">
                    <div class="video-item">
                        <img src="/img/homepage/video3.svg" alt="">
                        <div class="video-title">Check out the KOII Blog</div>
                        <div class="video-description">Learn about how our team sees the world, access tutorials, and more!</div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
