<section id="revolution">
    <div class="container">
        <div class="revolution-area">
            <div class="bg-right"></div>
            <div class="font-cap1">NEWS</div>
            <div class="font-cap2 mt15">Get the scoop.</div>
            <div class="font-cap3 mt10">Subscribe to the Koi newsletter to receive the latest news, developer tips, and investor updates straight to your inbox.</div>
            <div class="videos mt70">
                <img src="/img/homepage/vector-l.svg" alt="" class="nav-bk first">
                <img src="/img/homepage/vector-r.svg" alt="" class="nav-bk last">
                <div class="video-item">
                    <img src="/img/homepage/video1.svg" alt="">
                    <div class="video-title">CGC 2021 - introducing Finnie</div>
                    <div class="video-description">Bringing personal ownership to the internet, and rewarding creators for quality.</div>
                </div>
                <div class="video-item">
                    <img src="/img/homepage/video2.svg" alt="">
                    <div class="video-title">Diffusion Conference 2021</div>
                    <div class="video-description">Rumi Morales talks to Al Morris about KOI, a decentralised protocol bringing personal...</div>
                </div>
                <div class="video-item">
                    <img src="/img/homepage/video3.svg" alt="">
                    <div class="video-title">Check out the KOII Blog</div>
                    <div class="video-description">Learn about how our team sees the world, access tutorials, and more!</div>
                </div>
            </div>
            
        </div>
    </div>
</section>
