<section id="revolution">
    <div class="container">
        <div class="revolution-area">
            <div class="bg-right"></div>
            <div class="font-cap1">MEDIA</div>
            <div class="font-cap2 mt15">In the News</div>
            <!-- <div class="font-cap3 mt10">Our mission is to build a decentralized network that can replace traditional web2 infrastructure like social media, search, and publishing.  <a href="https://discord.gg/koii" target="_blank"><u>Join us.</u> </a></div> -->
            <div class="videos mt70">
                <img src="/img/homepage/vector-l.svg" alt="" class="nav-bk first">
                <img src="/img/homepage/vector-r.svg" alt="" class="nav-bk last">
                <a href="https://cointelegraph.com/news/nft-potential-takes-quantum-leap-with-koii-network-s-new-dynamic-nft-standard" target="_blank">
                    <div class="video-item">
                        <img class="lazy" data-src="/img/news/new1.png" alt="" src="img/loading.gif">
                        <div class="video-title">NFT potential takes quantum...</div>
                        <div class="video-description">They decay! They grow back! They transform with the passage of time (sometimes into zombies!) Koii Network’s new NFT standard...</div>
                    </div>
                </a>
                <a href="https://www.youtube.com/watch?v=hdA1qVPZjiA" target="_blank">
                    <div class="video-item">
                        <iframe class="lazy" data-src="https://www.youtube.com/embed/hdA1qVPZjiA" width="100%" height="232" frameborder="0" allowtransparency="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        <div class="video-title">Interview with Ryan Matta</div>
                        <div class="video-description">Whats up Crypto Fam! Check out my interview with Al the CEO of the Koii Network. This tech is way over my head but...</div>
                    </div>
                </a>
                <a href="https://blog.koii.network/Ethereum-to-Koii/" target="_blank">
                    <div class="video-item">
                        <img class="lazy" data-src="/img/news/new3.png" alt="" src="img/loading.gif">
                        <div class="video-title">Earn Rewards from your...</div>
                        <div class="video-description">Koii’s Proof of Real Traffic lets Ethereum NFT holders put their idle assets to work generating revenue.</div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
