<section id="roadmap">
    <div class="container">
        <!-- <div class="roadmap-area-mobile">
            <img src="/img/homepage/roadmap/roadmap_bk.svg" alt="main roadmap">
        </div> -->
        <div class="cap-area">
            <div class="font1">Roadmap</div>
            <div class="road-map-body">
                <div class="top-lbls">
                    text1
                </div>
                <div class="arrow-area">
                    <img src="/img/homepage/roadmap/arrow1.svg" alt="arrow roadmap">
                </div>
                <div class="down-lbls">
                    text1
                </div>
            </div>
        </div>
        <div id="cbp-fwslider" class="cbp-fwslider">
            <ul>
                <li style="width: 20%;"><a href="#"><div>Text1</div></a></li>
                <li style="width: 20%;"><a href="#"><div>Text2</div></a></li>
                <li style="width: 20%;"><a href="#"><div>Text3</div></a></li>
                <li style="width: 20%;"><a href="#"><div>Text4</div></a></li>
                <li style="width: 20%;"><a href="#"><div>Text5</div></a></li>
            </ul>
        </div>
        <div class="roadmap-area">
            <img src="/img/homepage/roadmap/roadmap_background.svg" alt="main roadmap">
        </div>
    </div>
</section>