<section id="roadmap">
    <div class="container">
        <!-- <div class="roadmap-area-mobile">
            <img src="/img/homepage/roadmap/roadmap_bk.svg" alt="main roadmap">
        </div> -->
        <div class="cap-area">
            <div class="font1">Roadmap</div>
            <div class="road-map-body">
                <div class="top-lbls">
                    text1
                </div>
                <div class="arrow-area">
                    <img src="/img/homepage/roadmap/arrow1.svg" alt="arrow roadmap">
                </div>
                <div class="down-lbls">
                    text1
                </div>
            </div>
        </div>
        <div id="slider_custom">
            <div id="slider-wrapper">
                <div class="slide">
                    <h1>text1</h1>
                    <p class="caption">Caption 1</p>
                </div>
                <div class="slide">
                    <h1>text2</h1>
                    <p class="caption">Caption 2</p>
                </div>
                <div class="slide">
                    <h1>text3</h1>
                    <p class="caption">Caption 3</p>
                </div>
            </div>
            <div id="slider-nav">
                <a id="key1" href="#" data-slide="0">1</a>
                <a id="key2" href="#" data-slide="1">2</a>
                <a id="key3" href="#" data-slide="2">3</a>
            </div>
        </div>
        <div class="roadmap-area">
            <img src="/img/homepage/roadmap/roadmap_bk.svg" alt="main roadmap">
        </div>
    </div>
</section>