<section id="roadmap">
    <div class="container">
        <div class="bubble-area-mobile">
            <img src="/img/homepage/bubble/bubble-mobile.svg" alt="main bubble">
        </div>
        <div class="cap-area">
            <div class="font1">Koii Nodes provide a <span class="orange">world</span> of possibilities</div>
            <div class="font2">
                Written 100% in Javascript with the ability to use any existing NPM modules
            </div>
        </div>
        <div class="bubble-area">
            <img src="/img/homepage/bubble/bubble.svg" alt="main bubble">
        </div>
    </div>
</section>