<section class="bg-primary save-web" id="save-web">
    <div class="container">
        <div class="icon-wrapper">
            <img class="icon-fish" src="/img/koi.png" width="75">
        </div>
        <h1>Save the web, and your bank account too.</h1>
        <h3>Become a caretaker of the open web and own your share.</h3>
        <div class="d-flex justify-content-center">
            <a class="btn btn-blueDark" href="/services/">Save the Internet</a>
        </div>
        {% include components/share.html %}
    </div>
</section>