<section class="bg-primary save-web" id="save-web">
    <div class="container">
        <div class="icon-wrapper">
            <img class="icon-fish" src="/img/koi.png">
        </div>
        <h1>Save the web, and your bank account too.</h1>
        <h2>Become a caretaker of the open web and own your share.</h2>
        <a class="callToActionButton blue" href="/services/">Save the Internet</a>
        <div class="share-options">
            <a href="https://arweave.org/" target="_blank">
                <img src="/img/partners/arweave-logo.svg">
            </a>
            <a href="https://outlierventures.io" target="_blank">
                <img src="/img/partners/ov-logo.svg">
            </a>
            <a href="https://oceanprotocol.com/" target="_blank">
                <img src="/img/partners/ocean-logo.svg">
            </a>
            <a href="https://outlierventures.io/base-camp/" target="_blank">
                <img src="/img/partners/basecamp-logo.svg">
            </a>
            <a href="https://getstorecat.com/" target="_blank">
                <img style="max-width:8rem;" src="/img/partners/storecat-logo.svg">
            </a>
        </div>
    </div>
</section>