<section class="save-web" id="save-web">
    <div class="save-web-head"></div>
    <div class="save-web-body">
        <div class="container">
            <div class="icon-wrapper">
                <img class="icon-fish" src="/img/koi.png" width="75">
            </div>
            <div class="font-cap1 font-blue">Join the Revolution.</div>
            <div class="font-cap2 font-blue">Who would win, 1 million goldfish or one tech giant? <br>Our money is on the goldfish— get in early to start earning KOI.</div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-blueDark" href="/run-a-node/">Run a Koi Node</a>
            </div>
        </div>
    </div>
    <div class="save-web-body2">
        <div class="container">
            <div class="font-cap1 font-blue text-center">Next Steps</div>
            <div class="step-wrapper">
                <img src="/img/homepage/step.svg">
            </div>
            <div class="step-wrapper-mobile">
                
            </div>
        </div>
    </div>
    <div class="save-web-footer"></div>
</section>