<section id="sdk">
    <div class="container">
        <div class="font-cap1 font-blue secion-title">One SDK to <span class="font-green">rule them all.</span></div>
        <div class="section-description">
            <div class="font-cap2 font-blue">Koi makes building decentralized apps easy, bringing the attention economy to any blockchain.</div>
            <div class="font-cap2 font-blue">100,000 USDT available in ecosystem grants for projects on Koi.</div>
        </div>
        <div class="row image-area">
            <div class="col-12 col-sm-4">
                <div class="join-option">
                    <img src="/img/homepage/feeless-icon.png">
                    <b>Integrated <br /> Incentives</b>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="join-option">
                    <img src="/img/homepage/clock-icon.png">
                    <b>Quick and Easy<br /> Templates</b>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="join-option">
                    <img src="/img/homepage/proof-icon.png">
                    <b>Composible<br /> Consensus</b>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="join-btn-wrapper">
                <img src="/img/homepage/fish-group.png" class="fish-group" />
                <a class="btn" href="/framework">Launch a dApp in 5 Minutes</a>
            </div>
        </div>
    </div>
</section>