<section id="get_scoop">
    <div class="container">
        <div class="get-scoop-area">
            <!-- <div class="bg-left"></div>
            <div class="bg-right"></div> -->
            <div class="font-cap1">Join the Waitlist</div>
            <div class="font-cap2">Don’t miss out.</div>
            <!-- <div class="font-cap3">Subscribe to the Koii newsletter to receive the latest news, developer tips, and investor updates straight to your inbox.</div> -->
            <div class="join-area">
                <div class="submit-area">
                       <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	region: "na1",
	portalId: "20249188",
	formId: "367fdb37-91c7-4c21-b07f-946088f18656"
});
</script>
                </div>
            </div>
            
        </div>
    </div>
</section>
