<section id="get_scoop">
    <div class="container">
        <div class="get-scoop-area">
            <div class="bg-left"></div>
            <div class="bg-right"></div>
            <div class="font-cap1">NEWSLETTER</div>
            <div class="font-cap2">Get the scoop.</div>
            <div class="font-cap3">Subscribe to the Koi newsletter to receive the latest news, developer tips, and investor updates straight to your inbox.</div>
            <div class="join-area">
                <div class="submit-area">
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup" style="padding-top: 10px">
                    <form action="https://openkoi.us1.list-manage.com/subscribe/post?u=d90823177f316ca38afbc6c61&amp;id=b69c610637" method="POST" id="mc-embedded-signup-form" onclick="return avoidjump()"  name="mc-embedded-subscribe-form" class="validate" novalidate>
                        <div id="mc_embed_signup_scroll" style="width: 100%;">
                        {% comment %} <label for="mce-EMAIL">ok</label> {% endcomment %}
                        <input 
                        type="email" value="" name="EMAIL" class="email input-signup" id="mce-EMAIL" placeholder=" Email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <span class="clear">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn-signup">Get Connected</button>
                        </span>
                        </div>
                        
                    </form>
                    <div id="showconfirm1">
                        <h6>Thanks for joining Koi’s community!</h6>
                    </div>
                    <script type="text/javascript">
                        function avoidjump(){
                            return false;
                        }
                     </script>
                    </div>
                    <!--End mc_embed_signup-->
                    {% comment %} <div class="input-group subscription">
                        <input type="text" class="form-control input-subscription" placeholder="Email">
                        <span class="input-group-btn">
                            <button class="btn btn-white btn-subscription" type="button">Submit</button>
                        </span>
                    </div> {% endcomment %}
                </div>
            </div>
            
        </div>
    </div>
</section>
