<section id="spread">
    <div class="img-spread img-spread-left d-flex justify-content-start">
        <img src="/img/homepage/spread/spread-left.svg">
    </div>
    <div class="img-spread img-spread-right d-flex justify-content-end">
        <img src="/img/homepage/spread/spread-right.svg">
    </div>
    <div class="container">
        <div class="row desktop">
            <div class="col-md-12 font1">
                <div class="d-flex justify-content-center">
                    <h1 class='spread-title text-white'>
                        Spread your wings
                    </h1>
                </div>
            </div>
        </div>
        <div class="row desktop">
            <div class="col-md-3 font1">
                <div class="d-flex justify-content-end align-items-center h-100">
                    <h6 class='spread-content-left'>
                        Koii's lightweight nodes make scalable, decentralized apps not only possible, but easy. Our
                        mission is to <a href='#'>decentralize the web for the good of all</a>, and we need your help
                        solving those problems.
                    </h6>
                </div>
            </div>
            <div class="col-md-5 font1">
                <div class="d-flex justify-content-center">
                    <img id="spread_main_img" src="/img/homepage/spread/main.svg">
                </div>
            </div>
            <div class="col-md-3 font1">
                <div class="d-flex justify-content-end align-items-center h-100">
                    <h3 class='spread-content-right text-light-green'>
                        Whether you're a <span class="text-white">Layer 1 blockchain</span> or just about to <span
                            class='text-orange'>build your first dApp</span>, we've got the tools you need.
                        </h6>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 font1">
                <div class="d-flex justify-content-center">
                    <img src="/img/homepage/spread/spread-bottom-left.svg">
                </div>
            </div>
            <div class="col-md-3 font1">
                <a class="btn-greenLight btn"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSduDTdxD3dDOvcbIcKlG7JWOsnDFVZFdLy0J38q_OOzUC3okA/viewform"
                    target="_blank">
                    Partner with Koii
                </a>
            </div>
            <div class="col-md-3 font1">
                <a class="btn-greenLightest btn"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSduDTdxD3dDOvcbIcKlG7JWOsnDFVZFdLy0J38q_OOzUC3okA/viewform"
                    target="_blank">
                    Apply for a Grant
                </a>
            </div>
            <div class="col-md-3 font1">
                <div class="d-flex justify-content-center">
                    <img src="/img/homepage/spread/spread-bottom-right.svg">
                </div>
            </div>
        </div>
    </div>
</section>