<section id="home-team">
	<img class="bg-star" src="/img/homepage/team-star.png"></img>
	<div class="container">
		<div class="row">
			<div class="col-md-12 mt75">
				<div class="font-cap1 font-cap1">The Koii Team</div>
				<div class="users-area mt40">
					<div class="user">
					<a href="https://www.linkedin.com/in/alexanderdmorris/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/alex-morris.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Alexander Morris 
							</div>
							<div class="font-cap3">Founder & Architect</div>
						
						</div>
					</a>	
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/kaylakroot/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/kayla-kroot.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Kayla Kroot
							</div>
							<div class="font-cap3">Creative Director</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/abel-sebhatu/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/abel-sebhatu.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Abel Sebhatu
							</div>
							<div class="font-cap3">Technology Director</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/colinzarzour" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/colin-zarzour.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Colin Zarzour
								
							</div>
							
							<div class="font-cap3">Operations Director</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/geoffreyshearer/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/Geoff-Shearer.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Geoff Shearer
								
							</div>
							
							<div class="font-cap3">Head of Marketing</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/ghazanferanwar/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/syed-ghazanfer-anwar.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Ghazanfer Anwar
							
							</div>
							
							<div class="font-cap3">Lead Systems Developer</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/andre-vallestero/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/andre-vallestero.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Andre Vallestero
								
							</div>
							
							<div class="font-cap3">Systems Developer</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/nick-parolini-a5b537124/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/nick-parolini.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Nick Parolini</div>
							<div class="font-cap3">Growth Specialist</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/makda-sebhatu-9544331b4/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/makda-sebhatu.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Makda Sebhatu
								
							</div>
							
							<div class="font-cap3">Smart Contract Developer</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/dong-jin-1010/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/dong-jin.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Dong Jin
							
							</div>
							<div class="font-cap3">Lead Storecat Developer</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/kelly-garc%C3%ADa-472752219/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/kelly.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Kelly García
							
							</div>
							<div class="font-cap3">UX & Graphic Designer</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/salmanarshadcs/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/salman-arshad.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Salman Arshad
								
							</div>
							
							<div class="font-cap3">Lead Spam Prevention Developer</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/dongyue-soma-li-179130182/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/soma-li.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Soma Li
						
							</div>
							
							<div class="font-cap3">Jr UX Developer</div>
						</div>
					</a>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/yang-mi-0b88261a2/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/yang-mi.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Yang Mi
		
							</div>
							<div class="font-cap3">Sr UX Developer</div>
						</div>
					</a>
					</div>
					
					
					<div class="last">
						<div class="user">
							<a href="https://www.linkedin.com/in/sandybcsald/" target="_blank">
							<div class="avatar-area">
								<img src="/img/learn/team/sandeep-singh.jpg" >
							</div>
							<div class="info-area text-center">
								<div class="font-cap2">Sandeep Singh
									
								</div>
								<div class="font-cap3">Events Marketing Manager</div>
							</div>
						</a>
						</div>
						<div class="user">
							<div class="avatar-area">
								<img src="/img/learn/team/Eric-Liu.png" >
							</div>
							<div class="info-area text-center">
								<div class="font-cap2">Eric Liu
								</div>
								<div class="font-cap3">Bridge Developer</div>
							</div>
						</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/smithandweb/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/josh-smith.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Josh Smith
							
							</div>
							<div class="font-cap3">DevOps</div>
						</div>
					</a>
					</div>
					
					<div class="user">
						<a href="https://www.linkedin.com/in/william-zarzour/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/William-Zarzour.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">William Zarzour
							</div>
							<div class="font-cap3">Junior Analyst</div>
						</div>
					</a>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/Angela-Arias.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Angela Arias
							</div>
							<div class="font-cap3">Graphic Designer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/Muhammad-Jum’ah.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Muhammad Jum’ah
							</div>
							<div class="font-cap3">UX Developer</div>
						</div>
					</div>
					<div class="user">
						<a href="https://www.linkedin.com/in/eric-ross-3a465565/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/Eric-Ross.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Eric Ross
							</div>
							<div class="font-cap3">Support Manager</div>
						</div>
					</a>
					</div>
					
					<div class="user">
						<a href="https://www.linkedin.com/in/srikanthbezawada/" target="_blank">
						<div class="avatar-area">
							<img src="/img/learn/team/srikanth-bezawada.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Srikanth Bezawada
				
							</div>
							
							<div class="font-cap3">Developer Relations</div>
						</div>
					</a>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>
