<section id="whynode">
    <div class="container">
        <div class="row desktop">
            <div class="col-12 font1">Why Nodes?</div>
            <div class="col-md-4 font2">
                Since the launch of Bitcoin in 2009, the population of these specialized computers have grown faster than humans.
            <a class="pre btn" href="/form/pre-register/" target="_blank">
                Pre-Register to Run a Node
            </a>
                
            </div>
            <div class="col-md-8 font2">

            Most blockchain nodes only service a single network. Many require custom hardware, but <spam class="hint"><u>Koii</u>
                <span class="hinttext">Koii stands for <span style="color:#171753">Knowledgeable Open and Infinite Internet</span> because we believe that by opening knowledge to everyone, we can build something that grows exponentially faster than the current web, and will allow us to replace it with something that can grow forever.</span>
            </spam> is lightweight enough to <spam class="orange">run on personal devices like phones and tablets</spam>, and the first network to achieve <spam class="orange">scalable generalized consensus</spam>. 
            <br/><br/>Koii’s Layer-N network achieves this without its own blockchain— <spam  class="orange">it uses all of them</spam>.
            <br/><br/>Each Koii node runs ‘Tasks,’ which have their own rewards and penalties for misbehavior. Tasks run asynchronously and can include writing to one or many blockchains.              
            </div>
        </div>
        <div class="row mobile">
            <div class="mobile-top">
                <div class="font1">Why Nodes?</div>
            <div class="font2">
                Since the launch of Bitcoin in 2009, the population of these specialized computers have grown faster than humans.
            </div>
            </div>
            <div class="mobile-middle">
                <div class="font3">
                    Most blockchain nodes only service a single network. Many require custom hardware, but <spam class="hint">Koii</spam> is lightweight enough to <spam class="orange">run on personal devices like phones and tablets</spam>, and the first network to achieve <spam class="orange">scalable generalized consensus</spam>. 
                </div>
            </div>

            <div class="mobile-bottom">
                <div class="font2">
                    <br/><br/>Koii’s Layer-N network achieves this without its own blockchain— <spam  class="orange">it uses all of them</spam>.
                    <br/><br/>Each Koii node runs ‘Tasks,’ which have their own rewards and penalties for misbehavior. Tasks run asynchronously and can include writing to one or many blockchains.              
                </div>
                <a class="pre btn" href="/form/pre-register/" target="_blank">
                    Pre-Register to Run a Node
                </a>
            </div>

            
        </div>
    </div>
</section>