<section id="world_go_round">
    <img class='img-world-go-round' src="/img/homepage/world_go_round/top-left.svg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 font1">
                <div class="d-flex justify-content-center">
                    <h1 class='text-white section-title'>You make the<br /> world go round</h1>
                </div>
            </div>
            <div class="col-md-5 font1">
                <div class="d-flex justify-content-end">
                    <h6 class='description text-white'>
                        Creators and Developers are the engine make Koii thrive. Learn about how you can earn rewards by
                        doing what you already do and support the decentralized future while you’re at it.
                    </h6>
                </div>
                <div class="d-flex justify-content-start mt-5">
                    <a class="btn-greenLight btn"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSduDTdxD3dDOvcbIcKlG7JWOsnDFVZFdLy0J38q_OOzUC3okA/viewform"
                        target="_blank">
                        I Create Stuff
                    </a>
                    <a class="btn-orange btn ml-3"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSduDTdxD3dDOvcbIcKlG7JWOsnDFVZFdLy0J38q_OOzUC3okA/viewform"
                        target="_blank">
                        I Build Stuff
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>