<section id="world_go_round">
    <img class='img-world-go-round d-none d-sm-block' src="/img/homepage/world_go_round/top-left.svg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 font1">
                <div class="d-flex justify-content-center justify-content-sm-start">
                    <h1 class='text-white section-title d-none d-sm-block'>You Make The<br /> World Go Round</h1>
                    <h1 class='text-white text-center section-title d-sm-none'>You Make<br /> The World<br /> Go Round</h1>
                </div>
                <img class='d-sm-none mb-4' src="/img/homepage/world_go_round/world-mobile.svg" width="100%">
            </div>
            <div class="col-md-5 font1">
                <div class="d-flex justify-content-end">
                    <h6 class='description text-white'>
                        Creators and Developers are the engine make Koii thrive. Learn about how you can earn rewards by
                        doing what you already do and support the decentralized future while you’re at it.
                    </h6>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-start align-items-center mt-2 mt-sm-5">
                    <a class="btn-orangeLight btn mb-3 mb-sm-0"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSduDTdxD3dDOvcbIcKlG7JWOsnDFVZFdLy0J38q_OOzUC3okA/viewform"
                        target="_blank">
                        I Create Stuff
                    </a>
                    <a class="btn-greenLight btn ml-sm-3"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSduDTdxD3dDOvcbIcKlG7JWOsnDFVZFdLy0J38q_OOzUC3okA/viewform"
                        target="_blank">
                        I Build Stuff
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>