<section id="pre_register">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Help create the future. Pre-register to run a node.</h3>
            </div>
            <div class="col-12">
                <a href="https://forms.gle/XCGys2sqFcdpekP7A" target="_blank">
                    <div class="pre-register-area">
                        <h3>Green area</h3>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <p class="help-bottom-description d-none d-md-block">Are you a developer and what to know more about how to build on Koi?<br />
                    Check out our <a href="https://docs.openkoi.com/" target="_blank">brand new SDK</a>.</p>
            </div>
        </div>
    </div>
</section>