<section id="pre_register">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Help create the future. Pre-register to run a node.</h3>
            </div>
            <div class="col-12">
                {% include components/pre-register-comp.html %}
            </div>
            <div class="col-12">
                <p class="help-bottom-description">Are you a developer and what to know more about how to build on Koii?<br />
                    Check out our <a href="https://docs.koii.network/" target="_blank">brand new SDK</a>.</p>
            </div>
        </div>
    </div>
</section>