<section id="step1">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="running-node-right">
                    <h3>1. Download the Koi node software</h3>
                    <p>Running a node to earn KOI is super easy, it just takes a small amount of software that will work
                        in the background while your device is plugged in and on WiFi.
                    </p>
                    <p>If you have 250MB of space on your hard drive and 1GB of RAM you’ll be all set to run a node.
                    </p>
                    <div class="btn-wrapper d-none d-md-block">
                        <a href="/downloads/" class="btn btn-orange">Get A Node</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="running-node-left">
                    <img src="/img/download/running-node.svg">
                </div>
            </div>
        </div>
    </div>
</section>