<section id="step3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="running-node-right">
                    <h3>3. Stake KOI tokens</h3>
                    <p>
                        To interact with the network, nodes must add KOI tokens to the staking vault and choose a lock
                        period of at least 24 hours. The network requires staking to incentivize good behavior.

                    </p>
                    <p>
                        If a node acts in bad faith (falsifying data, for instance), the network will vote to take their
                        staked tokens (“slashing”).
                    </p>
                    <p class="text-bold">
                        If you are simply running a node and not engaging in nefarious activity, you don’t need to worry
                        about your stake being slashed.
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="h-100 d-flex align-items-center">
                <div class="running-node-left">
                    <img src="/img/run/step3-1.png" class="img1">
                    <img src="/img/run/step3-2.png" class="img2">
                </div>
            </div>
            </div>
        </div>
    </div>
</section>