<header id="about-header">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <div class="font-cap1 font-blue s-title">About Koi</div>
              <div class="font-cap2 font-blue">Koi brings back <b>personal ownership</b>, rewarding creators for quality through the revolutionary <b>attention economy</b>.</div>
              <div class="image-area mt40">
                  <img src="/img/learn/users.svg" class="full-img">
              </div>
          </div>
      </div>
      <div class="row mt50">
          <div class="col-md-12">
              <div class="font-cap3 font-blue s-sub-title">What is Koi?</div>
              <div class="font-cap4 font-blue mt15">Koi is a new ecosystem and economy based on attention. The ecosystem comprises three main parts.</div>
              <div class="text-center mt30">
                  <img src="/img/learn/agency.svg" alt="">
              </div>
              <div class="font-cap4 font-blue mt25">To keep the ecosystem thriving, KOI tokens are systematically exchanged between different participants.</div>
              <div class="font-cap4 font-blue mt60">The future of the internet is quality content freely available to anyone, not stuck behind paywalls or unskippable ads, and where already-wealthy companies aren’t profiting from your personal data.</div>
          </div>
          <div class="col-md-12 text-center mt40">
            <div class="font-cap5 font-blue s-sub-title2">Attention is valuable,<br>let’s treat it that way.</div>
            <div class="mt50">
                <a class="btn" href="/learn/mission">Mission & Values</a>
            </div>
          </div>
      </div>
  </div>
</header>