<header id="about-header">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <div class="font-cap1 font-blue s-title">About Koi</div>
              <div class="font-cap2 font-blue">Koi brings back <b>personal ownership</b>, rewarding creators for quality through the revolutionary <b>attention economy</b>.</div>
              <div class="image-area">
                  <img src="/img/learn/users.svg" class="full-img">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="font-cap3 font-blue s-sub-title">What is Koi?</div>
              <div class="font-cap4 font-blue">Koi is a new ecosystem and economy based on attention. The ecosystem comprises three main parts.</div>
              <div class="text-center">
                  <img src="/img/learn/agency.svg" alt="">
              </div>
              <div class="font-cap4 font-blue mt25">To keep the ecosystem thriving, KOI tokens are systematically exchanged between different participants.</div>
          </div>
      </div>
  </div>
</header>