<section id="learn-partners">
	<div class="row mt50">
			<div class="col-md-12">
					<div class="font-cap1 font-blue">Partners</div>
			</div>
	</div>
	<div class="row">
			<div class="col-md-12">
					<div class="partner-container">
							<a href="https://arweave.org/" class="partner" target="_blank">
									<img style="max-width: 80px;" src="/img/learn/partners/arweave.svg">
							</a>
							<a href="https://verto.exchange/" class="partner" target="_blank">
									<img style="max-width: 60px;" src="/img/partners/vertro-logo.svg">
							</a>
							<a href="https://kyve.network/" class="partner" target="_blank">
									<img src="/img/learn/partners/kyve.svg">
							</a>
							<!-- <a href="https://dfinity.org/" class="partner" target="_blank">
								<img src="/img/learn/partners/df.svg">
							</a> -->
					</div>
			</div>
	</div>
</section>