<section id="about-team">
	<!-- <img class="bg-nets-left" src="/img/homepage/bk_get_scoop.svg"></img>
 	<img class="bg-nets-right" src="/img/homepage/bk_get_scoop.svg"></img> -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center mt75">
				<div class="font-cap1 font-blue">The Koii Team</div>
				<div class="users-area mt40">
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/alex-morris.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Alexander Morris</div>
							<div class="font-cap3">Founder & Architect</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/kayla-kroot.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Kayla Kroot</div>
							<div class="font-cap3">Creative Director</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/abel-sebhatu.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Abel Sebhatu</div>
							<div class="font-cap3">Technology Director</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/colin-zarzour.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Colin Zarzour</div>
							<div class="font-cap3">Operations Director</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/syed-ghazanfer-anwar.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Ghazanfer Anwar</div>
							<div class="font-cap3">Lead Systems Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/anna-godfrey.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Anna Godfrey</div>
							<div class="font-cap3">Public Relations</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/dong-jin.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Dong Jin</div>
							<div class="font-cap3">Lead Storecat Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/andre-vallestero.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Andre Vallestero</div>
							<div class="font-cap3">Systems Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/makda-sebhatu.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Makda Sebhatu</div>
							<div class="font-cap3">Smart Contract Dev</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/salman-arshad.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Salman Arshad</div>
							<div class="font-cap3">Lead Spam Prevention Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/soma-li.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Soma Li</div>
							<div class="font-cap3">Jr UX Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/yang-mi.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Yang Mi</div>
							<div class="font-cap3">Sr UX Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/srikanth-bezawada.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Srikanth Bezawada</div>
							<div class="font-cap3">Developer Relations</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/sandeep-singh.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Sandeep Singh</div>
							<div class="font-cap3">Community Manager</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/Ahmad Kayyali.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Ahmad Kayyali</div>
							<div class="font-cap3">Lead UX Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/nick-parolini.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Nick Parolini</div>
							<div class="font-cap3">Community Lead</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/josh-smith.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Josh Smith</div>
							<div class="font-cap3">DevOps</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center mt75">
				<div class="font-cap1 font-blue">Advisors</div>
				<div class="users-area mt40">
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/sam-williams.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Sam Williams</div>
							<div class="font-cap3">CEO, Arweave</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/peter-yang.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Peter Yang</div>
							<div class="font-cap3">Fenbushi Capital</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/charlotte-kapoor.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Charlotte Kapoor</div>
							<div class="font-cap3">Outlier Ventures</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/brendan-joyce.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Brendan Joyce</div>
							<div class="font-cap3">leagueheads.com</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/kiefer-burgess.png" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Kiefer Burgess</div>
							<div class="font-cap3">University of Waterloo</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/matus-steis.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Matus Steiss</div>
							<div class="font-cap3">Outlier Ventures</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/team/kevin-abosch.jpg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Kevin Abosch</div>
							<div class="font-cap3">Animoca Brands</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
