<section id="about-team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center mt75">
				<div class="font-cap1 font-blue">The Koi Team</div>
				<div class="users-area mt40">
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Alexander Morris</div>
							<div class="font-cap3">Founder & Architect</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Kayla Kroot</div>
							<div class="font-cap3">Creative Director</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Abel Sebhatu</div>
							<div class="font-cap3">Technology Director</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Colin Zarzour</div>
							<div class="font-cap3">Operations Director</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">John Hrzic</div>
							<div class="font-cap3">Marketing Director</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Ghazanfer Anwar</div>
							<div class="font-cap3">Lead Systems Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Anna Godfrey</div>
							<div class="font-cap3">Public Relations</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Dong Jin</div>
							<div class="font-cap3">UX Dev Lead</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Andre Vallestero</div>
							<div class="font-cap3">Systems Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Makda Sebhatu</div>
							<div class="font-cap3">Smart Contract Dev</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Salman Arshad</div>
							<div class="font-cap3">Lead Systems Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Soma Li</div>
							<div class="font-cap3">Jr UX Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Yang Mi</div>
							<div class="font-cap3">Sr UX Developer</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Srikanth Bezawada</div>
							<div class="font-cap3">Jr Developer Relations</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Sandeep Singh</div>
							<div class="font-cap3">Community Manager</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center mt75">
				<div class="font-cap1 font-blue">Advisors</div>
				<div class="users-area mt40">
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Sam Williams</div>
							<div class="font-cap3">CEO, Arweave</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Peter Yang</div>
							<div class="font-cap3">Fenbushi Capital</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Charlotte Kapoor</div>
							<div class="font-cap3">Outlier Ventures</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Brendan Joyce</div>
							<div class="font-cap3">leagueheads.com</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Kiefer Burgess</div>
							<div class="font-cap3">University of Waterloo</div>
						</div>
					</div>
					<div class="user">
						<div class="avatar-area">
							<img src="/img/learn/user-empty.svg" >
						</div>
						<div class="info-area text-center">
							<div class="font-cap2">Matus Steiss</div>
							<div class="font-cap3">Outlier Ventures</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>