<section id="jumpto">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="row-left">
                    <h1>Jump to...</h1>
                    <ul class="list">

                        <li><a href="#general">General Information</a></li>
                        <li><a href="#runningnode">Running a node</a></li>
                        <li><a href="#Koiitokens">KOII Tokens</a></li>
                        <li><a href="#partnerships">Partnerships</a></li>
                        <li><a href="#nfts">NFTs</a></li>
                        <li><a href="#connect">Get Connected</a></li>
                
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="row-right">
                    <img src="/img/icons/Koi-eating-gold.svg">
                </div>
            </div>     
        </div>
    </div>
</section>