@import "variables";

#topnews {
    background: $white;
    padding: 75px 0;
    min-height: 456px;
    margin-left: 100px;

    .container{
        .top {
            max-width: 386px;
            margin-right: 150px;
            margin-bottom: 50px;
            a {
                color: #171753;
            }
            img {
                margin-top: 20px;
                width: 386px;
                height: 242px;                              
    
                background: #F5F5F5;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
                border-radius: 4px;
                text-align: center;
            }
            h6 {
                width: 386px;
                font-weight: 600;
                font-size: 18px !important;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .h7 {
                font-size: 15px !important; 
            }
        }
    }

    

  
    @media (max-width: $sm) {
        padding: 56px 0;
        .container {
            .running-node-right {
                margin-bottom: 80px;
            }
        }
    }
}