<section id="allnews">
    <div class="container">
        <h1>Koi in the News 
            <a href="link" class="smallbtn">See all</a>
        </h1>
        <p>
            See what everyone else is saying about Koi.
        </p>
        <div class="row">
            <div class="news1">
                <img src="/img/framework/dapps.png">
                <h6>Newsletter Title</h6>
                <p>Date and feature.</p>
            </div>

            <div class="news2">
                <img src="/img/framework/dapps.png">
                <h6>Newsletter Title</h6>
                <p>Date and feature.</p>
            </div>

            <div class="news3">
                <img src="/img/framework/dapps.png">
                <h6>Newsletter Title</h6>
                <p>Date and feature.</p>
            </div>
        </div>
    </div>
</section>