<section id="topnews">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="running-node-right">
                    <div class="running-node-left">
                        <img src="/img/framework/dapps.png">
                    </div>
                    <h3>In the Node: May the Fourth be with you...</h3>
                    <h6>A few details capturing the top line of the most recent newsletter should go here. What’s the most exciting thing happening at Koi today?
                    </h6>            
                    
                </div>
            </div>
            <div class="col-md-5 col-12">
                
            </div>
        </div>
    </div>
</section>