<section id="topnews">
    <div class="container">
        <div class="row">
            <div class="left">
                <div class="newsleft">
                    <div class="newsleftpic">
                        <img src="img/{{ include.image }}">
                    </div>
                    <div class="newslefttopic">
                        <h6>{{ include.title }}</h6>
                        <h7>{{ include.subtitle }}</h7>
                    </div>
                                
                    
                </div>
            </div>
            <div class="right">
                <div class="newsright">
                    <div class="newsrightpic">
                        <img src="/img/framework/dapps.png">
                    </div>
                    <div class="newsrighttopic">
                        <h6>In the News: "Highlight News Article Title"</h6>
                        <h7>The byline (or first couple sentences) of the featured news article should go here. We can include things like press releases that we create, as long as they are published on an outside platform.
                        </h7>
                    </div>
                                
                    
                </div>
            </div>
        </div>
    </div>
</section>