<section id="topnews">
    <div class="container">
        <div class="row">
            <div class="left">
                <div class="newsleft">
                    <div class="newsleftpic">
                        <img src="/img/{{ include.image }}">
                    </div>
                    <div class="newslefttopic">
                        <h6>{{ include.title }}</h6>
                        <h7>{{ include.subtitle }}</h7>
                    </div>                                                  
                </div>
            </div>
        </div>
    </div>
</section>