<section id="buildp2p">
  <div class="buildp2p-wrapper">
    <div class="buildp2p-content">
      <div class="font-cap1">
        构建无人能挡的点对点应用程序？<br />有了Koii一切皆有可能
      </div>
    </div>
    <div class="buildp2p-cards">
      <img src="/img/homepage/Dots.svg" class="buildp2p-dots1" />
      <img src="/img/homepage/Dots.svg" class="buildp2p-dots2" />
      <img src="/img/developers/buildp2p-vector.svg" class="buildp2p-vector" />
      <div class="row">
        <div class="col-md-6">
          <a href="/koi-protocol.pdf" target="_blank" style="text-decoration: none; color: #171731;">
          <div class="buildp2p-card">
            <h3>Layer-N网络层</h3>
            <ul>
              <li>永和任何语言来写合约</li>
              <li>默认跨链应用</li>
              <li>
                最终用户无需先购买代币即可轻松加入
              </li>
            </ul>            
          </div>
        </a>
        <a href="/universal-content-registry.pdf" target="_blank" style="text-decoration: none; color: #171731;">
          <div class="buildp2p-card card2">
            <h3>注册通用内容</h3>
            <ul>
              <li>所有内容将打包为原子NFTs</li>
              <li>所有内容会自动挖掘KOII</li>
              <li>通过真实流量证明进行保护</li>
            </ul>
      
          </div>
        </a>
        </div>

        <div class="col-md-6 d-flex align-items-center">
          <a href="/gradual-consensus.pdf" target="_blank" style="text-decoration: none; color: #171731;">
          <div class="buildp2p-card" id="right">
            <h3>渐进共识</h3>
            <ul>
              <li>
                股权证名被三条函数证明（Koii任务）
              </li>
              <li>
               手续费比传统托管费用更加便宜（！！！）
              </li>
            </ul>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
