<section id="hybrid">
  <img src="/img/homepage/Dots.svg" class="dots" />
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 text-left">
        <div class="font-cap1">使用Koii构建混合智能合约</div>
        <div class="small-img">
          <img class="infinite-img" src="/img/developers/small-infinite.png" />
        </div>

        <div class="font-cap3">
          Koii 通过将合约分为两部分：共识规则和可执行包，使点对点开发变得容易。 节点参与“任务”，提交“有效载荷”，然后投票以达成共识。
        </div>
        <div class="task">
          <a href="https://koii.network/koi-protocol.pdf" target="_blank">
            <div class="font-cap4">
              浏览Koii任务文献以了解有关其工作原理的更多信息。
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="big-img">
          <img class="infinite" src="/img/developers/infinite.png" />
        </div>
      </div>
    </div>
  </div>
</section>
