<section id="start">
  <img src="/img/homepage/Dots.svg" class="dots" />
  <img src="/img/developers/start-vector.svg" class="vector" />
  <div class="container-fluid">
    <div class="start-wrapper">
      <div class="start-content">
        <div class="content-part">
          <h1>开始使用Koii开发吧！</h1>
          <p>
            Koii 为智能合约开发人员提供了构建可扩展、交叉兼容和无人能敌的应用程序所需的节点和工具，“开箱即用”。
          </p>
        </div>
      </div>

      <!-- <img src="/img/homepage/Dots.svg" class="start-dots" /> -->
      <div class="start-cards-wrapper">
        <div class="start-card">
          <div class="font-cap1">介绍</div>
          <ul class="font-t">
            <li>从这开始</li>
            <li>架构概览</li>
            <li>安装说明</li>
            <li>对话开发者</li>
          </ul>
        </div>
        <div class="start-card">
          <div class="font-cap1">注册通用内容</div>
          <ul class="font-t">
            <li>
              全剧关注度跟踪
              <p>跨任何网站，甚至是web2</p>
            </li>
            <li>
              Content-Mining
              <p>收获KOII代币</p>
            </li>
            <li>开发可持续的生态系统应用程序</li>
          </ul>
        </div>
        <div class="start-card">
          <div class="font-cap1">NFT工具</div>
          <ul class="font-t">
            <li>
              原子NFTs
              <p>将媒体和合约结合！十分便宜！</p>
            </li>
            <li>
             基于NFT的应用程序
              <p>用户拥有内容</p>
            </li>
            <li>
              桥接市场
              <p>ETH, Tezos, Polkadot, 以及更多！</p>
            </li>
          </ul>
        </div>
        <div class="start-card">
          <div class="font-cap1">渐进共识确认法</div>
          <ul class="font-t">
            <li>孤独可拓展性</li>
            <li>低费用</li>
            <li>为用户而设计，而非财务</li>
            <li>
              支持非确定性用例
              <p>比如社交媒体</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="font-cap4">获取以开发人员为中心的最新资讯</div>
      <a
        class="nav-link signup"
        href="http://eepurl.com/hv7r5D"
        target="_blank"
        >注册</a
      >
    </div>
  </div>
</section>
