<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="font-cap1">Koii向导</div>
        <div class="font-cap2">逐步教程</div>
        <div class="font-cap3">
          我们编写了一系列教程，旨在教授点对点技术的基础知识以及如何使用它们来使用 Koii 生态系统中的数据。
        </div>
      </div>
      <div class="col-md-8">
        <div class="cards-wrapper">
          <div class="cards">
            <div class="row">
              <div class="col-md-6">
                <div class="card tutorials">
                  <div class="tutorials-content">
                    <div class="card-top">
                      <img src="/img/developers/onestar.svg" width="57" />
                      <div class="font-t">入门</div>
                    </div>
                    <div class="font-d">
                      <li>
                        什么是p2p应用？
                        <p>端口，节点，和去中心化存储</p>
                      </li>
                      <li>
                        什么是Atomic NFTs？
                        <p>了解去中心化媒体</p>
                      </li>
                      <li>
                        制作一个Koii-X应用
                        <p>“Hello World”</p>
                      </li>
                    </div>
                    <!-- <a href="#" class="learn-more">Learn More</a> -->
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card tutorials">
                  <div class="tutorials-content">
                    <div class="card-top">
                      <img src="/img/developers/twostar.svg" width="57" />
                      <div class="font-t">进阶</div>
                    </div>
                    <div class="font-d">
                      <li>
                        结构性激励
                        <p>分布函数101</p>
                      </li>
                      <li>设计审计功能</li>
                      <li>
                        Koii任务开发流程
                        <p>如何高效率实现</p>
                      </li>
                    </div>
                    <!-- <a href="#" class="learn-more">Learn More</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
