@import "variables";

#pre_register {
  background: #171753;
  color: $white;
  padding: 75px 0;
  min-height: 456px;
  .pre-register-area {
    background-color: $greenLight;
    color: #171753;
  }
  .help-bottom-description {
    a {
      color: $green;
      text-decoration: underline;
    }
  }
}
