@import "variables";

#pre_register {
    background: $white;
    color: $blueDark;
    padding: 75px 0;
    min-height: 456px;

    .pre-register-area {
        margin: 70px 25px;
        padding: 25px;
        background-color: $greenLight;
        border-radius: 6px;
    }

    @media (max-width: 1024px) {}
}